@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Dau.Services.Domain.SearchResultService
@model IEnumerable<FiltersFacilityViewModel>
@{
    var modelList = Model;
    var count = 0;
}

@foreach (var item in modelList)
{
    <h6>
        @item.FacilityName
        @if (item.FacilityIconUrl != null)
        {
            <img class="img_icon float-right" src="@Url.Content("~/Content/")@item.FacilityIconUrl" alt="@item.FacilityName">
        }
    </h6>

    @foreach (var option in item.FacilityOptions)
    {
        count++;
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input targetFilterInput" value="@option.OptionId" id="customCheck-@count">
            <label class="custom-control-label inline" for="customCheck-@count">@option.OptionName @*<span class=" float-right">@option.OptionCount</span>*@</label>

        </div>
    }


    <br />

}