@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Dau.Services.Domain.SearchResultService
@model IEnumerable<FiltersFacilityViewModel>
@{
    var modelList = Model;
    var count = 0;
    var countFeatureCategory = 0;
    var OptionsCount = 0;
}

@foreach (var item in modelList)
{
    <h6>
        @item.FacilityName
        @if (item.FacilityIconUrl != null)
        {
            <img class="img_icon float-right" src="@Url.Content("~/Content/")@item.FacilityIconUrl" alt="@item.FacilityName">
        }
    </h6>


    OptionsCount = 0;
    @foreach (var option in item.FacilityOptions)
    {
        count++;
      @if(OptionsCount <= 4) {
        <div class="custom-control custom-checkbox ">
            <input type="checkbox" class="custom-control-input targetFilterInput" value="@option.OptionId" id="customCheck-@count">
            <label class="custom-control-label inline" for="customCheck-@count"><span class=" float-right">@option.OptionCount</span> @option.OptionName </label>

        </div>

      }
        <div class="collapse" id="collapseFeatures-@countFeatureCategory">
            @if (OptionsCount > 4)
            {
                <div class="custom-control custom-checkbox ">
                    <input type="checkbox" class="custom-control-input targetFilterInput" value="@option.OptionId" id="customCheck-@count">
                    <label class="custom-control-label inline" for="customCheck-@count"><span class=" float-right">@option.OptionCount</span> @option.OptionName </label>

                </div>
            }
        </div>

        OptionsCount++;

    }
       
         
        

    @if (item.FeaturesInCategoryCount > 4)
    {@* show only when it is greater than 4*@
    <a data-toggle="collapse" href="#collapseFeatures-@countFeatureCategory" role="button" aria-expanded="false" aria-controls="collapseFeatures-@countFeatureCategory">@Localizer["Show all {0}", item.FeaturesInCategoryCount] </a><i class="fa fa-angle-down"></i>
}

    <br />
    <br />
    countFeatureCategory++;
}