@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- The Modal -->
<div id="myModal" class="modal_filter">




        <div class="card model_filter_content">
            <div class="card-header-sm  bg-primary ">

                <span class="close float-right d-lg-none">&times;</span>
                <h5 class="text-white">@Localizer["Filter"]: </h5>
            </div>

            <div class="card-body">

                <button type="button" class="btn d-block btn-sm btn-outline-primary btn-block btn-icon mb-3 " onclick="reloadPage()">
                    <span class="btn-inner--text">@Localizer["Reset"]</span>

                </button>



                @*<button type="button" class="btn btn-sm btn-primary  px-4"> <span class="btn-inner--text">@Localizer["Search"]</span></button>*@

                <h6>@Localizer["Dormitory type"]</h6>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="privateDormitories" checked>
                    <label class="custom-control-label inline" for="privateDormitories">@Localizer["Private dormitories"] @*<span class=" float-right">@option.OptionCount</span>*@</label>

                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="schoolDormitories" checked>
                    <label class="custom-control-label inline" for="schoolDormitories">@Localizer["School dormitories"] @*<span class=" float-right">@option.OptionCount</span>*@</label>

                </div>

                @*<h6>@Localizer["Dormitory Type"]</h6>
        <select class="form-control targetFilterInput" id="_DormitoryTypesFilter" data-toggle="select" title="@Localizer["Select Dormitory type"]" data-live-search="true" data-live-search-placeholder="Search ..."></select>
        <br />
        <br />*@
                <h6>@Localizer["Dormitory name"]</h6>
                <select class="form-control targetFilterInput" id="_DormitoriesFilter" data-toggle="select" title="@Localizer["Select Dormitory name"]" data-live-search="true" data-live-search-placeholder="Search ..." multiple></select>

                <br />
                @* <h6>@Localizer["Stay duration"]</h6>
        <select class="form-control form-control-lg h6 targetFilterInput" data-toggle="select" title="@Localizer["Select semester"]" data-live-search="true" data-live-search-placeholder="Search ..." >
            <option></option>
            <option>1 semester - Fall 2019</option>
            <option>3 months - Summer 2019</option>
            <option>1 year -Fall 2019 to Spring 2020</option>
            <option>2 years - Fall 2019 to next fall 2021</option>
        </select>*@


                <br />

                <h6>@Localizer["Price ({0})", "$ USD"]</h6>

                <div class="range-slider-wrapper ">
                    <!-- Range slider container -->
                    <div id="input-slider-range" class="input-slider targetFilterInputStatic" data-range-value-min="1000" data-range-value-max="7000"></div>
                    <!-- Range slider values -->
                    <div class="row">
                        <div class="col-6">
                            <span class="range-slider-value value-low targetFilterInputStatic" data-range-value-low="800" id="input-slider-range-value-low"></span>
                        </div>
                        <div class="col-6 text-right">
                            <span class="range-slider-value value-high targetFilterInputStatic" data-range-value-high="7000" id="input-slider-range-value-high"></span>
                        </div>
                    </div>
                </div>

                <br />




                <h6>@Localizer["Room area ({0})", "m2"]</h6>

                <div class="input-slider-container mb-4">
                    <div id="input-slider-room" class="input-slider input-slider--red targetFilterInputStatic" data-range-value-min="0" data-range-value-max="100"></div>
                    <!-- Input slider values -->
                    <div class="row mt-3">
                        <div class="col-6">
                            <span id="input-slider-red-value targetFilterInputStatic" class="range-slider-value" data-range-value-low="100"></span>
                        </div>
                    </div>
                </div>

                <br />

                <h6>@Localizer["Availability"]</h6>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="ShowAvailable" checked>
                    <label class="custom-control-label inline" for="ShowAvailable">@Localizer["Show only Available"] @*<span class=" float-right">@option.OptionCount</span>*@</label>

                </div>



                <h6>@Localizer["Campains"]</h6>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="ShowDiscounts">
                    <label class="custom-control-label inline" for="ShowDiscounts">@Localizer["Show Discounts only"] @*<span class=" float-right">@option.OptionCount</span>*@</label>

                </div>

                <h6>@Localizer["Ratings"]</h6>
                <div class="custom-control custom-checkbox ">
                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="RatingStar1" checked>
                    <label class="custom-control-label inline" for="RatingStar1">

                        <span class="static-rating static-rating-lg">
                        <i class="star fas sf fa-star voted"></i>
                        <i class="star fas sf fa-star "></i> 
                        <i class="star fas sf fa-star "></i>
                        <i class="star fas sf fa-star "></i> 
                        <i class="star fas sf fa-star "></i>
                        </span>

                    </label>
                </div>
                <div class="custom-control custom-checkbox ">
                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="RatingStar2" checked>
                    <label class="custom-control-label inline" for="RatingStar2">
                        <span class="static-rating static-rating-lg">
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star "></i>
                            <i class="star fas sf fa-star "></i>
                            <i class="star fas sf fa-star "></i>
                        </span>

                    </label>

                </div>
                <div class="custom-control custom-checkbox ">

                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="RatingStar3" checked>
                    <label class="custom-control-label inline" for="RatingStar3">

                        <span class="static-rating static-rating-lg">
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star "></i>
                            <i class="star fas sf fa-star "></i>
                        </span>
                    </label>

                </div>
                <div class="custom-control custom-checkbox ">

                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="RatingStar4" checked>
                    <label class="custom-control-label inline" for="RatingStar4">

                        <span class="static-rating static-rating-lg">
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star "></i>
                        </span>
                    </label>

                </div>
                <div class="custom-control custom-checkbox ">

                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="RatingStar5" checked>
                    <label class="custom-control-label inline" for="RatingStar5">
                        <span class="static-rating static-rating-lg">
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                            <i class="star fas sf fa-star voted"></i>
                        </span>
                    </label>

                </div>
                <div class="custom-control custom-checkbox ">

                    <input type="checkbox" class="custom-control-input targetFilterInputStatic" id="RatingUnrated" checked>
                    <label class="custom-control-label inline" for="RatingUnrated">@Localizer["Unrated"]</label>

                </div>

             
                <br />
                <div id="_FilterbottomFacilities">
                    <Dau-loader></Dau-loader>
                </div>
            </div>
        </div>
   

    <!--model_filter Ends here-->
</div>
