@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Dau.Services.Domain.SearchResultService
@model List<RoomResultViewModel>
@{
    var modelList = Model;
    var count = 0;

    Random rnd = new Random();

    int randomNumber = rnd.Next(Model.Count);
}
<h6 class="text-center mt-3">@Localizer["Search result: {0} rooms found", modelList.Count]</h6>

@foreach (var item in modelList)
{
    <div class="card  card-dorm-search">


        <div class="card-body row">
            <div class="col-lg-4 col-md-4 swiper-js-container" style="position:relative">

                <!-- Swiper Arrows -->

                <div class="swiper-button swiper-button-prev " style="position:absolute; right:10%; top:40%;" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="swiper-button swiper-button-next float-right" style="position:absolute; left:93%; top:40%; " tabindex="0" role="button" aria-label="Next slide" aria-disabled="true">
                    <i class="fa fa-angle-right"></i>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>

                <div class="swiper-container swiper-container-horizontal" data-swiper-items="1" data-swiper-space-between="20" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xl-items="1" data-swiper-xl-space-between="20" style="cursor: grab;">
                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">


                        @foreach (var ImageUrl in item.ImageUrls)
                        {
                            <div class="swiper-slide swiper-slide-next" style="width: 230px; margin-right: 20px;">
                                <div class="card border-0">
                                    <div class="text-white">
                                        <img alt="Image placeholder" class="img-fluid " src="@ImageUrl">

                                    </div>
                                </div>
                            </div>

                        }
                    </div>

                </div>



            </div>



            <div class="col-lg-5 col-md-5">

                <h4 class="dormitory-name d-inline"><a href="@Url.Content("~/Dormitories/"+item.DormitorySeoFriendlyUrl)" target="_blank">@item.DormitoryName</a></h4>
                <a href="@Url.Content("~/Dormitories/"+item.DormitorySeoFriendlyUrl)#_RoomSection" target="_blank" class="h3">@item.RoomName</a> <a data-fancybox data-type="ajax" data-src="@Url.Content("~/Dormitory/GetSpecificRoomView")/@item.RoomId" href="javascript:;"> <i class="fas fa-search-plus  text-warning"></i></a>
                @if(item.ReviewNo>0){
                <dau-rating rating="@item.RatingNoRaw"></dau-rating>
                }else{
                <dau-rating rating="0"></dau-rating>
                }


                <span><i class="fa fa-thumbs-up" style="color:orange;"></i></span>
                <span class="badge badge-secondary">@item.DormitoryRoomBlock</span><span class="badge badge-secondary">@item.GenderAllocation</span>




                <div class="location-info">
                    <span class="address-show-map" style="color:#269038; text-decoration:underline;">
                        <i class="fa fa-map-marker text-primary "></i>
                        <a href="javascript:;" data-fancybox data-type="iframe" data-src="@item.MapSection" style=" color:#269038">@item.DormitoryStreetAddress - @Localizer["Show on map"]</a>
                    </span>

                    <span class="nearneast-to-subway">
                        <a href="javascript:;" data-fancybox data-type="iframe" data-src="@item.MapSection">
                            <i class="far fa-map  text-warning"></i>
                        </a>
                        <a href="javascript:;" data-fancybox data-type="iframe" data-src="@item.MapSection" style="color:#269038">@item.ClosestLandMark </a>
                    </span>

                </div>

                @*<p class="h6">
            @item.ShortDescription

        </p>*@
                @if (item.Features != null)
                {
                    @foreach (var feature in item.Features)
                    {
                        <span class=" mt-1 facilityCol">
                            @if (feature.IconUrl != null)
                            {
                                <img alt="Image placeholder" src="@feature.IconUrl" style="width: 20px;">
                            }
                            @*@feature.FeatureName*@
                        </span>
                    }

                    @if (item.Features.Count > 0)
                    {
                        <a href="@Url.Content("~/Dormitories/"+item.DormitorySeoFriendlyUrl)#_RoomSection">... @Localizer["view more"]</a>
                    }
                }

                @*<span><i class="fa fa-credit-card"></i><a href="#">Reservation possible without a credit card</a></span>*@
                @*<p class="text-danger">Booked 2 times in the last 6 hours</p>*@

                @if (item.DisplayNoRoomsLeft)
                {
                    if (item.NumberOfRoomsLeft > 5)
                    {
                        <p class="" style="color:#269038;">@Localizer["Don't miss out {0} rooms left", item.NumberOfRoomsLeft]</p>
                    }
                    else if (item.NumberOfRoomsLeft > 0 && item.NumberOfRoomsLeft <= 5)
                    {
                        <p class="text-danger">@Localizer["Don't miss out {0} rooms left", item.NumberOfRoomsLeft]</p>
                    }

                }
            </div>

            <div class="col-lg-3  col-md-3 rating">
                <div class="rating-detail">
                    <span class="rating-text inline h4">@item.RatingText</span>
                    <a class=" float-right rating-no text-white text-bold h3">@item.RatingNo  </a>
                </div>

                @{count++; }
                @if (item.ReviewNo > 0)
                {
                    <span class="d-block text-primary">@Localizer["{0} reviews", item.ReviewNo]</span>
                }
                else
                {
                    <span class="d-block text-primary">@Localizer["No reviews"]</span>
                }

                <span class="h5" id="DealEnds-@count"></span>


                @*<a href="#" class=" btn btn-sm btn-primary">@Localizer["Show prices"]</a>*@
                @if (item.DisplayDeal)
                {
                    <h5 class="text-bold d-block" style="color:#269038">@Localizer["{0}% off", item.PercentageOff]</h5>}

                @if (item.ShowPrice)
                {

                    <h4 class="text-bold d-block" style="color:#269038">@String.Format("{0} {1}", "$", item.Price)</h4>
                    @if (item.OldPrice != null)
                    {
                        <strike><h4 class="text-bold" style="color:grey; ">@String.Format("{0} {1}", "$", item.OldPrice)</h4></strike>
                    }


                    @if (item.PaymentPerSemesterNotYear)
                    {
                        <h5 class="text-bold d-block" style="color:#269038">@Localizer["Per semester"]</h5>
                    }
                    else
                    {
                        <h5 class="text-bold d-block" style="color:#269038">@Localizer["Per year"]</h5>
                    }
                }
                else
                {
                    <a href="@Url.Content("~/Dormitories/"+item.DormitorySeoFriendlyUrl)#_RoomSection" class="mt-5 btn btn-sm btn-primary">@Localizer["Show price"]</a>
                }



                @*<ul class="list-inline mb-2">
            <li class="list-inline-item pr-2">
                <a href="#"><i class="fas fa-star mr-1"></i> /a>
            </li>
            <li class="list-inline-item">
                <i class="fas fa-comparetext-muted mr-1"></i>
            </li>
        </ul>*@
                @if (item.NumberOfRoomsLeft > 0)
                {
                    <a href="@Url.Content("~/Dormitories/"+item.DormitorySeoFriendlyUrl)#_RoomSection" class="mt-1 btn btn-sm btn-primary">@Localizer["Book Now"]</a>
                }
                else
                {
                    <span class="text-danger d-block"> @Localizer["Rooms sold out"]</span>
                }
            </div>

        </div>
    </div>

    <br />

    @if (randomNumber == count)
    {
        <div id="onScrollAlert">

        </div>
    }

    @if (item.DisplayDeal)
    {
        <script>

    $('#DealEnds-@count').countdown('@item.DealEndTime.ToString("yyyy/MM/dd HH:mm:ss",CultureInfo.InvariantCulture)')
        .on('update.countdown', function(event) {
         var format = '%H:%M:%S';
         if (event.offset.totalDays > 0) {
         format = '%-d day%!d ' + format;
     }
            if (event.offset.weeks > 0) {
         format = '%-w week%!w ' + format;
     }
            $(this).html('@Localizer["Deal ends in"] ' + event.strftime(format));
        })
        .on('finish.countdown', function (event) {
            $(this).html('@Localizer["This offer has expired!"]')
                .parent().addClass('disabled');

 });
        </script>
    }
}