@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@** this is were it starts*@

<h6>@Localizer["Filter and sort all private and school dormitories/ accomodations rooms"]</h6>


<div class="card ">

    <div class="card-body-search ">
        <div class="row " style="margin:0px; padding:0px;">


            <div class="col" style="margin:0px; padding:0px;">
                <button class="btn btn-sm  btn-block btn-warning sortingBtns  " onClick="sortingFunc(1)" id="SortByAzBtn">@Localizer["A-Z"]</button>
            </div>

            <div class="col" style="margin:0px; padding:0px;">
                <button class="btn btn-sm  btn-block btn-outline-warning sortingBtns " onClick="sortingFunc(2)" id="SortByPriceBtn">@Localizer["Price"]</button>
            </div>

            <div class="col" style="margin:0px; padding:0px;">
                <button class="btn btn-sm btn-block btn-outline-warning btn-block sortingBtns " onClick="sortingFunc(3)" id="SortByRatingBtn">@Localizer["Rating"]</button>
            </div>


            <a href="javascript:;" data-fancybox data-type="iframe" data-src="https://www.emu.edu.tr/campusmap?design=empty#" class="float-right btn-sm  btn btn-warning btn-icon-label">
                <span class="btn-inner--icon"><i class="far fa-map"></i></span>
                <span class="btn-inner--text">@Localizer["View Map"]</span>
            </a>
        </div>

    </div>
</div>