
@{
    ViewData["Title"] = Localizer["SearchResultPage"];
    Layout = "~/Views/Shared/_LayoutUserNew.cshtml";
}



<section class="slice" style=" padding-top:20px; ">
    <div class="container">
        <div class="row row-grid">





            <div class="col-lg-3">

                <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover">

                    @{await Html.RenderPartialAsync("/Views/Search/_Filtertop.cshtml", null);}
                    </div>
               
            </div>


                <div class="col-lg-9">


                    <div id="_SortingButtonsSection">
                        <Dau-loader></Dau-loader>
                    </div>

                    <div id="SearchResultSection">
                        <Dau-loader></Dau-loader>
                    </div>



                </div>

            </div>

        <div class="fabb d-lg-none " id="">
            <button type="button" id="FabBtn" class="btn btn-primary btn-icon-only ">
                <span class="btn-inner--icon"><i class="fas fa-filter"></i></span>
            </button>
        </div>
    </div>


</section>

<!-- Call to action -->
<!-- Call to action -->

<section class="slice slice-lg bg-primary">

    <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-weight-400 text-white">@Localizer["I am ready to start booking Now"] </h3>
                <div class="mt-5">
                    <a href="" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4">@Localizer["Book my first Room"]<span class="badge badge-pill badge-danger text-sm">@Localizer["Now"]</span></a>
                    <a href="" class="btn btn-link text-white">@Localizer["Have an issue?"]</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
    {
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/select2/dist/js/select2.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/swiper/dist/js/swiper.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/autosize/dist/autosize.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery.countdown/jquery.countdown.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/@@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="@Url.Content("~/viewsjs/Public")/SearchResultPage.js"></script>

    <script>



        function sortingFunc() {
            //  alert(event.srcElement.id);

            $('.sortingBtns').removeClass('btn-warning');
            $('.sortingBtns').removeClass('btn-outline-warning');
            $('.sortingBtns').addClass('btn-outline-warning');

            $('#' + event.srcElement.id).removeClass('btn-outline-warning');
            $('#' + event.srcElement.id).addClass('btn-warning');

            SearchRooms();
        }

        function reloadPage() {
            location.reload();
        }
    </script>

}

@section styles{
    <link type="text/css" href="@Url.Content("~/frontend_Content/assets")/vendor/swiper/dist/css/swiper.min.css" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/frontend_Content/assets")/vendor/select2/dist/css/select2.min.css" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/frontend_Content/assets")/vendor/@@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/viewscss/Public")/SearchResultPage.css" rel="stylesheet">

}