@{

    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";

    ViewData["navClass"] = "navbar-sticky bg-gradient-primary navbar-dark";
    ViewData["navClassHeaderTop"] = "bg-gradient-primary navbar-dark";

    @**navbar-dark**@
}


        <!DOCTYPE html>
        <html lang="en">

        <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="Webpixels">

            <title>Search Dorms| Eastern Mediterranean University</title>

            <!-- Favicon -->
            <link rel="icon" href="@Url.Content("~/frontend_Content/assets")/img/brand/favicon.png" type="image/png">

            <!-- Fonts -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">

            <!-- Font Awesome 5 -->
            <link rel="stylesheet" href="@Url.Content("~/frontend_Content/assets")/vendor/@@fortawesome/fontawesome-free/css/all.min.css">



            <!-- Theme CSS -->
            <link rel="stylesheet" href="@Url.Content("~/frontend_Content/assets")/css/theme.css">

            @RenderSection("styles", false)
        </head>

        <body>
            @*@Html.Partial("/Views/Shared/Components/AdministratorEntryPoint.cshtml", null)*@


            @Html.Partial("/Views/Shared/Components/headerMain.cshtml", null)



            <main>



                @RenderBody()

                <!-- Call to action -->

                <section class="slice slice-lg bg-primary">

                    <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-8 text-center">
                                <h3 class="font-weight-400 text-white">I am ready to start booking Now </h3>
                                <div class="mt-5">
                                    <a href="" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4">Book my first Room<span class="badge badge-pill badge-danger text-sm">Now</span></a>
                                    <a href="" class="btn btn-link text-white">Have an issue?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>


            @Html.Partial("/Views/Shared/Components/_footerMainWhite.cshtml", null)


            <!-- Core -->
            <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery/dist/jquery.min.js"></script>
            <script src="@Url.Content("~/frontend_Content/assets")/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="@Url.Content("~/frontend_Content/assets")/vendor/in-view/dist/in-view.min.js"></script>




            <!-- Page plugins -->
            <script src="@Url.Content("~/frontend_Content/assets")/vendor/sticky-kit/dist/sticky-kit.min.js"></script>
            <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
            <script src="@Url.Content("~/frontend_Content")/assets/vendor/typed.js/lib/typed.min.js"></script>



            <!-- Theme JS -->

            <script src="@Url.Content("~/frontend_Content/assets")/js/theme.min.js"></script>

            @RenderSection("scripts", false)

        </body>

        </html>
