@{

    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";
    ViewData["navClass"] = " navbar-sticky bg-gradient-primary navbar-dark";
}


<!DOCTYPE html>
<html lang="en">

<head>

    @{await Html.RenderPartialAsync("/Views/Shared/Components/MetadataHead.cshtml", null);}


</head>

<body>


    @{await Html.RenderPartialAsync("/Views/Shared/Components/headerMain.cshtml", null);}



    <main>



        <header class="header-account-page bg-gradient-primary d-flex align-items-end">
            <div class="container">
                <div class="row">
                    <div class=" col-lg-12">

                        <!-- Account navigation -->
                        <div class="d-flex">
                            <a  asp-controller="Account" asp-action="Profile" class="btn btn-icon btn-group-nav shadow btn-secondary  @(currentAction == "Profile" ? "active" : "") ">
                                <span class="btn-inner--icon"> <i class="fas fa-user-circle "></i></span>
                                <span class="btn-inner--text d-none d-md-inline-block">@Localizer["Profile"]</span>
                            </a> 
                            <a  asp-controller="Account" asp-action="Settings" class="btn btn-icon btn-group-nav shadow btn-secondary   @(currentAction == "Settings" ? "active" : "") ">
                                <span class="btn-inner--icon"><i class="fas fa-cog "></i></span>
                                <span class="btn-inner--text d-none d-md-inline-block"> @Localizer["Settings"]</span>
                            </a>
                             
                            <a asp-controller="Account" asp-action="Billing"  class="btn btn-icon btn-group-nav shadow btn-secondary @(currentAction == "Billing" ? "active" : "") ">
                                <span class="btn-inner--icon"><i class="fas fa-credit-card"></i></span>
                                <span class="btn-inner--text d-none d-md-inline-block">@Localizer["Bookings"]</span>
                            </a>  
                            <a asp-controller="Account" asp-action="Notifications" class="btn btn-icon btn-group-nav shadow btn-secondary  @(currentAction == "Notifications" ? "active" : "") ">
                                <span class="btn-inner--icon"><i class="fas fa-bell "></i></span>
                                <span class="btn-inner--text d-none d-md-inline-block">@Localizer["Notifications"]</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </header>



        <section class="slice">
            <div class="container">
                <div class="row row-grid">
                

                    @RenderBody()
                </div>
            </div>
        </section>

        <!-- Call to action -->

        <section class="slice slice-lg bg-primary">

            <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8 text-center">
                        <h3 class="font-weight-400 text-white">@Localizer["I am ready to start booking Now"] </h3>
                        <div class="mt-5">
                            <a href="" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4">@Localizer["Book my first Room"]<span class="badge badge-pill badge-danger text-sm">@Localizer["Now"]</span></a>
                            <a href="" class="btn btn-link text-white">@Localizer["Have an issue?"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>

    @{await Html.RenderPartialAsync("/Views/Shared/Components/_footerMainWhite.cshtml", null);}


    <!-- Core -->
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery/dist/jquery.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/in-view/dist/in-view.min.js"></script>




    <!-- Page plugins -->
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/sticky-kit/dist/sticky-kit.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>

    @RenderSection("scripts", false)

    <!-- Theme JS -->

    <script src="@Url.Content("~/frontend_Content/assets")/js/theme.min.js"></script>

    <!-- Heartbeat Online Users tracking -->
    @{await Html.RenderPartialAsync("/Views/Shared/Components/OnlineUsersTrackingCode.cshtml", null);}



</body>

</html>
