@{

    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";

    ViewData["navClass"] = "navbar-sticky bg-gradient-primary navbar-dark";

    @****@
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">

    <title>Search Dorms| Eastern Mediterranean University</title>

    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/frontend_Content/assets")/img/brand/favicon.ico" >

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="@Url.Content("~/frontend_Content/assets")/vendor/@@fortawesome/fontawesome-free/css/all.min.css">



    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/frontend_Content/assets")/css/theme.css">


</head>

<body>
    @*@Html.Partial("/Views/Shared/Components/AdministratorEntryPoint.cshtml", null)*@


    @Html.Partial("/Views/Shared/Components/headerMain.cshtml", null)



    <main>











        <header class="header-account-page-lg bg-gradient-primary d-flex align-items-end">
            <div class="container">
                <div class="row">
                    <div class=" col-lg-12">
                        <div class="row align-items-center mb-4">
                            <div class="col-md-5 mb-4 mb-md-0">
                                <span class="h2 mb-0 text-white d-block">@ViewData["Header"] </span>
                                <span class="text-light">@ViewData["SubDescription"]</span>
                            </div>
                        </div>
                        <!-- Checkout navigation -->
                        <div class="d-flex">
                            <div class="btn-group btn-group-nav shadow" role="group" aria-label="Basic example">
                                <div class="btn-group" role="group">
                                    <a asp-controller="debug" asp-action="BookingCart" class="btn btn-secondary btn-icon @(currentAction=="BookingCart"? "active" : "")">
                                        <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
                                        <span class="btn-inner--text d-none d-md-inline-block">Cart</span>
                                    </a>
                                    <a asp-controller="debug" asp-action="BookingCartEmpty" class="btn btn-secondary btn-icon @(currentAction=="BookingCartEmpty"? "active" : "")">
                                        <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
                                        <span class="btn-inner--text d-none d-md-inline-block">Empty Cart</span>
                                    </a>
                                    <a asp-controller="debug" asp-action="BookingCheckoutCustomer" class="btn btn-secondary btn-icon @(currentAction=="BookingCheckoutCustomer"? "active" : "")">
                                        <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
                                        <span class="btn-inner--text d-none d-md-inline-block">Student</span>
                                    </a>

                                    <a asp-controller="debug" asp-action="BookingCheckoutPayment" class="btn btn-secondary btn-icon @(currentAction=="BookingCheckoutPayment"? "active" : "")">
                                        <span class="btn-inner--icon"><i class="fas fa-credit-card"></i></span>
                                        <span class="btn-inner--text d-none d-md-inline-block">Payment</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <!-- Call to action -->

        <section class="slice slice-lg bg-primary">

            <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8 text-center">
                        <h3 class="font-weight-400 text-white">I am ready to start booking Now </h3>
                        <div class="mt-5">
                            <a href="" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4">Book my first Room<span class="badge badge-pill badge-danger text-sm">Now</span></a>
                            <a href="" class="btn btn-link text-white">Have an issue?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>


    @Html.Partial("/Views/Shared/Components/_footerMainWhite.cshtml", null)


    <!-- Core -->
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery/dist/jquery.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/in-view/dist/in-view.min.js"></script>




    <!-- Page plugins -->
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/sticky-kit/dist/sticky-kit.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>



    <!-- Theme JS -->

    <script src="@Url.Content("~/frontend_Content/assets")/js/theme.min.js"></script>



</body>

</html>
