@{

    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";
    ViewData["navClass"] = " navbar-sticky bg-gradient-primary navbar-dark";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Dau">

    <title>Search Dorms| Eastern Mediterranean University</title>

    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/frontend_Content/assets")/img/brand/favicon.ico">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="@Url.Content("~/frontend_Content/assets")/vendor/@@fortawesome/fontawesome-free/css/all.min.css">


    @RenderSection("styles", false)
    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/frontend_Content/assets")/css/theme.css">

    <netcorestack-javascriptregistrar></netcorestack-javascriptregistrar>
    <netcorestack-languageSelector-scripts></netcorestack-languageSelector-scripts>
</head>

<body>


    @Html.Partial("/Views/Shared/Components/headerMain.cshtml", null)



    <main>
        <header class="header-account-page-sm bg-gradient-primary d-flex align-items-end"></header>

        @RenderBody()



    </main>


    @Html.Partial("/Views/Shared/Components/_footerMainWhite.cshtml", null)



    <!-- Core -->
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery/dist/jquery.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/in-view/dist/in-view.min.js"></script>




    <!-- Page plugins -->
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/sticky-kit/dist/sticky-kit.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/nouislider/distribute/nouislider.min.js"></script>



    <!-- Theme JS -->


    @RenderSection("scripts", false)


    <script src="@Url.Content("~/frontend_Content/assets")/js/theme.min.js"></script>
    <!-- Heartbeat Online Users tracking -->
    @Html.Partial("/Views/Shared/Components/OnlineUsersTrackingCode.cshtml", null)

</body>

</html>
