@{

    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";
    ViewData["navClass"] = " navbar-sticky bg-gradient-primary navbar-dark";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Dau">

    <title>Search Dorms| Eastern Mediterranean University</title>

    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/frontend_Content/assets")/img/brand/favicon.ico" >

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="@Url.Content("~/frontend_Content/assets")/vendor/@@fortawesome/fontawesome-free/css/all.min.css">



    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/frontend_Content/assets")/css/theme.css">


</head>

<body>
    @*@Html.Partial("/Views/Shared/Components/AdministratorEntryPoint.cshtml", null)*@


    @Html.Partial("/Views/Shared/Components/headerMain.cshtml", null)



    <main>



        <header class="header-account-page bg-gradient-primary d-flex align-items-end">
            <div class="container">
                <div class="row">
                    <div class=" col-lg-12">

                        <!-- Account navigation -->
                        <div class="d-flex">
                            <a href="account-profile-public.html" class="btn btn-icon btn-group-nav shadow btn-secondary">
                                <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
                                <span class="btn-inner--text d-none d-md-inline-block">My Account</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </header>



        <section class="slice">
            <div class="container">
                <div class="row row-grid">
                    <div class="col-lg-3">

                        <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover">

                            <div class="card">
                                <div class="card-header py-3">
                                    <span class="h6">Settings</span>
                                </div>
                                <div class="list-group list-group-sm list-group-flush">
                                    <a asp-controller="Debug" asp-action="AccountProfile" class="list-group-item list-group-item-action d-flex justify-content-between  @(currentAction=="AccountProfile"? "active" : "") ">
                                        <div>
                                            <i class="fas fa-user-circle mr-2"></i>
                                            <span>Profile</span>
                                        </div>
                                        <div>
                                            <i class="fas fa-angle-right"></i>
                                        </div>
                                    </a>


                                    <a asp-controller="Debug" asp-action="AccountSettings" class="list-group-item list-group-item-action d-flex justify-content-between @(currentAction=="AccountSettings"? "active" : "")  ">
                                        <div>
                                            <i class="fas fa-cog mr-2"></i>
                                            <span>Settings</span>
                                        </div>
                                        <div>
                                            <i class="fas fa-angle-right"></i>
                                        </div>
                                    </a>
                                    <a asp-controller="Debug" asp-action="AccountBilling" class="list-group-item list-group-item-action d-flex justify-content-between @(currentAction=="AccountBilling"? "active" : "") ">
                                        <div>
                                            <i class="fas fa-credit-card mr-2"></i>
                                            <span>Bookings</span>
                                        </div>
                                        <div>
                                            <i class="fas fa-angle-right"></i>
                                        </div>
                                    </a>
                                    <a asp-controller="Debug" asp-action="AccountNotifications" class="list-group-item list-group-item-action d-flex justify-content-between @(currentAction=="AccountNotifications"? "active" : "") ">
                                        <div>
                                            <i class="fas fa-bell mr-2"></i>
                                            <span>Notifications</span>
                                        </div>
                                        <div>
                                            <i class="fas fa-angle-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                    @RenderBody()
                </div>
            </div>
        </section>

        <!-- Call to action -->

        <section class="slice slice-lg bg-primary">

            <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8 text-center">
                        <h3 class="font-weight-400 text-white">I am ready to start booking Now </h3>
                        <div class="mt-5">
                            <a href="" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4">Book my first Room<span class="badge badge-pill badge-danger text-sm">Now</span></a>
                            <a href="" class="btn btn-link text-white">Have an issue?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>

    @Html.Partial("/Views/Shared/Components/_footerMainWhite.cshtml", null)


    <!-- Core -->
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery/dist/jquery.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/in-view/dist/in-view.min.js"></script>




    <!-- Page plugins -->
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/sticky-kit/dist/sticky-kit.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>



    <!-- Theme JS -->

    <script src="@Url.Content("~/frontend_Content/assets")/js/theme.min.js"></script>

    <!-- Heartbeat Online Users tracking -->
    @Html.Partial("/Views/Shared/Components/OnlineUsersTrackingCode.cshtml", null)



</body>

</html>
