
@{
    ViewData["Title"] = "Send Push Notifications";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
           
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <a asp-action="PushNotificationAdd" asp-controller="MobileAppManager" asp-area="Admin" class="btn btn-primary "> <i class="fa fa-plus-square"></i> Add new</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">


            <div class="box box-solid">

                <!-- /.box-header -->
                <div class="box-body">

                    <div class="overflow">
                        <table id="PushNotificationsTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Message</th>
                                    <th>Created on</th>
                                    <th>Planned date of sending</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Available rooms for summer</td>
                                    <td>Book your dream room for this summer</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td> <a asp-action="PushNotificationEdit" asp-controller="MobileAppManager" asp-area="Admin" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</a></td>

                                </tr>
                                <tr>
                                    <td>Available rooms for summer</td>
                                    <td>Book your dream room for this summer</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>

                                </tr>
                                <tr>
                                    <td>Available rooms for summer</td>
                                    <td>Book your dream room for this summer</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>

                                </tr>
                                <tr>
                                    <td>Available rooms for summer</td>
                                    <td>Book your dream room for this summer</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>

                                </tr>
                                <tr>
                                    <td>Available rooms for summer</td>
                                    <td>Book your dream room for this summer</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>

                                </tr>
                                <tr>
                                    <td>Available rooms for summer</td>
                                    <td>Book your dream room for this summer</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td>12/10/2017 10:30:11AM</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>

                                </tr>


                            </tbody>

                        </table>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            
            $('#PushNotificationsTable').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                "aLengthMenu": [[20, 3, 5], [20, 3, 5]],
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("PushNotifications", "MobileAppManager"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [

                
                    {"data": "name" },
                    {"data": "message" },
                    {"data": "createdOn" },
                    {"data": "PlannedDateOfSending" },
                    {"render": function (data, type, full, meta) {
                        return '<a class="btn btn-primary" href="/Admin/MobileAppManager/PushNotificationEdit"><i class="fa fa-pencil"></i> Edit</a>'; }
                    }
                    
                    
                ]


            })

        })
    </script>
}

