@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Dau.Services.Domain.HomeService
@model HomePageModel
@{
    var item = Model;
}
@*<div class="swiper-js-container">
    <div id="@item.DormitoryPartialModel.SwiperId" class="swiper-container swiper-container-horizontal" data-swiper-items="3" data-swiper-space-between="20" data-swiper-sm-items="3" data-swiper-sm-space-between="20" data-swiper-lg-items="4" data-swiper-lg-space-between="20" data-swiper-xl-items="4" data-swiper-xl-space-between="20" style="cursor: grab;">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 5ms;">

            @foreach (var Dormitory in item.DormitoryCardsList)
            {

                <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                    <div class="card overflow-hidden" data-animate-hover="2">
                        <div class="overflow-hidden">
                            <div class="animate-this">
                                <a href="Dormitories/@Dormitory.DormitorySeoFriendlyUrl">
                                    <img alt="Image placeholder" class="card-img-top" src="@Dormitory.ImageUrl">
                                </a>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <a href="Dormitories/@Dormitory.DormitorySeoFriendlyUrl" class=" h5 card-title mb-0">@Dormitory.DormitoryName</a>


                            <div class="rating-detail py-2">
                                <span class="rating-text inline h4">@Dormitory.RatingText</span>
                                <a class=" rating-no text-white text-bold h3">@Dormitory.RatingNo.ToString("N1")</a>
                            </div>


                            @if (Dormitory.DealsNo > 0)
                            {
                                <span class="block d-block text-primary"> @Localizer["Has {0} rooms with deals", Dormitory.DealsNo]</span>
                            }

                            <Dau-rating rating="@Dormitory.RatingNo"></Dau-rating>



                        </div>
                    </div>

                </div>


            }








        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>

</div>*@


<div id="@item.DormitoryPartialModel.SwiperId" class="swiper-container swiper-container-horizontal" data-swiper-items="1" data-swiper-space-between="20" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xl-items="3" data-swiper-xl-space-between="20" style="cursor: grab;">
    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
        @foreach (var Dormitory in item.DormitoryCardsList)
        {

            <div class="swiper-slide swiper-slide-active" style="width: 230px; margin-right: 20px;">



                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <span class="avatar avatar-sm bg-red">@Dormitory.RatingNo.ToString("N1")</span>
                            <div class="avatar-content">
                                <a href="Dormitories/@Dormitory.DormitorySeoFriendlyUrl" class="h6 mb-0">@Dormitory.DormitoryName</a>
                                <small class="d-block text-muted">@Dormitory.DormitoryType </small>
                            </div>
                        </div>
                        <p class="mt-4 lh-180">
                            <a href="Dormitories/@Dormitory.DormitorySeoFriendlyUrl">
                                <img alt="Image placeholder" class="card-img-top" src="@Dormitory.ImageUrl">
                            </a>
                        </p>
                        <Dau-rating rating="@Dormitory.RatingNo"></Dau-rating>
                        @if (Dormitory.DealsNo > 0)
                        {
                            <span class="block d-block text-primary"> @Localizer["Has {0} rooms with deals", Dormitory.DealsNo]</span>
                        }

                    </div>
                </div>

            </div>

        }

    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    <!-- Add Pagination -->
    <br />
    <br />

    <div class="swiper-pagination w-100 pt-4 d-flex align-items-center justify-content-center swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>

</div>
