
@{
    ViewData["Title"] = Localizer["Home"];
    Layout = "~/Views/Shared/_LayoutUserNew.cshtml";
}

<!-- Spotlight -->
<section class="slice slice-lg bg-primary bg-size--cover" id="wallpaper_fullScreen" data-spotlight="fullscreen" style="background-position: center 60%; background-repeat: no-repeat; background-size: auto;">
    <span class="mask bg-gradient-dark opacity-4"></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="pt-md pt-lg-xl pb-lg-md text-center">

                    <div class="container ">

                        <div class=" text-center">
                            <h2 class="heading display-4 mb-2">
                                <span class=" typed text-white" id="type-example"
                                      data-type-this=" @Localizer["Search and filter different dormitories"],
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter based on multiple facilities"],
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"]   ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter based on locations on map"],
                                      @Localizer["Search and filter"]   ,
                                      @Localizer["Search and filter"]   ,
                                      @Localizer["Search and filter"]  ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter based on prices"],
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"],
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"],
                                      @Localizer["Easily book your dormitory room"],   ,,   ,"></span>
                            </h2>


                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-10">
                                    <p class="lead text-white lh-180">@Localizer["A place where emu students can explore and book EMU Dormitories."]</p>


                                    <form class="row justify-content-center mt-5"></form>
                                </div>
                            </div>

                            <div class="redirectoToSearch">
                                <div class="row justify-content-center">


                                    <div class="col-md-12 row justify-content-center">


                                        <div class="row text-center ml-1 mr-1">
                                            <i class="fa fa-check fa-2x text-success ml-2 mr-2"></i>
                                            <label class="text-white h3" for="schoolDormitories">@Localizer["Private dormitories"] @*<span class=" float-right">@option.OptionCount</span>*@</label>

                                        </div>
                                        <div class="row text-center  ml-1 mr-1">
                                            <i class="fa fa-check fa-2x text-success ml-2 mr-2"></i>
                                            <label class="text-white h3" for="schoolDormitories">@Localizer["School dormitories"] @*<span class=" float-right">@option.OptionCount</span>*@</label>

                                        </div>     <div class="row text-center  ml-1 mr-1">
                                            <i class="fa fa-check fa-2x text-success ml-2 mr-2"></i>
                                            <label class="text-white h3" for="schoolDormitories">@Localizer["Easy booking"] @*<span class=" float-right">@option.OptionCount</span>*@</label>

                                        </div>

                                    </div>

                                    @*<div class="col-md-6">
                                            <h6 class="text-white">@Localizer["Dormitory name"]</h6>


                                            <select class="form-control" data-toggle="select" title="@Localizer["Select Dormitory name"]" data-live-search="true" data-live-search-placeholder="Search ..." multiple>
                                                <optgroup label="School Dormitories">

                                                    <option>EMU 1</option>
                                                    <option>EMU Sabanci</option>
                                                    <option>EMU 2</option>
                                                    <option>EMU 3</option>
                                                    <option>EMU 4</option>
                                                </optgroup>
                                                <optgroup label="Private Dormitories">
                                                    <option>Alfam</option>
                                                    <option>Ugursal</option>
                                                    <option>Marmara</option>
                                                    <option>Akdeniz</option>
                                                    <option>Longson</option>
                                                    <option>Homedorm</option>
                                                    <option>Ramen</option>
                                                    <option>Prime Living</option>
                                                    <option>Golden Plus</option>
                                                    <option>Kamacioglu</option>
                                                </optgroup>
                                            </select>


                                        </div>*@

                                    @*<div class="col-md-4">
                                            <h6 class="text-white">@Localizer["Semester duration"]</h6>

                                            <select class="form-control form-control-lg" data-toggle="select" title="@Localizer["Select semester"]" data-live-search="true" data-live-search-placeholder="Search ..." >
                                                <option></option>
                                                <option>1 semester - Fall 2019</option>
                                                <option>2 semester - Fall/spring 2019</option>
                                            </select>

                                        </div>*@




                                </div>
                                <br />
                                <br />


                                @*<div class="row justify-content-center">


                                        <div class="col-md-6">
                                            <h6 class="text-white">@Localizer["Price"]</h6>

                                            <div class="range-slider-wrapper ">
                                                <!-- Range slider container -->
                                                <div id="input-slider-range" class="input-slider input-slider--yellow" data-range-value-min="100" data-range-value-max="500"></div>
                                                <!-- Range slider values -->
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span class="range-slider-value value-low" data-range-value-low="200" id="input-slider-range-value-low"></span>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <span class="range-slider-value value-high" data-range-value-high="400" id="input-slider-range-value-high"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">


                                            <h6 class="text-white">@Localizer["Room area"]</h6>

                                            <div class="input-slider-container mb-4">
                                                <div id="input-slider-red" class="input-slider input-slider--red" data-range-value-min="100" data-range-value-max="900"></div>
                                                <!-- Input slider values -->
                                                <div class="row mt-3">
                                                    <div class="col-6">
                                                        <span id="input-slider-red-value" class="range-slider-value" data-range-value-low="200"></span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>



                                    </div>*@

                                <br />
                            </div>
                            <div class="row justify-content-center">


                                <div class="col-md-6">

                                    <a asp-controller="Search" asp-action="Results" class="btn btn-warning btn-block btn-animated btn-animated-x">
                                        <span class="btn-inner--visible">@Localizer["Search"]</span>
                                        <span class="btn-inner--hidden "><i class="fa fa-search"></i></span>
                                    </a>

                                </div>


                            </div>



                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>





@*<section class="slice slice-lg ">

        <div class="container">

            <a href="#" class="delimiter-bottom  font-weight-bold py-4 mt-4 delimiter-top h4">@Localizer["Popular dormitories"]</a>

            <br>

            <div id="PopularDormitories">
                <Dau-loader></Dau-loader>
            </div>

        </div>
    </section>*@

<section class="slice slice-lg">
    <div class="container swiper-js-container">

        <div class="swiper-js-container row align-items-center">
            <div class="col-lg-4">
                <div class="pr-4">
                    <h4>@Localizer["Deals and discounts"]</h4>
                    <p class="lead mt-3">See what deals dormitories offer to our students at the moment.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="CoolOfferAndDeals">
                    <Dau-loader></Dau-loader>
                </div>
            </div>
        </div>


    </div>
</section>


<section class="slice slice-lg ">

    <div class="container">

        <a href="#" class="delimiter-bottom  font-weight-bold py-4 mt-4 delimiter-top h4">@Localizer["Highly rated dormitories"]</a>

        <br>


        <div id="HighlyRatedDormitories">
            <Dau-loader></Dau-loader>
        </div>

    </div>
</section>

<span id="Dormitories-deals"></span>

@*<section class="slice slice-lg ">

    <div class="container">

        <a href="#" class="delimiter-bottom  font-weight-bold py-4 mt-4 delimiter-top h4">@Localizer["Cool offers & deals"]</a>

        <br>

        <div id="CoolOfferAndDeals">
            <Dau-loader></Dau-loader>
        </div>


    </div>
</section>*@



@section scripts
    {
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/select2/dist/js/select2.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/swiper/dist/js/swiper.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/autosize/dist/autosize.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/typed.js/lib/typed.min.js"></script>
    <script src="@Url.Content("~/viewsjs/Public")/Home.js"></script>
    <script>
        $(".redirectoToSearch").click(function () {
            window.location.href = "/Search/Results?from=Home";
        });
    </script>


}

@section styles{
    <link type="text/css" href="@Url.Content("~/frontend_Content/assets")/vendor/swiper/dist/css/swiper.min.css" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/frontend_Content/assets")/vendor/select2/dist/css/select2.min.css" rel="stylesheet">




}