

<div class="box box-default box-solid border_hover">

    <!-- /.box-header -->
    <div class="box-body">

        <div class="row">

            <!-- /.col -->
            <div class="col-md-5 col-sm-12">
                <img class="img-responsive cover" src="@Url.Content("~/Content/")dist/img/dormitories/IMG_1916.jpg" height="480" alt="Photo">
                <button type="button" class="btn btn-success btn-block btn-flat" data-toggle="collapse" style="margin-top: 15px" data-target="#account_number_table" aria-expanded="false" aria-controls="account_number_table">@ViewBag.ContentFormat_account_number_text</button>
            </div>

            <div class="col-md-7 col-sm-12">
                <div class="col-md-12">
                    <h3>
                        <a>@ViewBag.ContentFormat_loading_Dormitory_name</a>
                    </h3>
                </div>




                <div class="row ">
                    <div class="col-xs-6 dark_hover">
                        <img  class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>


                    <div class="col-xs-6 dark_hover">
                        <img class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>
                    <div class="col-xs-6 dark_hover">
                        <img class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>
                    <div class="col-xs-6 dark_hover">
                        <img class="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>
                    <div class="col-xs-6 dark_hover">
                        <img class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>
                    <div class="col-xs-6 dark_hover">
                        <img class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>
                    <div class="col-xs-6 dark_hover">
                        <img class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>
                    <div class="col-xs-6 dark_hover">
                        <img class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>
                    <div class="col-xs-6 dark_hover">
                        <img class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>


                    <div class="col-xs-6 green_hover">
                        <img class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>







                    <div class="col-xs-6 green_hover">
                        <img class ="img_icon" src="@Url.Content("~/Content/")dist/img/tv.png" alt="Photo"> <label>@ViewBag.ContentFormat_loading_facility</label>
                    </div>






                </div>

            </div>


        </div>

    </div>
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <!-- /.box-body -->
</div>