
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_LayoutUserNew.cshtml";
}


@{
    var item = Model;
}





<section class="slice slice-xl  d-flex align-items-center">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center">

                    @if (item)
                    {
                        <div class="icon icon-xl icon-shape icon-green rounded-circle">
                            <i class="fas fa-check"></i>
                        </div>
                        /**/
                        <h6 class="h4 my-4">@Localizer["Account created successfully"]</h6>
                        <p class="px-5">
                            @Localizer["Thanks you for Creating an account, a verification email has been sent to your account, please verify then login"]
                        </p>
                        <a asp-controller="Login" asp-action="" class="btn btn-info shadow--hover mt-5">@Localizer["Login page"]</a>
                    }
                    else
                    {
                        <div class="icon icon-xl icon-shape icon-red rounded-circle">
                            <i class="fas fa-times"></i>
                        </div>
                        <h6 class="h4 my-4">@Localizer["Failed to create account"]</h6>
                        <p class="px-5">
                            @Localizer["We applogise for the inconvenience, our engineers have been notified of this problem, please try again"]
                        </p>
                        <a asp-controller="Search" asp-action="Results" class="btn btn-info shadow--hover mt-5">@Localizer["Go to dormitories"]</a>


                    }

                </div>
            </div>
        </div>
    </div>
</section>



<!-- Call to action -->

<section class="slice slice-lg bg-primary">

    <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-weight-400 text-white">@Localizer["I am ready to start booking Now"] </h3>
                <div class="mt-5">
                    <a href="" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4">@Localizer["Book my first Room"]<span class="badge badge-pill badge-danger text-sm">@Localizer["Now"]</span></a>
                    <a href="" class="btn btn-link text-white">@Localizer["Have an issue?"]</a>
                </div>
            </div>
        </div>
    </div>
</section>