@using searchDormWeb.Areas.Admin.Models.System
@model SystemInformationVm
@{
    ViewData["Title"] = Localizer["Information"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
          
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-solid">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->


                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <dau-label asp-for="Version"></dau-label>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="col-sm-6">v.1.0.0</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="OperatingSystem"></dau-label>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="col-sm-6 ">Microsoft windows NT.6 </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="AspDotNetInfo"></dau-label>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="col-sm-6 ">v4.0.30319 </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <dau-label asp-for="IsFullTrustLevel"></dau-label>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="col-sm-6">True </label>
                            </div>
                        </div>



                        <div class="form-group">
                            <dau-label asp-for="ServerTimeZone"></dau-label>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="col-sm-6">W.Europe standard time</label>
                            </div>
                        </div>



                        <div class="form-group">
                            <dau-label asp-for="ServerLocalTime"></dau-label>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="col-sm-6">Wednessday, July 3</label>
                            </div>
                        </div>



                        <div class="form-group">
                            <dau-label asp-for="CoordinateUniversalTime"></dau-label>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="col-sm-6">Tuesday, July 3</label>
                            </div>
                        </div>



                        <div class="form-group">
                            <dau-label asp-for="CurrentUserTime"></dau-label>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="col-sm-6">Tuesday </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <dau-label asp-for="HttpHost"></dau-label>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="col-sm-6">dormitories.emu.edu.tr </label>
                            </div>
                        </div>




                    </div>
                    <!-- /.box-body -->

                </form>
            </div>



        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example').DataTable()
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
}

