@using static Dau.Services.Email.MessageQueueService

@model MessageQueueEdit
@{
    var item = Model;
    ViewData["Title"] = Localizer["Edit Message Queue Id- {0}", item.Id];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";


}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small><a asp-action="MessageQueues" asp-controller="System"><i class="fa fa-arrow-circle-left"></i> @Localizer["back to Message Queue list"]</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" form="addForm" onclick="resolveButton('Requeue')" class="btn btn-success "> <i class="fa fa-files-o"></i> @Localizer["Requeue"]</button>
                    <button type="submit" form="addForm" onclick="resolveButton('SaveClose')" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save"]</button>
                    <button type="submit" form="addForm" onclick="resolveButton('SaveContinue')" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save and Continue Edit"]</button>
                    <button type="submit" form="addForm" onclick="resolveButton('Delete')" class="btn btn-danger "> <i class="fa fa-trash-o"></i> @Localizer["Delete"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal"  method="post" id="editForm" >
                    <div class="box-body">
                        <div style="color:red;" asp-validation-summary="All"></div>

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <dau-label asp-for="Id"></dau-label>
                            <div class="col-sm-9">
                                <p>@item.Id</p>
                            </div>

                        </div>

                        <div class="form-group">
                            <dau-label asp-for="MessagePriority"></dau-label>
                            <div class="col-sm-8">
                                <p>High</p>
                            </div>

                        </div>



                        <div class="form-group">
                            <dau-label asp-for="From"></dau-label>
                            <div class="col-sm-8">
                                <p>@item.From</p>
                            </div>



                        </div>

                        <div class="form-group">
                            <dau-label asp-for="FromName"></dau-label>
                            <div class="col-sm-8">
                                <p>@item.FromName</p>
                            </div>



                        </div>

                


                        <div class="form-group">
                            <dau-label asp-for="To"></dau-label>
                            <dau-input asp-for="To" type="email"></dau-input>
                            <span asp-validation-for="To"></span>
                        </div>


                        <div class="form-group">
                            <dau-label asp-for="ToName"></dau-label>
                            <dau-input asp-for="ToName" type="text"></dau-input>
                            <span asp-validation-for="ToName"></span>

                        </div>


                        @*<div class="form-group">
                            <dau-label asp-for="CC"></dau-label>
                            <dau-input asp-for="CC" type="email"></dau-input>
                            <span asp-validation-for="CC"></span>

                        </div>



                        <div class="form-group">
                            <dau-label asp-for="BCC"></dau-label>
                            <dau-input asp-for="BCC" type="email"></dau-input>
                            <span asp-validation-for="BCC"></span>

                        </div>*@



                        <div class="form-group">

                            <dau-label asp-for="Subject"></dau-label>
                            <dau-input asp-for="Subject" type="text"></dau-input>
                            <span asp-validation-for="Subject"></span>

                        </div>


                        <div class="form-group">

                            <dau-label asp-for="Body"></dau-label>
                            <dau-editor asp-for="Body"></dau-editor>
                            <span asp-validation-for="Body"></span>

                        </div>


                        <div class="form-group">
                            <dau-label asp-for="CreatedOn"></dau-label>
                            <div class="col-sm-8">
                                <p>@item.CreatedOn</p>
                            </div>

                        </div>



                        <div class="form-group">
                            <dau-label asp-for="SendAttempts"></dau-label>
                            <div class="col-sm-8">
                                <p>@item.SendAttempts</p>
                            </div>

                        </div>






                        <div class="form-group">
                            <dau-label asp-for="SentOn"></dau-label>
                            <div class="col-sm-8">
                                <p>@item.SentOn</p>
                            </div>



                        </div>


                        <div class="form-group">
                            <dau-label asp-for="EmailAccount"></dau-label>
                            <div class="col-sm-8">
                                <p>@item.EmailAccount</p>
                            </div>

                        </div>



                    </div>
                    <!-- /.box-body -->

                </form>
            </div>


        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->

    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>

    <script src="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")bower_components/ckeditor/ckeditor.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->

        <script>

             function resolveButton(button) {
                       switch (button) {
                       
                           case "Requeue": {
                          
                               $('#editForm').attr('action', "/admin/System/RequeueMessage").submit();
                           }; break;


                           case "SaveClose": {
                                   alert("SaveClose");
                                 
                               }; break;


                           case "SaveContinue": {
                               
                     
                               $('#editForm').attr('action', "/admin/System/MessageQueueEdit").submit();
                            
                               
                               }; break;


                          


                           case "Delete": {
                                   console.log("Delete Message queue");
                                   var r = confirm("@Localizer["Are you sure you want to delete message?"]");
                                   if (r == true) {
                                       $('#editForm').attr('action', "/admin/System/DeleteMessageFromQueue").submit();
                                   }

                               }; break;
             }
         }

    $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
        CKEDITOR.replace('BodyId')
        })
    </script>
}

