
@{
    ViewData["Title"] = Localizer["Schedule Tasks"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
         
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" class="btn btn-danger "> <i class="fa fa-trash"></i> @Localizer["Delete"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->


            <div class="box box-solid">

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="box-header">
                        <h3 class="box-title">@Localizer["Task periods are not to exceed 24 days"]</h3>
                        <h3 class="box-title">@Localizer["Do not forget to restart the application once a task has been modified"]</h3>
                    </div>

                    <div class="overflow">
                        <table id="ScheduleTasksTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>@Localizer["Name"]</th>
                                    <th>@Localizer["Seconds(run period)"]</th>
                                    <th>@Localizer["Enabled"]</th>
                                    <th>@Localizer["Stop on error"]</th>
                                    <th>@Localizer["Last start date"]</th>
                                    <th>@Localizer["Last end date"]</th>
                                    <th>@Localizer["Run now"]</th>
                                    <th>@Localizer["Edit"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Update currency exchange rate</td>
                                    <td>43200</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-tasks"></i> Run now</button></td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>
                                </tr>
                                <tr>
                                    <td>Clear log</td>
                                    <td>43200</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-tasks"></i> Run now</button></td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>
                                </tr>
                                <tr>
                                    <td>Delete guests</td>
                                    <td>43200</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-tasks"></i> Run now</button></td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>
                                </tr>
                                <tr>
                                    <td>Clear cache</td>
                                    <td>43200</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-tasks"></i> Run now</button></td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>
                                </tr>
                                <tr>
                                    <td>Keep alive</td>
                                    <td>43200</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-tasks"></i> Run now</button></td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>
                                </tr>
                                <tr>
                                    <td>Send emails</td>
                                    <td>43200</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td>7/2/2018 2:08:05</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-tasks"></i> Run now</button></td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-pencil"></i> Edit</button></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            
            $('#ScheduleTasksTable').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": [[20, 3, 5], [20, 3, 5]],
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("ScheduleTasks", "System"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [
                
                    {"data": "name" },
                    {"data": "runPeriod" },
                    {"render": function (data, type, full, meta) {
                            if (full.enabled == true)
                                return '<i class="fa fa-check" aria-hidden="true"></i>';
                            else
                                return '<i class="fa fa-times" aria-hidden="true"></i>';}
                    },
                    {"render": function (data, type, full, meta) {
                            if (full.stopOnError == true)
                                return '<i class="fa fa-check" aria-hidden="true"></i>';
                            else
                                return '<i class="fa fa-times" aria-hidden="true"></i>';}
                    },
                    {"data": "lastStartDate" },
                    {"data": "lastEndDate" },
                    {"render": function (data, type, full, meta) {
                     return '<a class="btn btn-primary" ><i class="fa fa-tasks"></i> @Localizer["Run now"]</a>'; }
                    },
                    {"render": function (data, type, full, meta) {
                     return '<a class="btn btn-primary" ><i class="fa fa-pencil"></i> @Localizer["Edit"]</a>'; }
                    }
                    
                    
                ]


            })
        })
    </script>
}

