@using Dau.Services.MessageTemplates
@model MessageTemplateService.MessageTemplateEdit
@{
    ViewData["Title"] = Localizer["Edit Message Template"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
    var item = Model;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small><a asp-action="MessageTemplates" asp-controller="ContentManagement"><i class="fa fa-arrow-circle-left"></i> @Localizer["back to message templates list"]</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type='button' onClick='resolveButton("SaveClose")' class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save"]</button>
                    <button type='button' onClick='resolveButton("SaveContinue")' class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save and Continue Edit"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">
        @if (item.SavedSuccessful)
        {
            <div class="alert alert-success alert-dismissible"> <button type="button" class="close text-white" data-dismiss="alert" aria-hidden="true">×</button> <i class="icon fa fa-check"></i> @Localizer["Message template was saved successfully"]</div>
        }
        <!--------------------------
    | Your Page Content Here |
    -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box ">
                <div class="box-header">
                    <p>
                        @*@Localizer["This message template is used when a new blog comment to the certain blog post is created."+
                        "The message is received by a dormitory manager. You can set this option by ticking the checkbox"]
                        <bold>Notify about new blog comments</bold> In Configuration - Settings - Blog settings*@
                    </p>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form id="editForm" method="post" class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <dau-label asp-for="AllowedTokens"></dau-label>
                            <input type="hidden" asp-for="Id" />
                            <div class="col-sm-8">
                                <p>@item.AllowedTokens</p>
                            </div>

                        </div>

                        <div class="form-group">
                            <dau-label asp-for="Name"></dau-label>
                            <div class="col-sm-8">
                                <p>@item.Name</p>
                            </div>

                        </div>

                        <dau-tabs id="ContentLanguageTab">

                            <dau-tab id="tab2" name="English" active="true" flag="@Url.Content("~/Content/")dist/img/us.png">
                                <div class="form-group">

                                    <dau-label asp-for="localizedContent[0].Subject"></dau-label>
                                    <dau-input asp-for="localizedContent[0].Subject" type="text"></dau-input>
                                    <span asp-validation-for="localizedContent[0].Subject"></span>
                                </div>


                                <div class="form-group">

                                    <dau-label asp-for="localizedContent[0].Body"></dau-label>


                                    <div class="col-sm-9">
                                        <textarea id="editorBodyEN" class="form-control" asp-for="localizedContent[0].Body" rows="10" cols="80"></textarea>
                                    </div>
                                    <span asp-validation-for="localizedContent[0].Body"></span>
                                </div>

                                <div class="form-group">

                                    <dau-label asp-for="localizedContent[0].BCC"></dau-label>
                                    <dau-input asp-for="localizedContent[0].BCC" type="text"></dau-input>
                                    <span asp-validation-for="localizedContent[0].BCC"></span>

                                </div>




                                <div class="form-group">

                                    <dau-label asp-for="localizedContent[0].EmailAccount"></dau-label>
                                    <dau-select asp-for="localizedContent[0].EmailAccount"></dau-select>
                                    <span asp-validation-for="localizedContent[0].EmailAccount"></span>

                                </div>


                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-3 control-label"></label>

                                    <div class="col-sm-8">
                                        <button class="btn btn-info">@Localizer["Test template"]</button>
                                    </div>

                                </div>
                            </dau-tab>
                            <dau-tab id="tab3" name="Turkish" flag="@Url.Content("~/Content/")dist/img/tr.png">
                                <div class="form-group">

                                    <dau-label asp-for="localizedContent[1].Subject"></dau-label>
                                    <dau-input asp-for="localizedContent[1].Subject" type="text"></dau-input>
                                    <span asp-validation-for="localizedContent[1].Subject"></span>
                                </div>


                                <div class="form-group">

                                    <dau-label asp-for="localizedContent[1].Body"></dau-label>
                                    <div class="col-sm-9">
                                        <textarea id="editorBodyTR" class="form-control" asp-for="localizedContent[1].Body" rows="40" cols="80"></textarea>
                                    </div>
                                    <span asp-validation-for="localizedContent[1].Body"></span>
                                </div>

                                <div class="form-group">

                                    <dau-label asp-for="localizedContent[1].BCC"></dau-label>
                                    <dau-input asp-for="localizedContent[1].BCC" type="text"></dau-input>
                                    <span asp-validation-for="localizedContent[1].BCC"></span>

                                </div>




                                <div class="form-group">

                                    <dau-label asp-for="localizedContent[1].EmailAccount"></dau-label>
                                    <dau-select asp-for="localizedContent[1].EmailAccount"></dau-select>
                                    <span asp-validation-for="localizedContent[1].EmailAccount"></span>

                                </div>


                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-3 control-label"></label>

                                    <div class="col-sm-8">
                                        <button class="btn btn-info">@Localizer["Test template"]</button>
                                    </div>

                                </div>
                            </dau-tab>
                        </dau-tabs>









                        <div class="form-group">
                            <dau-label asp-for="isActive"></dau-label>
                            <div class="col-sm-8">
                                <input asp-for="isActive" type="checkbox">
                            </div>
                            <span asp-validation-for="isActive"></span>

                        </div>


                        @*<div class="form-group">

                            <dau-label asp-for="SendImmediately"></dau-label>
                            <div class="col-sm-8">
                                <input asp-for="SendImmediately" type="checkbox">
                            </div>
                            <span asp-validation-for="SendImmediately"></span>
                        </div>


                        <div class="form-group">

                            <dau-label asp-for="AttachedStaticFile"></dau-label>
                            <div class="col-sm-8">
                                <input asp-for="AttachedStaticFile" type="checkbox">
                            </div>
                            <span asp-validation-for="AttachedStaticFile"></span>
                            <div class="col-sm-8">
                                <button class="btn btn-success">Upload file</button>
                            </div>

                        </div>*@

                        @*<div class="form-group">
                            <dau-label asp-for="LimitedToDormitories"></dau-label>
                            <dau-select multiple-select="true" asp-for="LimitedToDormitories" ></dau-select>
                            <span asp-validation-for="LimitedToDormitories"></span>

                        </div>*@


                    </div>
                    <!-- /.box-body -->

                </form>
            </div>


        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")bower_components/ckeditor/ckeditor.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->

    <script>
        function resolveButton(button) {
            switch (button) {


                case "SaveClose": {
                    alert("SaveClose");

                }; break;


                case "SaveContinue": {
                    console.log("SaveContinue");

                    $('#editForm').attr('action', "/admin/ContentManagement/MessageTemplateEdit").submit();
                    break;


                }
                //   $("#formId").submit();
            }
        }
        $(function () {

            CKEDITOR.replace('editorBodyTR',{
              
                height: 500
            });

            CKEDITOR.replace('editorBodyEN', {

                height: 500
            });
        })
    </script>

}
