
@{
    ViewData["Title"] = "_MessageTemplateEdit";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>Optional description</small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> Save</button>
                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> Save and Continue Edit</button>
                    <button type="submit" form="addForm" class="btn btn-success "> <i class="fa fa-clone"></i> Copy template</button>
                    <button type="submit" form="addForm" class="btn btn-danger "> <i class="fa fa-trash-o"></i> Delete</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box ">
                <div class="box-header">
                <p>This message template is used when a new blog comment to the certain blog post is created. 
                    The message is received by a dormitory manager. You can set this option by ticking the checkbox
                    <bold>Notify about new blog comments</bold> In Configuration - Settings - Blog settings
                     </p></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Allowed message tokens<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <a>Hide</a>
                            </div>

                            <div class="col-sm-8">
                                <p>%Store.Name, %Store.URL, %Store.Email,%Store.Name, %Store.URL, %Store.Email,%Store.Name, %Store.URL, %Store.Email,%Store.Name, %Store.URL, %Store.Email,%Store.Name, %Store.URL, %Store.Email</p>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Name <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <p>blog.blogComment</p>
                            </div>
                        
                        </div>

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">Standard</a></li>
                                <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">English</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Turkish</a></li>
                            </ul>
                            <div class="tab-content">
                                <!-- /.tab-pane -->
                                <div class="tab-pane active" id="tab_3">
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Subject <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassfwords3">
                                        </div>
                                        <span style="color:red;">*</span>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Body <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <textarea class="form-control"></textarea>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">BCC<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassgwords3">
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Planned date of sending<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassgwords3">
                                        </div>

                                    </div>





                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Email account<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassgwords3">
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Test template <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <button class="btn btn-primary">Test template</button>
                                        </div>

                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_1">
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Subject <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassfwords3">
                                        </div>
                                        <span style="color:red;">*</span>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Body <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <textarea class="form-control"></textarea>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">BCC<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassgwords3">
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Planned date of sending<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassgwords3">
                                        </div>

                                    </div>





                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Email account<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassgwords3">
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Test template <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <button class="btn btn-primary">Test template</button>
                                        </div>

                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Subject <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassfwords3">
                                        </div>
                                        <span style="color:red;">*</span>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Body <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <textarea class="form-control"></textarea>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">BCC<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassgwords3">
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Planned date of sending<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassgwords3">
                                        </div>

                                    </div>





                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Email account<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassgwords3">
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Test template <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <button class="btn btn-primary">Test template</button>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- /.tab-content -->
                        </div>



                       

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Is active<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="checkbox">
                            </div>
                           
                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Send immediately<i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="checkbox">
                           
                          
                        </div></div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Attached static file <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="checkbox"> Has attached file
                            </div>
                            <div class="col-sm-8">
                                <button class="btn btn-success">Upload file</button>
                            </div>
                         
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Limited to stores <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>

                        </div>


                    </div>
                    <!-- /.box-body -->

                </form>
            </div>


        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->

}
