@using searchDormWeb.Areas.Admin.Models.ContentManagement
@model TopicAdd
@{
    ViewData["Title"] = Localizer["Add Topic"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small><a asp-action="Topics" asp-controller="ContentManagement"><i class="fa fa-arrow-circle-left"></i> @Localizer["back to topics list"]</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save"]</button>
                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save and Continue Edit"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">@Localizer["Info"]</a></li>
                    <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">@Localizer["SEO"]</a></li>

                </ul>
                <div class="tab-content">
                    <!-- /.tab-pane -->






                    <div class="tab-pane active" id="tab_3">

                        <div class="box ">
                            <div class="box-header"></div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">
                                <form class="form-horizontal">

                                    <dau-tabs id="ContentLanguageTab">
                                        <dau-tab id="tab1" name="Standard" active="true">
                                            <div class="form-group">
                                                <dau-label asp-for="localizedTopicsContents[0].Title"></dau-label>
                                                <dau-input asp-for="localizedTopicsContents[0].Title" type="text"></dau-input>
                                                <span asp-validation-for="localizedTopicsContents[0].Title"></span>

                                            </div>

                                            <div class="form-group">
                                                <dau-label asp-for="localizedTopicsContents[0].Body"></dau-label>
                                                <dau-editor asp-for="localizedTopicsContents[0].Body"></dau-editor>
                                                <span asp-validation-for="localizedTopicsContents[0].Body"></span>

                                            </div>
                                        </dau-tab>
                                        <dau-tab id="tab2" name="English" flag="@Url.Content("~/Content/")dist/img/us.png">
                                            <div class="form-group">
                                                <dau-label asp-for="localizedTopicsContents[1].Title"></dau-label>
                                                <dau-input asp-for="localizedTopicsContents[1].Title" type="text"></dau-input>
                                                <span asp-validation-for="localizedTopicsContents[1].Title"></span>

                                            </div>

                                            <div class="form-group">
                                                <dau-label asp-for="localizedTopicsContents[1].Body"></dau-label>
                                                <dau-editor asp-for="localizedTopicsContents[1].Body"></dau-editor>
                                                <span asp-validation-for="localizedTopicsContents[1].Body"></span>

                                            </div>
                                        </dau-tab>
                                        <dau-tab id="tab3" name="Turkish" flag="@Url.Content("~/Content/")dist/img/tr.png">

                                            <div class="form-group">
                                                <dau-label asp-for="localizedTopicsContents[2].Title"></dau-label>
                                                <dau-input asp-for="localizedTopicsContents[2].Title" type="text"></dau-input>
                                                <span asp-validation-for="localizedTopicsContents[2].Title"></span>

                                            </div>

                                            <div class="form-group">
                                                <dau-label asp-for="localizedTopicsContents[2].Body"></dau-label>
                                                <dau-editor asp-for="localizedTopicsContents[2].Body"></dau-editor>
                                                <span asp-validation-for="localizedTopicsContents[2].Body"></span>

                                            </div>

                                        </dau-tab>
                                    </dau-tabs>


                                 
                                    <!-- /.nav-tabs -->







                                    <div class="form-group">
                                       
                                        <dau-label asp-for="SystemName"></dau-label>
                                        <dau-input asp-for="SystemName" type="text"></dau-input>
                                        <span asp-validation-for="SystemName"></span>

                                    </div>







                                    <div class="form-group">
                                     
                                        <dau-label asp-for="Published"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="Published" type="checkbox">
                                        </div>
                                        <span asp-validation-for="Published"></span>
                                    </div>

                                    <div class="form-group">
                                       <dau-label asp-for="PasswrodProtected"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="PasswrodProtected" type="checkbox">
                                        </div>
                                        <span asp-validation-for="PasswrodProtected"></span>

                                    </div>


                                    <div class="form-group">
                                        <dau-label asp-for="IncludeInTopMenu"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="IncludeInTopMenu" type="checkbox">
                                        </div>
                                        <span asp-validation-for="IncludeInTopMenu"></span>

                                    </div>

                                    <div class="form-group">
                                      
                                        <dau-label asp-for="IncludeInFooterColumn1"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="IncludeInFooterColumn1" type="checkbox">
                                        </div>
                                        <span asp-validation-for="IncludeInFooterColumn1"></span>

                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="IncludeInFooterColumn2"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="IncludeInFooterColumn2" type="checkbox">
                                        </div>
                                        <span asp-validation-for="IncludeInFooterColumn2"></span>

                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="IncludeInFooterColumn3"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="IncludeInFooterColumn3" type="checkbox">
                                        </div>
                                        <span asp-validation-for="IncludeInFooterColumn3"></span>

                                    </div>



                                    <div class="form-group">
                                        <dau-label asp-for="IncludeInSitemap"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="IncludeInSitemap" type="checkbox">
                                        </div>
                                        <span asp-validation-for="IncludeInSitemap"></span>

                                    </div>


                                    <div class="form-group">
                                      
                                        <dau-label asp-for="CustomerRoles"></dau-label>
                                        <dau-select multiple-select="true" asp-for="CustomerRoles" type="text"></dau-select>
                                        <span asp-validation-for="CustomerRoles"></span>

                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="LimtedToDormitory"></dau-label>
                                        <dau-select multiple-select="true" asp-for="LimtedToDormitory" type="text"></dau-select>
                                        <span asp-validation-for="LimtedToDormitory"></span>

                                    </div>

                                    <div class="form-group">
                                      
                                        <dau-label asp-for="DisplayOrder"></dau-label>
                                        <dau-input asp-for="DisplayOrder" type="number"></dau-input>
                                        <span asp-validation-for="DisplayOrder"></span>

                                    </div>

                                    <div class="form-group">
                                        
                                        <dau-label asp-for="AccessileWhenSiteIsClosed"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="AccessileWhenSiteIsClosed" type="checkbox">
                                        </div>
                                        <span asp-validation-for="AccessileWhenSiteIsClosed"></span>
                                    </div>


                                </form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box-->
                    </div>















                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_1">
                        <div class="box ">
                            <div class="box-header"></div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">
                                <form class="form-horizontal">
                                    <dau-tabs id="SeoLanguageTab">
                                        <dau-tab id="tab1" name="Standard" active="true">

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[0].MetaKeywords"></dau-label>
                                                <dau-input asp-for="seoTab[0].MetaKeywords" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[0].MetaKeywords"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[0].MetaDescription"></dau-label>
                                                <dau-input asp-for="seoTab[0].MetaDescription" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[0].MetaDescription"></span>

                                            </div>


                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[0].MetaTitle"></dau-label>
                                                <dau-input asp-for="seoTab[0].MetaTitle" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[0].MetaTitle"></span>

                                            </div>


                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[0].SearchEngineFriendlyPageName"></dau-label>
                                                <dau-input asp-for="seoTab[0].SearchEngineFriendlyPageName" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[0].SearchEngineFriendlyPageName"></span>

                                            </div>


                                        </dau-tab>
                                        <dau-tab id="tab2" name="English" flag="@Url.Content("~/Content/")dist/img/us.png">

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[1].MetaKeywords"></dau-label>
                                                <dau-input asp-for="seoTab[1].MetaKeywords" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[1].MetaKeywords"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[1].MetaDescription"></dau-label>
                                                <dau-input asp-for="seoTab[1].MetaDescription" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[1].MetaDescription"></span>

                                            </div>



                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[1].MetaTitle"></dau-label>
                                                <dau-input asp-for="seoTab[1].MetaTitle" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[1].MetaTitle"></span>

                                            </div>


                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[1].SearchEngineFriendlyPageName"></dau-label>
                                                <dau-input asp-for="seoTab[1].SearchEngineFriendlyPageName" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[1].SearchEngineFriendlyPageName"></span>

                                            </div>

                                        </dau-tab>
                                        <dau-tab id="tab3" name="Turkish" flag="@Url.Content("~/Content/")dist/img/tr.png">

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[2].MetaKeywords"></dau-label>
                                                <dau-input asp-for="seoTab[2].MetaKeywords" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[2].MetaKeywords"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[2].MetaDescription"></dau-label>
                                                <dau-input asp-for="seoTab[2].MetaDescription" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[2].MetaDescription"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[2].MetaTitle"></dau-label>
                                                <dau-input asp-for="seoTab[2].MetaTitle" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[2].MetaTitle"></span>

                                            </div>


                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[2].SearchEngineFriendlyPageName"></dau-label>
                                                <dau-input asp-for="seoTab[2].SearchEngineFriendlyPageName" type="text"></dau-input>
                                                <span asp-validation-for="seoTab[2].SearchEngineFriendlyPageName"></span>

                                            </div>

                                        </dau-tab>
                                    </dau-tabs>
                                    <!-- /.nav-tabs -->


                                </form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->
            </div>



        </div>
    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")bower_components/ckeditor/ckeditor.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <script>
        $(function () {

            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('editor1')

            CKEDITOR.replace('editor2')

            CKEDITOR.replace('editor3')



            //Initialize Select2 Elements
            $('.select2').select2()

            ///Intialize datepicker
            $('#datepicker').datepicker({
                autoclose: true
            })


            $('#example').DataTable()
            $('#example1').DataTable({
                'paging': false,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
}

