

@using Dau.Services.Domain.BookingService
@model BookingCartViewModel

@{
    var item = Model;
}
@*<div id="alertArea">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        The coupon code you entered has expired or does not exist
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>*@
<section class="slice slice-sm">
    <div class="container">
        <!-- Shopping cart -->




        <div class="table-responsive">
            <table class="table align-items-center">
                <thead>
                    <tr>
                        <th>@Localizer["Dormitory/Room"]</th>
                        <th>@Localizer["Price"]</th>
                        <th>@Localizer["Contract time period"]</th>
                        <th>@Localizer["Total"]</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div class="media align-items-center">
                                @if (item.DormitoryLogoUrl.Length > 0) { 
                                <img alt="Image placeholder" class="mr-3" src="@item.DormitoryLogoUrl" style="width: 80px;">
                                }
                                <div class="media-body">
                                    <div class="lh-100">
                                        <span class="text-dark font-weight-bold mb-0">@item.DormitoryName</span>
                                    </div>
                                    <span class="font-weight-bold text-muted">@item.RoomName</span><br />
                                    <span class="font-weight-bold text-muted">@item.RoomBlock</span><br />
                                    <span class="font-weight-bold text-muted">@item.RoomSize</span><br />

                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="font-weight-bold">@item.RoomPricePerSemester</span>
                        </td>
                        <td>


                            <select class="form-control" data-toggle="select" asp-for="SemesterPeriodId" asp-items="item.SemestersList" id="SemesterSelect" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">

                          

                            </select>
                           
                        </td>
                        <td>
                            <span class="font-weight-bold text-dark">@item.AmountTotal</span>
                        </td>
                        <td class="text-right">
                            <a id="DeleteCartItem" class="text-danger" data-toggle="tooltip" data-original-title="Remove item">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        @*<div class="">
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-4 text-center">
                    <h5 class="mb-0">@Localizer["Total"]: @item.AmountTotal</h5>
                    <p class="small mb-0">@Localizer["Have a coupon code? Add the code in the form below"]</p>
                    <form class="mt-4">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="@Localizer["Type your coupon code ..."]">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-sm btn-info">@Localizer["Apply code"]</button>
                            </span>
                        </div>
                    </form>
                </div>

            </div>
        </div>*@


        <!-- Cart information -->
        <div class="mt-5 pt-5 delimiter-top">
            <div class="row justify-content-center">

                <div class=" text-right">
                    <button type="button" class="btn  text-sm text-dark font-weight-bold disabled">@Localizer["Previous step"]</button>
                    <button type="button" id="buttonNext" class="btn btn-sm btn-primary">@Localizer["Next step"]</button>
                </div>
            </div>
        </div>
    </div>



</section>

<script>      

    $("#DeleteCartItem").click(function () {

        // alert("button clicked");
        var r = confirm("@Localizer["Are you sure you want to delete cart item?"]");
        if (r == true) {
         
       
        $.ajax({
            type: "POST",
            url: "DeleteCartItem",
            data: {
                SectionId: "comments_section"
            },
            success: function (result, textStatus, xhr) {
                //     alert(result);
               // $("#comments_section").html(result);
                if (JSON.stringify(result) === 'true') {
                    alert("@Localizer["Cart item deleted successfully"]");
                    location.reload();
                } else {
                    alert("@Localizer["Failed to delete cart item"]");
                }
            }

        });
        } 
    });



    //update cart button
</script>