@using Dau.Services.Domain.BookingService
@model BookingCheckoutCustomerInfoViewModel
@{ 
    var item = Model;
}

@*<div id="alertArea">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Please send payment method before you proceed
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>*@

<section class="slice slice-sm">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-8">
                <form>
                    <div>

                        <div class="page-inner-header mb-4">
                            <h5 class="mb-1">@Localizer["Confirm payment before {0}", item.DateBookingExpiresWithoutConfirmation]</h5>

                            <p class="text-muted mb-0">@Localizer["You have {0} working days before your bookings gets cancelled without payment confirmation", item.NumberOfWorkingDaysBeforeBookingExpires]</p>

                        </div>

                        <div class="card mt-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" name="radio-payment" class="custom-control-input" id="radio-payment-upload-now">
                                            <label class="custom-control-label h6 lh-160" for="radio-payment-upload-now">@Localizer["Upload payment receipt now"] </label>
                                        </div>
                                        <p class="text-muted text-sm mt-2">@Localizer["You have to upload a receipt of payment before your booking order is confirmed or completed, after order is completed, Dormitory will send you your allocated rooom information/details"]</p>



                                        <div class="d-inline">
                                            <input type="file" name="file-1[]" id="file-1" class="custom-input-file" />
                                            <label for="file-1">
                                                <i class="fa fa-upload"></i>
                                                <span>@Localizer["Choose a file…"]</span>
                                            </label>

                                        </div>
                                        <button type="button" class="btn  m-2 d-inline btn-sm btn-info pull-right">@Localizer["Upload receipt"]</button>



                                        <div class="custom-control delimiter-top mt-5 custom-radio mb-3">
                                            <input type="radio" name="radio-payment" class="custom-control-input" id="radio-payment-upload-later">
                                            <label class="custom-control-label h6 lh-160" for="radio-payment-upload-later">@Localizer["Upload payment receipt Later"] </label>
                                        </div>
                                        <p class="text-muted text-sm  mt-2">@Localizer["To upload bank receipt later, go to My Account >> Bookings to upload the receipt"]</p>


                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="mt-5 text-right">
                        <button type="button" id="buttonNext5" class="btn  text-sm text-dark font-weight-bold">@Localizer["Previous step"]</button>
                        <button type="button" id="CompleteBooking" class="btn btn-sm btn-success">@Localizer["Complete booking order"]</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">

                @{await Html.RenderPartialAsync("/Views/Booking/_bookingSummarySection.cshtml", item.BookingDetails);}

            </div>
        </div>
    </div>
</section>

