
@using searchDormWeb.Controllers
@model BookingCheckoutCustomerInfoViewModel

@{ 
    var item = Model;
}

@*<div id="alertArea">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Please enter a valid phone number before you proceed
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>*@

<section class="slice slice-sm">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-8">
                <form>
                    <!-- General -->

                    <div class="page-inner-header mb-4">
                        <h5 class="mb-1">@Localizer["Student information"]</h5>

                        <p class="text-muted mb-0">@Localizer["We will use this information to send you the booking invoice."]</p>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">@Localizer["First name"]</label>
                                <input class="form-control"  disabled  value="@item.FirstName" type="text" placeholder="@Localizer["Enter your first name"]">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">@Localizer["Last name"]</label>
                                <input class="form-control"  disabled  value="@item.LastName"  type="text" placeholder="@Localizer["Also your last name"]">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">@Localizer["Student Number (Application No. for new students)"]</label>
                                <input class="form-control"  disabled  value="@item.StudentNumber"  type="text" placeholder="@Localizer["Student Number or Admission no"]">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">@Localizer["Address"]</label>
                                <input class="form-control"  disabled  value="@item.ParmanentAddress" type="text" placeholder="@Localizer["Address, Number"]">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">@Localizer["Country"]</label>
                                <select class="form-control" disabled data-toggle="select" title="@Localizer["Country"]">
                                    <option>@Localizer["Select your country"]</option>
                                    <option selected value="4">@item.Country</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">@Localizer["City"]</label>
                                <select class="form-control"   disabled  data-toggle="select" title="@Localizer["City"]">
                                    <option >@Localizer["Select your city"]</option>
                                   
                             
                                    <option selected value="4">@item.City</option>
                              
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">@Localizer["Email"]</label>
                                <input class="form-control" disabled type="text" value="@item.EmailAddress" placeholder="@Localizer["Email address"]">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">@Localizer["Phone"]</label>
                                <input class="form-control" type="text" value="@item.PhoneNumber" placeholder="+90-5** *** ****">
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-right">
                        <button type="button" id="buttonNext3" class="btn  text-sm text-dark font-weight-bold">@Localizer["Previous step"]</button>
                        <button type="button" id="buttonNext2" class="btn btn-sm btn-primary">@Localizer["Next step"]</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">

                @{await Html.RenderPartialAsync("/Views/Booking/_bookingSummarySection.cshtml", item.BookingDetails);}
            </div>
        </div>
    </div>
</section>

