
@{
    ViewData["Title"] = Localizer["Dashboard"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";





}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div id="alertACL"></div>
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small></small>
        </h1>

    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->

            <div class="col">
                <!-- The time line -->
                <ul class="timeline">
                    <!-- timeline time label -->
                    <li class="time-label">
                        <span class="bg-aqua">
                            <i class="fa fa-newspaper-o"></i> @Localizer["Dormitories News & Important Announcements"]
                        </span>
                    </li>

                </ul>
                <ul class="timeline" id="announcementsSection">


               
                    <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                        <div class="timeline-item">
                            <div class="timeline-footer">
                                <a class="btn btn-info btn-flat btn-xs">Load more</a>
                            </div>

                        </div>



                    </li>
                </ul>
                <br />
                <br />
         
                <!-- /.box -->
            </div>



            <div class="col">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa ion-stats-bars"></i> @Localizer["Common statistics"]</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body center-block" style="">
                        <div class="row center-block">

                            <secure-content asp-action="List" asp-controller="Reservations" asp-area="Admin">
                                <div class="col-lg-3 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua">
                                        <div class="inner">
                                            <h3 id="NoOfBookings">0</h3>

                                            <p>@Localizer["Bookings"]</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-ios-bookmarks"></i>
                                        </div>
                                        <a asp-action="List" asp-controller="Reservations" asp-area="Admin" class="small-box-footer">@Localizer["More info"]<i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </secure-content>
                            <secure-content asp-action="CancelRequest" asp-controller="Reservations" asp-area="Admin">
                                <div class="col-lg-3 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-yellow ">
                                        <div class="inner">
                                            <h3 id="NoOfPendingCancelledRequests">0</h3>

                                            <p>@Localizer["Pending cancellation requests"]</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        <a asp-action="CancelRequest" asp-controller="Reservations" asp-area="Admin" class="small-box-footer">@Localizer["More info"] <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </secure-content>


                            <secure-content asp-area="Admin" asp-controller="Users" asp-action="List">
                                <div class="col-lg-3 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3 id="NoOfUsers">0</h3>

                                            <p>@Localizer["User Registrations"]</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-person-add"></i>
                                        </div>
                                        <a asp-action="List" asp-controller="Users" asp-area="Admin" class="small-box-footer">@Localizer["More info"] <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </secure-content>
                            <secure-content asp-action="LowQuotaReport" asp-controller="Catalog" asp-area="Admin">
                                <div class="col-lg-3 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-red">
                                        <div class="inner">
                                            <h3 id="NoOfLowQuotaRooms">0</h3>

                                            <p>@Localizer["Low quota rooms"]</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-pie-graph"></i>
                                        </div>
                                        <a asp-action="LowQuotaReport" asp-controller="Catalog" asp-area="Admin" class="small-box-footer">@Localizer["More info"] <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </secure-content>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="row">

                <secure-content asp-action="List" asp-controller="Reservations" asp-area="Admin">
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-shopping-cart"></i> @Localizer["Bookings/orders"]</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" onclick="GetBookingsChart(1)" class="btn btn-xs btn-info btn-flat">@Localizer["Week"]</button>
                                    <button type="button" onclick="GetBookingsChart(2)" class="btn btn-xs btn-info btn-flat">@Localizer["Month"]</button>
                                    <button type="button" onclick="GetBookingsChart(3)" class="btn btn-xs btn-info btn-flat">@Localizer["Year"]</button>
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="">
                                <canvas id="bookingsChart"></canvas>

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </secure-content>
                <secure-content asp-area="Admin" asp-controller="Users" asp-action="List">
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-user"></i> @Localizer["New Users"]</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" onclick="GetUsersChart(1)" class="btn btn-xs btn-info btn-flat">@Localizer["Week"]</button>
                                    <button type="button" onclick="GetUsersChart(2)" class="btn btn-xs btn-info btn-flat">@Localizer["Month"]</button>
                                    <button type="button" onclick="GetUsersChart(3)" class="btn btn-xs btn-info btn-flat">@Localizer["Year"]</button>
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="">
                                <canvas id="newCustomersChart"></canvas>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </secure-content>
            </div>


            <div class="row">


                <secure-content asp-area="Admin" asp-controller="Dashboard" asp-action="BookingTotals">
                    <div class="col-md-8">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-money"></i> @Localizer["Booking totals"]</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="overflow">
                                    <table id="bookingTotalsDt" class="table table-bordered table-hover pull-right">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["Order Status"]</th>
                                                <th>@Localizer["Today"]</th>
                                                <th>@Localizer["This Week"]</th>
                                                <th>@Localizer["This Month"]</th>
                                                <th>@Localizer["This Year"]</th>
                                                <th>@Localizer["All Time"]</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </secure-content>

                <secure-content asp-area="Admin" asp-controller="Dashboard" asp-action="IncompleteBookings">
                    <div class="col-md-4">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-hourglass-start"></i> @Localizer["Incomplete bookings"]</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="overflow">
                                    <table id="incompleteBookingsDt" class="table table-bordered table-hover pull-right">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["Item"]</th>
                                                <th>@Localizer["Total"]</th>
                                                <th>@Localizer["Count"]</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </secure-content>
            </div>



            <div class="row">


                <secure-content asp-area="Admin" asp-controller="Dashboard" asp-action="LatestBookings">
                    <div class="col-md-8">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-cart-plus"></i> @Localizer["Latest bookings"] </h3> <a asp-action="List" asp-controller="Reservations" asp-area="Admin" class="btn btn-info btn-flat btn-xs">@Localizer["View All Bookings"]</a>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="overflow">
                                    <table id="latestBookingsDt" class="table table-bordered table-hover pull-right">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["Booking #"]</th>
                                                <th>@Localizer["Booking status"]</th>
                                                <th>@Localizer["Student"]</th>
                                                <th>@Localizer["Created on"]</th>
                                                <th>@Localizer["View"]</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </secure-content>

                <secure-content asp-area="Admin" asp-controller="Dashboard" asp-action="PopularFilters">
                    <div class="col-md-4">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-search"></i> @Localizer["Popular filters"]</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="overflow">
                                    <table id="popularFiltersDt" class="table table-bordered table-hover pull-right">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["Filter"]</th>
                                                <th>@Localizer["Count"]</th>

                                            </tr>
                                        </thead>
                              

                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </secure-content>
            </div>

            <div class="row">


                <secure-content asp-area="Admin" asp-controller="Dashboard" asp-action="BestSellersQuantity">
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-star"></i> @Localizer["Bestsellers(rooms) by quantity"]</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="overflow">
                                    <table id="bestSellersByQtyDt" class="table table-bordered table-hover pull-right">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["Name"]</th>
                                                <th>@Localizer["Total quantity"]</th>
                                                <th>@Localizer["Total amount"]</th>
                                                <th>@Localizer["View"]</th>
                                            </tr>
                                        </thead>
                          

                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </secure-content>

                <secure-content asp-area="Admin" asp-controller="Dashboard" asp-action="BestSellersAmount">
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-star-o"></i> @Localizer["Bestsellers(rooms) by amount"]</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="overflow">
                                    <table id="bestSellersByAmtDt" class="table table-bordered table-hover ">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["Name"]</th>
                                                <th>@Localizer["Total quantity"]</th>
                                                <th>@Localizer["Total amount"]</th>
                                                <th>@Localizer["View"]</th>
                                            </tr>
                                        </thead>
                            


                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </secure-content>
            </div>

            <!-- /.row -->
            <!-- Main row -->
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>




@section styles{

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/jvectormap/jquery-jvectormap.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">


}
@section scripts

    {
    <!-- daterangepicker -->
    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <!-- jQuery UI 1.11.4 -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <script src="@Url.Content("~/Content/")bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/raphael/raphael.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="@Url.Content("~/Content/")plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="@Url.Content("~/Content/")plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- Chart js-->
    <script src="@Url.Content("~/Content/")bower_components/Chart-js/Chart.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="@Url.Content("~/Content/")plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/moment/min/moment.min.js"></script>

    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>

    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>

    <script>

        replaceAnnouncements(3);
        function replaceAnnouncements(number) {
                  $.ajax({
            type: "POST",
            url: "@Html.Raw(Url.Action("GetAnnouncements", "Dashboard"))",

                      success: function (result, textStatus, xhr) {


                          for (var i = 0; i < result.length; i++) {
                //     alert(result);
            var annoncementTitle = result[i].title;
                              var annoucementBody = result[i].message;
                              var announcementTime = result[i].createdOn;
            var stringHtmlTemplate =
            
            "   <li> <i class=\"fa fa-bullhorn bg-aqua\"></i>                                                           "+
            "       <div class=\"timeline-item\">                                                                       "+
            "           <span class=\"time\"><i class=\"fa fa-clock-o\"></i> "+announcementTime+"</span>                           "+
                "           <h3 class=\"timeline-header\"><a >@Localizer["Administrator"] </a> " + annoncementTitle+"</h3>   "+
            "           <div class=\"timeline-body\">                                                                   "+
          annoucementBody+
            "               </div>                                                                                    "+
      
            "       </div>                                                                                            "+
                "   </li>                                                                                                 ";


           
            $("#announcementsSection").prepend(stringHtmlTemplate);
                          }
            }

            });
           
        }

         $.ajax({
            type: "POST",
            url: "@Html.Raw(Url.Action("NoOfBookings", "Dashboard"))",
            success: function (result, textStatus, xhr) {
                //     alert(result);
                $("#NoOfBookings").html(result);

            }

            });




        // //get number of newly registered users,
         $.ajax({
            type: "POST",
            url: "@Html.Raw(Url.Action("NoOfUsers", "Dashboard"))",

            success: function (result, textStatus, xhr) {
                //     alert(result);
                $("#NoOfUsers").html(result);

            }

            });




        // //get number of cancelled booking requests,
         $.ajax({
            type: "POST",
            url: "@Html.Raw(Url.Action("NoOfPendingCancelledRequests", "Dashboard"))",

            success: function (result, textStatus, xhr) {
                //     alert(result);
                $("#NoOfPendingCancelledRequests").html(result);

            }

            });




        // //get number of low quota rooms,
         $.ajax({
            type: "POST",
            url: "@Html.Raw(Url.Action("NoOfLowQuotaRooms", "Dashboard"))",

            success: function (result, textStatus, xhr) {
                //     alert(result);
                $("#NoOfLowQuotaRooms").html(result);

            }

            });


             $.getJSON("@Url.Content("~/frontend_Content/")assets/js/DataTable_aLenthMenu/aLenthMenu_5_25.json", function (aLength) {
           // console.log(json); // this will show the info it in firebug console


            $('#latestBookingsDt').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu":aLength,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("LatestBookings", "Dashboard"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "orderNo" },

                    {
                        "render": function (data, type, full, meta) {
                            if (full.bookingStatusId ==1)
                            return '<span class=" label label-success  label-lg green " style="padding: .5em .6em .8em; font-size: 100%;">' + full.orderStatus + '</span>';
                            else if (full.bookingStatusId==2 )
                            return '<span class=" label label-info  label-lg green " style="padding: .5em .6em .8em; font-size: 100%;">' + full.orderStatus + '</span>';
                            else if (full.bookingStatusId==3)
                            return '<span class=" label label-danger  label-lg green " style="padding: .5em .6em .8em; font-size: 100%;">' + full.orderStatus + '</span>';
                            else
                            return '<span class=" label label-primary  label-lg green " style="padding: .5em .6em .8em; font-size: 100%;">' + full.orderStatus + '</span>';


                        }
                    },
                    { "data": "customer" },
                    { "data": "createdOn" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-primary" href="/Admin/Reservations/ReservationEdit/?bookingNo=' + full.orderNo+ '"><i class="fa fa-eye"></i> @Localizer["View"]</a>';
                        }
                    }


                ]


            })



            $('#popularFiltersDt').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu":aLength,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("PopularFilters", "Dashboard"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [


                    { "data": "filter" },
                    { "data": "count" }


                ]


            })


               $('#incompleteBookingsDt').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": aLength,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("IncompleteBookings", "Dashboard"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [

                    { "data": "item" },
                    { "data": "total" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-default btn-xs" ><i class="fa fa-eye"></i> ' + full.count + '-@Localizer["View all"]</a>';
                        }
                    }


                ]


            })




                $('#bookingTotalsDt').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": aLength,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("BookingTotals", "Dashboard"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [


                    { "data": "orderStatus" },
                    { "data": "today" },
                    { "data": "thisWeek" },
                    { "data": "thisMonth" },
                    { "data": "thisYear" },
                    { "data": "allTime" }


                ]


            })



            $('#bestSellersByAmtDt').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            })
                .DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": aLength,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("BestSellersAmount", "Dashboard"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [

                
                   {
                        "render": function (data, type, full, meta) {
                            return '<p >'+full.roomName+' '+full.dormitoryName+'</p>';
                        }
                    },
                    { "data": "totalQuantity" },
                    { "data": "totalAmount" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-default btn-xs" ><i class="fa fa-eye"></i> @Localizer["View"]</a>';
                        }
                    }


                ]


            })



             $('#bestSellersByQtyDt').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": aLength,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("BestSellersQuantity", "Dashboard"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [

                    {
                        "render": function (data, type, full, meta) {
                            return '<p >' + full.roomName + ' ' + full.dormitoryName + '</p>';
                        }
                    },
                    { "data": "totalQuantity" },
                    { "data": "totalAmount" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-default btn-xs" ><i class="fa fa-eye"></i> @Localizer["View"]</a>';
                        }
                    }


                ]


            })
             });//get alength json


       
        function GetBookingsChart(Id) {
    $.ajax({
            type: "POST",
        url: "Dashboard/GetBookingsChart",
        data: {
            "Id":Id
        },
            success: function (result, textStatus, xhr) {
                //     alert(result);



            var ctx = document.getElementById("bookingsChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: result.labels,
                    datasets: [{

                        data: result.data,

                        backgroundColor: [
                            'rgba(		60, 141, 188,0.5)'

                        ],
                        borderColor: [
                            'rgba(		60, 141, 188,1)'

                        ],
                        borderWidth: 3
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return tooltipItem.yLabel;
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                userCallback: function (label, index, labels) {
                                    // when the floored value is the same as the value we have a whole number
                                    if (Math.floor(label) === label) {
                                        return label;
                                    }
                                }
                            }
                        }]
                    }
                }
            });

        }

    });

        }



        function GetUsersChart(Id) {
                 $.ajax({
            type: "POST",
                     url: "Dashboard/GetnewCustomersChart",
                     data: {
                         "Id": Id
                     },
            success: function (result, textStatus, xhr) {
                //     alert(result);



            var ctx2 = document.getElementById("newCustomersChart").getContext('2d');
            var myChart = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: result.labels,
                    datasets: [{

                        data: result.data,
                        backgroundColor: [
                            'rgba(		0, 166, 90,0.5)'

                        ],
                        borderColor: [
                            'rgba(	0, 166, 90,1)'

                        ],
                        borderWidth: 3
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return tooltipItem.yLabel;
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                userCallback: function (label, index, labels) {
                                    // when the floored value is the same as the value we have a whole number
                                    if (Math.floor(label) === label) {
                                        return label;
                                    }
                                }
                            }
                        }]
                    }
                }
            });
                     }

        });
        }
        var IdChart = 1;
        var IdNewUser = 1;
        GetBookingsChart(IdChart);
        GetUsersChart(IdNewUser);

    </script>

}