
@{
    ViewData["Title"] = "BookingCheckoutPayment";

    ViewData["Header"] = "Checkout";
    ViewData["SubDescription"] = "Payment information";


    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}

<section class="slice">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-8">
                <form>
                    <div>

                        <div class="page-inner-header mb-4">
                            <h5 class="mb-1">Attach a new card</h5>

                            <p class="text-muted mb-0">Add you credit card for faster checkout process.</p>

                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" name="radio-payment" class="custom-control-input" id="radio-payment-card">
                                            <label class="custom-control-label h6 lh-160" for="radio-payment-card">Credit Card</label>
                                        </div>
                                        <p class="text-muted text-sm mt-2">Safe money transfer using your bank account. We support Mastercard, Visa, Maestro and Skrill.</p>
                                    </div>
                                    <div class="col-lg-4 text-lg-right">
                                        <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/cards/mastercard.png" width="40" class="mr-2">
                                        <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/cards/visa.png" width="40" class="mr-2">
                                        <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/cards/skrill.png" width="40">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group input-group-transparent">
                                                <input type="text" class="form-control" data-mask="0000 0000 0000 0000" placeholder="4789 5697 0541 7546">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Name on card</label>
                                            <input type="text" class="form-control" placeholder="John Doe">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Expiry date</label>
                                            <input type="text" class="form-control" data-mask="00/00" placeholder="MM/YY">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">CVV code</label>
                                            <div class="input-group input-group-transparent">
                                                <input type="text" class="form-control" data-mask="000" placeholder="746">
                                                <div class="input-group-append" data-toggle="popover" data-container="body" data-placement="top" data-content="It is a three digit code that can be found only on the back of your card. Be carefull so no one sees it." data-title="What is a CVV code?">
                                                    <span class="input-group-text"><i class="fas fa-question-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pay with PayPal -->
                        <div class="card mt-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="custom-control custom-radio mb-3">
                                            <input type="radio" name="radio-payment" class="custom-control-input" id="radio-payment-paypal">
                                            <label class="custom-control-label h6 lh-160" for="radio-payment-paypal">PayPal</label>
                                        </div>
                                        <p class="text-muted text-sm mt-2">Pay your order using the most known and secure platform for online money transfers. You will be redirected to PayPal to finish complete your purchase.</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/cards/paypal-256x160.png" width="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-right">
                        <button type="button" class="btn btn-link text-sm text-dark font-weight-bold">Return to shop</button>
                        <button type="button" class="btn btn-sm btn-primary">Complete order</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">

                <div data-toggle="sticky" data-sticky-offset="100">

                    <div class="card" id="card-summary">
                        <div class="card-header py-3">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <span class="h6">Summary</span>
                                </div>
                                <div class="col-6 text-right">
                                    <span class="badge badge-md badge-pill badge-info">3 items</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="media align-items-center">
                                        <img alt="Image placeholder" class="mr-2" src="@Url.Content("~/frontend_Content/assets")/img/prv/product-1.png" style="width: 42px;">
                                        <div class="media-body">
                                            <div class="text-limit lh-100">
                                                <small class="text-dark font-weight-bold mb-0">Women running shoes</small>
                                            </div>
                                            <small class="text-muted">2 x $23.00</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-right lh-100">
                                    <small class="text-dark">$46.00</small>
                                </div>
                            </div>
                            <div class="row mt-3 pt-3 delimiter-top">
                                <div class="col-8">
                                    <div class="media align-items-center">
                                        <img alt="Image placeholder" class="mr-2" src="@Url.Content("~/frontend_Content/assets")/img/prv/product-2.png" style="width: 42px;">
                                        <div class="media-body">
                                            <div class="text-limit lh-100">
                                                <small class="text-dark font-weight-bold mb-0">Women running shoes</small>
                                            </div>
                                            <small class="text-muted">2 x $49.50</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-right lh-100">
                                    <small class="text-dark">$99.00</small>
                                </div>
                            </div>
                            <div class="row mt-3 pt-3 delimiter-top">
                                <div class="col-8">
                                    <div class="media align-items-center">
                                        <img alt="Image placeholder" class=" mr-2" src="@Url.Content("~/frontend_Content/assets")/img/prv/product-3.png" style="width: 42px;">
                                        <div class="media-body">
                                            <div class="text-limit lh-100">
                                                <small class="text-dark font-weight-bold mb-0">Women running shoes</small>
                                            </div>
                                            <small class="text-muted">2 x $99.00</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-right lh-100">
                                    <small class="text-dark">$198.00</small>
                                </div>
                            </div>
                            <!-- Subtotal -->
                            <div class="row mt-3 pt-3 border-top">
                                <div class="col-8 text-right">
                                    <small class="text-dark font-weight-bold">Subtotal:</small>
                                </div>
                                <div class="col-4 text-right">
                                    <span class="text-sm font-weight-bold">$330.50</span>
                                </div>
                            </div>
                            <!-- Shipping -->
                            <div class="row mt-3 pt-3 border-top">
                                <div class="col-8 text-right">
                                    <div class="media align-items-center">
                                        <i class="fas fa-shipping-fast"></i>
                                        <div class="media-body">
                                            <div class="text-limit lh-100">
                                                <small class="text-dark font-weight-bold mb-0">Shipping</small>
                                            </div>
                                            <small class="text-muted">Fast Delivery</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <span class="text-sm font-weight-bold">$25.00</span>
                                </div>
                            </div>
                            <!-- Subtotal -->
                            <div class="row mt-3 pt-3 border-top">
                                <div class="col-8 text-right">
                                    <small class="text-uppercase text-dark font-weight-bold">Total:</small>
                                </div>
                                <div class="col-4 text-right">
                                    <span class="text-sm text-dark font-weight-bold">$355.50</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!-- Call to action -->

<section class="slice slice-lg bg-primary">

    <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-weight-400 text-white">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
                <div class="mt-5">
                    <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4">Purchase now<span class="badge badge-pill badge-danger text-sm">$49 USD</span></a>
                    <a href="mailto:support@webpixels.io" class="btn btn-link text-white">Have an issue?</a>
                </div>
            </div>
        </div>
    </div>
</section>
