
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutUserNew.cshtml";
}

<!-- Spotlight -->
<section class="slice slice-lg bg-primary bg-size--cover" id="wallpaper_fullScreen" data-spotlight="fullscreen" style="background-image: url('https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2016/ugursal/img_1196.jpg?RenditionID=12'); background-position: center 60%; background-repeat: no-repeat; background-size: auto;">
    <span class="mask bg-gradient-primary opacity-6"></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              
                <div class="pt-md pt-lg-xl pb-lg-md text-center">

                    <div class="container ">

                        <div class=" text-center">
                            <h2 class="heading display-4 mb-2">
                                <span class=" typed text-white" id="type-example" 
                     data-type-this=" @Localizer["Search and filter different dormitories"],
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"] , 
                                      @Localizer["Search and filter based on multiple facilities"],
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"]   ,
                                      @Localizer["Search and filter"] , 
                                      @Localizer["Search and filter based on locations on map"],
                                      @Localizer["Search and filter"]   ,
                                      @Localizer["Search and filter"]   , 
                                      @Localizer["Search and filter"]  ,
                                      @Localizer["Search and filter"] ,     
                                      @Localizer["Search and filter based on prices"], 
                                      @Localizer["Search and filter"] ,  
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"],  
                                      @Localizer["Search and filter"] ,
                                      @Localizer["Search and filter"],   
                                      @Localizer["Easily book your dormitory room"],   ,,   ,"></span>
                            </h2>


                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-10">
                                    <p class="lead text-white lh-180">@Localizer["A place where emu students can explore and book EMU Dormitories."]</p>


                                    <form class="row justify-content-center mt-5"></form>
                                </div>
                            </div>

                            <div class="">
                                <div class="row justify-content-start">


                                    <div class="col-md-4">
                                        <h6 class="text-white">@Localizer["Dormitory Type"]</h6>
                                        <select class="form-control  form-control-sm  " data-toggle="select" title="@Localizer["Select Dormitory type"]" data-live-search="true" data-live-search-placeholder="Search ...">

                                            <option value="0"></option>
                                            <option value="1">EMU Dormitories</option>
                                            <option value="2">Privately-Owned Campus Dormitories</option>

                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <h6 class="text-white">@Localizer["Dormitory name"]</h6>
                                        <select class="form-control  form-control-sm " data-toggle="select" title="@Localizer["Select Dormitory name"]" data-live-search="true" data-live-search-placeholder="Search ...">



                                            <option></option>
                                            <option>EMU 1</option>
                                            <option>EMU Sabanci</option>
                                            <option>EMU 2</option>
                                            <option>EMU 3</option>
                                            <option>EMU 4</option>

                                            <option>Alfam</option>
                                            <option>Ugursal</option>
                                            <option>Marmara</option>
                                            <option>Akdeniz</option>
                                            <option>Longson</option>
                                            <option>Homedorm</option>
                                            <option>Ramen</option>
                                            <option>Prime Living</option>
                                            <option>Golden Plus</option>
                                            <option>Kamacioglu</option>

                                        </select>

                                    </div>

                                    <div class="col-md-4">
                                        <h6 class="text-white">@Localizer["Semester duration"]</h6>
                                        <select class="form-control  form-control-sm " data-toggle="select" title="@Localizer["Select semester"]" data-live-search="true" data-live-search-placeholder="Search ...">
                                            <option></option>
                                            <option>1 semester - Fall 2019</option>
                                            <option>2 semester - Fall/spring 2019</option>


                                        </select>
                                    </div>




                                </div>
                                <br />
                                <br />


                                <div class="row justify-content-center">


                                    <div class="col-md-6">
                                        <h6 class="text-white">@Localizer["Price"]</h6>

                                        <div class="range-slider-wrapper ">
                                            <!-- Range slider container -->
                                            <div id="input-slider-range" class="input-slider input-slider--yellow" data-range-value-min="100" data-range-value-max="500"></div>
                                            <!-- Range slider values -->
                                            <div class="row">
                                                <div class="col-6">
                                                    <span class="range-slider-value value-low" data-range-value-low="200" id="input-slider-range-value-low"></span>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <span class="range-slider-value value-high" data-range-value-high="400" id="input-slider-range-value-high"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">


                                        <h6 class="text-white">@Localizer["Room area"]</h6>

                                        <div class="input-slider-container mb-4">
                                            <div id="input-slider-red" class="input-slider input-slider--red" data-range-value-min="100" data-range-value-max="900"></div>
                                            <!-- Input slider values -->
                                            <div class="row mt-3">
                                                <div class="col-6">
                                                    <span id="input-slider-red-value" class="range-slider-value" data-range-value-low="200"></span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>



                                </div>

                                <br />
                            </div>
                            <div class="row justify-content-center">


                                <div class="col-md-6">

                                    <a asp-controller="debug" asp-action="SearchResultPage" class="btn btn-warning btn-block btn-animated btn-animated-x">
                                        <span class="btn-inner--visible">@Localizer["Search"]</span>
                                        <span class="btn-inner--hidden "><i class="fa fa-search"></i></span>
                                    </a>

                                </div>


                            </div>



                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg">
   
</section>


<section class="slice slice-lg ">

    <div class="container">

        <a href="#" class="link link-underline-warning font-weight-bold py-4 mt-4 delimiter-top h4">@Localizer["Popular dormitories"]</a>

        <br>

        <div class="swiper-js-container">
            <div id="swiper-row1" class="swiper-container swiper-container-horizontal" data-swiper-items="1" data-swiper-space-between="20" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xl-items="4" data-swiper-xl-space-between="20" style="cursor: grab;">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PublishingImages/Dormitories/novel/novel-cover.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Alfam dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Good</span>
                                    <a class=" rating-no text-white text-bold h3">9.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Sanel dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Excellent</span>
                                    <a class=" rating-no text-white text-bold h3">8.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%2011.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Hasan Uzuk dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Fantastic</span>
                                    <a class=" rating-no text-white text-bold h3">9.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 456.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%205.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Akdeniz dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Very Good</span>
                                    <a class=" rating-no text-white text-bold h3">6.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%207.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Alfam dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Excellent</span>
                                    <a class=" rating-no text-white text-bold h3">9.0</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Single%20suit%202.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Pop art dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Very Good</span>
                                    <a class=" rating-no text-white text-bold h3">7.9</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/_DSC8319.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Novel dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Good</span>
                                    <a class=" rating-no text-white text-bold h3">8.2</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>


                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <!-- Add Pagination -->
            @*<div class="d-flex justify-content-center pt-4">
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
            </div>*@
        </div>


    </div>
</section>

<section class="slice slice-lg ">

    <div class="container">

        <a href="#" class="link link-underline-warning font-weight-bold py-4 mt-4 delimiter-top h4">@Localizer["Highly rated dormitories"]</a>

        <br>

        <div class="swiper-js-container">
            <div id="swiper-row2" class="swiper-container swiper-container-horizontal" data-swiper-items="1" data-swiper-space-between="20" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xl-items="4" data-swiper-xl-space-between="20" style="cursor: grab;">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%2011.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Hasan Uzuk dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Fantastic</span>
                                    <a class=" rating-no text-white text-bold h3">9.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 456.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%205.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Akdeniz dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Very Good</span>
                                    <a class=" rating-no text-white text-bold h3">6.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%207.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Alfam dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Excellent</span>
                                    <a class=" rating-no text-white text-bold h3">9.0</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PublishingImages/Dormitories/novel/novel-cover.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Alfam dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Good</span>
                                    <a class=" rating-no text-white text-bold h3">9.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Sanel dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Excellent</span>
                                    <a class=" rating-no text-white text-bold h3">8.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>

                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Single%20suit%202.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Pop art dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Very Good</span>
                                    <a class=" rating-no text-white text-bold h3">7.9</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/_DSC8319.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Novel dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Good</span>
                                    <a class=" rating-no text-white text-bold h3">8.2</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>


                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PublishingImages/Stock/yurtlar-mudurlugu.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Alfam dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Excellent</span>
                                    <a class=" rating-no text-white text-bold h3">9.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>


                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <!-- Add Pagination -->
            @*<div class="d-flex justify-content-center pt-4">
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
            </div>*@
        </div>


    </div>
</section>

<span id="Dormitories-deals"></span>

<section class="slice slice-lg ">

    <div class="container">

        <a href="#" class="link link-underline-warning font-weight-bold py-4 mt-4 delimiter-top h4">@Localizer["Cool offers & deals"]</a>

        <br>

        <div class="swiper-js-container">
            <div id="swiper-row3" class="swiper-container swiper-container-horizontal" data-swiper-items="1" data-swiper-space-between="20" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xl-items="4" data-swiper-xl-space-between="20" style="cursor: grab;">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 5ms;">
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PublishingImages/Stock/yurtlar-mudurlugu.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Alfam dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Excellent</span>
                                    <a class=" rating-no text-white text-bold h3">9.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>

                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Sanel dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Excellent</span>
                                    <a class=" rating-no text-white text-bold h3">8.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%2011.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Hasan Uzuk dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Fantastic</span>
                                    <a class=" rating-no text-white text-bold h3">9.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PublishingImages/Stock/yurtlar-mudurlugu.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Alfam dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Excellent</span>
                                    <a class=" rating-no text-white text-bold h3">9.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PublishingImages/Dormitories/novel/novel-cover.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Alfam dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Good</span>
                                    <a class=" rating-no text-white text-bold h3">9.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 456.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%205.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Akdeniz dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Very Good</span>
                                    <a class=" rating-no text-white text-bold h3">6.7</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%207.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Alfam dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Excellent</span>
                                    <a class=" rating-no text-white text-bold h3">9.0</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Single%20suit%202.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Pop art dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Very Good</span>
                                    <a class=" rating-no text-white text-bold h3">7.9</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 356.667px; margin-right: 20px;">




                        <div class="card overflow-hidden" data-animate-hover="2">
                            <div class="overflow-hidden">
                                <div class="animate-this">
                                    <a href="#">
                                        <img alt="Image placeholder" class="card-img-top" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/_DSC8319.jpg?RenditionID=6">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Novel dormitory</h5>


                                <div class="rating-detail py-2">
                                    <span class="rating-text inline h4">Good</span>
                                    <a class=" rating-no text-white text-bold h3">8.2</a>
                                </div>


                                <span class="block text-primary">13 reviews</span>

                                <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                </span>


                            </div>
                        </div>

                    </div>




                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <!-- Add Pagination -->
            @*<div class="d-flex justify-content-center pt-4">
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
            </div>*@
        </div>


    </div>
</section>





@section scripts
    {
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/select2/dist/js/select2.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/swiper/dist/js/swiper.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/autosize/dist/autosize.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/typed.js/lib/typed.min.js"></script>


        <script>
            function changeBackground() {
               // #wallpaper_fullScreen
                var imageUrls = [
                    "https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2016/ugursal/img_1198.jpg?RenditionID=12",
                    "https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2016/ugursal/img_1232.jpg?RenditionID=12",
                    "https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%2011.jpg?RenditionID=12",
                    "https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/novel/Double%20suit%205.jpg?RenditionID=12"
                ];

                var section = document.getElementById("wallpaper_fullScreen");   // Get the first <h1> element in the document
                var att = document.createAttribute("style");       // Create a "class" attribute
                att.value = "background-image: url('" + imageUrls[Math.floor((Math.random() * 4) + 0)]+"'); background-position: center 60%; background-repeat: no-repeat; background-size: auto;";                           // Set the value of the class attribute
                section.setAttributeNode(att);   
                setTimeout(changeBackground, 5000);
            }
            setTimeout(changeBackground, 5000);
        </script>


        <script>
             var swiper1 = new Swiper('#swiper-row1', {
            slidesPerView: 'auto',
            centeredSlides: true,
            spaceBetween: 30,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: true,
                 },
                 loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            });


            var swiper2 = new Swiper('#swiper-row2', {
                slidesPerView: 'auto',
                centeredSlides: true,
                spaceBetween: 30,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: true,
                },
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });

            var swiper3 = new Swiper('#swiper-row3', {
                slidesPerView: 'auto',
                centeredSlides: true,
                spaceBetween: 30,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                autoplay: {
                    delay: 2100,
                    disableOnInteraction:true,
                },
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
        </script>
}

@section styles{
    <link type="text/css" href="@Url.Content("~/frontend_Content/assets")/vendor/swiper/dist/css/swiper.min.css" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/frontend_Content/assets")/vendor/select2/dist/css/select2.min.css" rel="stylesheet">

}