@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Dau.Services.Domain.DormitoryDetailService
@model AreaInfoSectionViewModel
@{ 
    var item = Model;
}
<div class="pt-1 mt-2 delimiter-top" id="AreaInfo">
    <!-- Resume timeline -->
    <h4>
        @Localizer["Location"]
        @*<img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/icons8-track-order-64.png">*@

        @*<span class="text-primary "> -@item.LocationRemark- @Localizer["show map"]</span>*@
    </h4>



    <h6 class="title-decorative">@Localizer["Somes popular places close to {0}", item.DormitoryName]</h6>
    <p>
        <a href="javascript:;" data-fancybox data-type="iframe" data-src="@item.MapSection" style=" color:#269038">@item.DormitoryStreetAddress - @Localizer["Show on map"]</a>

    </p>

    @foreach (var location in item.CloseLocations)
    {
        <dl class="row justfiy-content-between">
            <dt class="col-4">
                <a href="javascript:;" data-fancybox data-type="iframe" data-src="@location.MapSection" style=" color:#269038">
                    <span class="text-primary">
                        <i class="fa fa-map-marker " style="color:#ec7899"></i> @location.LocationName
                    </span>
                </a>
            </dt>
            <dd class="col-8">@Html.Raw(Localizer["Is <span class=\"text-primary\">{0}</span>  away & takes <span class=\"text-primary\">{1}</span> to get there from {2}", location.Distance, location.Duration, item.DormitoryName])</dd>
        </dl>
    }



    <h5 class="mt-5 text-primary">@Localizer["Distance and Durations to EMU Buildings Calculator"]</h5>
    <div class="row">
        <div class="col-md-8">
            <h6>@Localizer["EMU location"]</h6>
            <select class="form-control" asp-for="EmuLocation" asp-items="_dropdown.BuildingsOnMap()" data-toggle="select" id="EmuBuildingDisCal" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                <option></option>

            </select>
        </div>
        <div class="col-md-4">
            <h6>@Localizer["Travel mode"]</h6>
            <select class="form-control" data-toggle="select" asp-for="TravelMode" asp-items="_dropdown.TravelModes()" id="TravelModelDisCal" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                <option></option>
            </select>
        </div>

    </div>
    <div class="mt-3">
        <button type="button" id="CalculateDistanceBtn" class="btn btn-sm btn-primary btn-animated btn-animated-x">
            <span class="btn-sm btn-inner--visible">@Localizer["Calculate distance"]</span>
            <span class="btn-sm btn-inner--hidden"><i class="fas fa-arrow-right"></i></span>
        </button>
    </div>

    <div class="mt-3" id="distanceCalculatorResult">

        <dl class="row justfiy-content-between mt-4">
            <dt class="col-12 text-center">
                <a  style=" color:#269038">
                    <span class="text-primary">
                        <i class="fa fa-map-marker  " style="color:#ec7899"></i> @Localizer["Select Emu location to calculate the distance and duration from this dormitory"]
                    </span>
                </a>
            </dt> </dl>

        @*<dau-loader></dau-loader>*@
    </div>
</div>
