@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using searchDormWeb.Controllers
@model DormitoryDescriptionSectionViewModel
@{ 
    var item = Model;
}
<div class="row row-grid">

    <div class="col-md-8">

        <p class="h7">
            @Html.Raw(item.DormitoryDescription.Replace("\r\n", "<br />")) 
        </p>







    </div>
    <div class="col-md-4">

        <div>
            <div class="card border-0">

            </div>
        </div>
        <div class="card bg-secondary ">

            <div class="card-body">



                <div class="rating-detail ">

                    <a class=" rating-no text-white float-right text-bold h3">@item.RatingNo</a>
                    <span class="rating-text pt-2 mt-2 h3">@item.RatingText</span>
                </div>


                <span class="block text-primary">@Localizer["{0} reviews",item.ReviewNo]</span>

              <dau-rating rating="@item.ReviewNo"></dau-rating>




                <h1 class="h5 ">@Localizer["Students Love.."]</h1>

                <p><i class="fa fa-map-marker text-primary"></i>@Localizer["Location: {0}",item.Location] </p>
                <p><i class="fa fa-bed text-primary"></i> @Localizer["Home to over {0} students",item.NoOfStudents]</p>

                <h5>@item.Option</h5>
                <p>@item.OptionValue</p>

                <span>@item.StandAloneOption</span>



                <a asp-fragment="Availability" class="btn btn-primary btn-block btn-sm ">@Localizer["Reserve"]</a>

            </div>
        </div>


    </div>
</div>



<!-- Badges -->
<div class="d-lg-flex">

    @if (item.NoOfNewFacilities != null)
    {
        <a class="media d-flex align-items-center mr-lg-5 mb-3 mb-lg-0">
            <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/svg/in-progress.svg" style="width: 36px;">
            <div class="media-body pl-2">
                <span class="h6">@Localizer["{0} New facilities", item.NoOfNewFacilities]</span>
            </div>
        </a>
    }

    @if (item.NoOfStaff != null)
    {
        <a class="media d-flex align-items-center mr-lg-5 mb-3 mb-lg-0">
            <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/svg/natural-user-interface-1.svg" style="width: 36px;">
            <div class="media-body pl-2">
                <span class="h6">@Localizer["Over {0} staff", item.NoOfStaff]</span>
            </div>
        </a>
    }

    @if (item.NoOfAwards !=null){
        <a class="media d-flex align-items-center mb-3 mb-lg-0">
            <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/svg/collect.svg" style="width: 36px;">
            <div class="media-body pl-2">
                <span class="h6">@Localizer["{0} Awards", item.NoOfAwards]</span>
            </div>
        </a>

    }
    </div>

<div id="onScrollAlert-1">

</div>
