@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using searchDormWeb.Controllers
@model GoodToKnowSectionViewModel

@{
    var item= Model;

}
<div class="pt-5 mt-5 delimiter-top" id="GoodToKnow">
    <!-- Resume timeline -->
    <h4>@Localizer["Good to know"]</h4>
    <span>@Localizer["Here's some interesting information about Alfam dormitories!"]</span>

    <div class="card">
        <div class="card-body bg-secondary">

            <div>
                <span><i class="fas fa-calendar"></i> @Localizer["Times we are open weekdays"] </span>
                <dau-timerange min="@item.WeekdaysOpeningTime.OpeningTime" max="@item.WeekdaysOpeningTime.ClosingTime"></dau-timerange>
            </div>

            <div class="py-3">
                <span><i class="fas fa-calendar "></i> @Localizer["Times we are open weekends"] </span>

                <dau-timerange min="@item.WeekendsOpeningTime.OpeningTime" max="@item.WeekendsOpeningTime.ClosingTime"></dau-timerange>
            </div>

            @foreach (var info in item.OtherInfosList)
            {
                <div>
                    <span>
                        @if (info.Icon != null)
                        {
                            <i class="@info.Icon"></i>
                        }
                       
                        @info.Title
                    </span>
                    <div class="d-inline ml-5 mt-5">
                        <span>@info.Value</span>
                    </div>
                </div>
            }
        </div>
    </div>


</div>
