@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Dau.Services.Domain.DormitoryDetailService
@model ReviewButtomSectionViewModel

@{
    var item = Model;
}
<div class="mb-5">
    <h4>@Localizer["View latest dormitory review"]</h4>

    @if (item.LatestReview != null)
    {
        <span>@Localizer["Latest review by a student"]</span>
        <div class="card border-0">
            <div class="media media-comment ">
                <img alt="Image placeholder" class="rounded-circle shadow mr-4" src="@item.LatestReview.UserImageUrl" style="width: 64px;">
                <div class="media-body">
                    <div class="media-text-bubble left-top">
                        <h6 class="mt-0">
                            @item.LatestReview.UserFullName
                        </h6>
                        <div class=" border-0">
                            <div class=" rating-details float-right py-2">

                                <a class=" rating-no text-white text-bold h3">@item.LatestReview.UserRatingNo.ToString("N1")</a>
                            </div>
                            <dau-rating rating="@item.LatestReview.UserRatingNo"></dau-rating>


                        </div>

                        <p class="text-sm lh-160">@item.LatestReview.UserComment </p>

                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="card border-0">
            <div class="media media-comment ">

                <div class="media-body">
                    <span class="text-center">@Localizer["No latest review found"]</span>
                </div>
            </div>

        </div>



    }

    <h6>@Localizer["Write your own review"]</h6>

    @if (item.CurrentUser != null)
    {

        <div class="delimiter-top">

            @if (item.CurrentUser.SignedInUserImage == null)
            {
                <i class="fas fa-user-circle fa-2x"></i>
            }
            else
            {
                <img alt="Image placeholder" class="rounded-circle shadow mr-4" src="@item.CurrentUser.SignedInUserImage" style="width: 64px;">
            }


            <span class="d-inline">@item.CurrentUser.SignedInUserName</span>
            <span class="static-rating static-rating-sm">


                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>

            </span>
            <div class="form-group">
                <label>

                </label>
                <textarea class="form-control" placeholder="Write your review" rows="2"></textarea>
                <button class="btn btn-primary btn-sm m-1 float-right">@Localizer["Submit"]</button>
            </div>


        </div>


    }
    else
    {
        <div class="delimiter-top">

         
                <i class="fas fa-user-circle fa-2x"></i>
        


            <span class="d-inline">Sign in to Write a review</span>
            <span class="static-rating static-rating-sm">


                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>

            </span>
            <div class="form-group">
                <label>

                </label>
                <textarea class="form-control" disabled placeholder="Write your review" rows="2"></textarea>
                <button class="btn btn-primary btn-sm m-1 float-right">@Localizer["Sign in"]</button>
            </div>


        </div>

    }


</div>
