@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="pt-2  delimiter-top" id="Availability">
    <!-- Resume timeline -->
    <h6>@Localizer["Room Availability"]</h6>

    <div class="overflow">
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th class="bg-info text-white" scope="col">@Localizer["Sleeps"]</th>
                    <th class="bg-info text-white" scope="col">@Localizer["Room Type"]</th>
                    <th class="bg-info text-white" scope="col">@Localizer["Prices"]</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <i class="fas fa-male fa-2x"></i>
                        <i class="fas fa-male fa-2x"></i>
                        <i class="fas fa-male fa-2x"></i>

                    </td>
                    <td>
                        <h5 class="text-primary">Standard Twin Room</h5>
                        <p>
                            2 twin beds
                            <i class="fas fa-bed"></i>
                            <i class="fas fa-bed"></i>
                        </p>
                        <span class="text-danger"> 2 rooms left</span>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-block btn-sm">@Localizer["Show prices"]</button>
                    </td>

                </tr>

                <tr>
                    <td>
                        <i class="fas fa-male"></i>
                        <i class="fas fa-male"></i>
                        <i class="fas fa-male"></i>

                    </td>
                    <td>
                        <h5 class="text-primary">Standard Twin Room</h5>
                        <p>
                            2 twin beds
                            <i class="fas fa-bed"></i>
                            <i class="fas fa-bed"></i>
                        </p>
                        <span class="text-danger"> 2 rooms left</span>
                    </td>
                    <td>
                        <h4 class="text-bold" style="color:#269038">TL 1.839,00</h4>
                        <strike><h4 class="text-bold" style="color:grey; ">TL 1.839,00</h4></strike>
                        <a asp-action="Cart" asp-controller="Booking" class="btn btn-primary btn-block btn-sm">@Localizer["I'll reserve"]</a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    <h3>@Localizer["Or this type of table"]</h3>

    <div class="overflow">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="bg-info text-white" scope="col">@Localizer["Room Type"]</th>
                    <th class="bg-info text-white" scope="col">@Localizer["Sleeps"]</th>
                    <th class="bg-info text-white" scope="col">@Localizer["Prices"]</th>
                    <th class="bg-info text-white" scope="col">@Localizer["Your choices"]</th>
                    <th class="bg-info text-white" scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        <a href="#"><i class="fas fa-play text-warning"></i> <span class="text-primary h5"> Standard Twin Room</span></a>
                        <p>
                            2 twin beds
                            <i class="fas fa-bed"></i>
                            <i class="fas fa-bed"></i>
                        </p>
                        <span class="text-danger"> 2 rooms left</span>
                    </td>
                    <td>
                        <i class="fas fa-male fa-2x"></i>
                        <i class="fas fa-male fa-2x"></i>
                        <i class="fas fa-male fa-2x"></i>

                    </td>
                    <td>
                        <button class="btn btn-primary btn-block btn-sm">@Localizer["Show prices"]</button>
                    </td>
                    <td><i class="fas fa-check"></i> Includes deposit</td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <h5 class="text-primary">Standard Twin Room</h5>
                        <p>
                            2 twin beds
                            <i class="fas fa-bed"></i>
                            <i class="fas fa-bed"></i>
                        </p>
                        <span class="text-danger"> 2 rooms left</span>
                    </td>
                    <td>
                        <i class="fas fa-male"></i>
                        <i class="fas fa-male"></i>
                        <i class="fas fa-male"></i>

                    </td>

                    <td>
                        <h4 class="text-bold" style="color:#269038">TL 1.839,00</h4>
                        <strike><h4 class="text-bold" style="color:grey; ">TL 1.839,00</h4></strike>

                    </td>
                    <td> No deposit</td>
                    <td>
                        <a asp-action="Cart" asp-controller="Booking" class="btn btn-primary btn-block btn-sm">@Localizer["I'll reserve"]</a>
                    </td>
                </tr>


                <tr>
                    <td>
                        <h5 class="text-primary">Standard Twin Room</h5>
                        <p>
                            2 twin beds
                            <i class="fas fa-bed"></i>
                            <i class="fas fa-bed"></i>
                        </p>
                        <span class="text-danger"> 2 rooms left</span>
                    </td>
                    <td>
                        <i class="fas fa-male"></i>
                        <i class="fas fa-male"></i>
                        <i class="fas fa-male"></i>

                    </td>

                    <td>
                        <h4 class="text-bold" style="color:#269038">TL 1.839,00</h4>
                        <h6 class="text-bold" style="color:grey; ">per semester</h6>

                    </td>
                    <td> No deposit</td>
                    <td>
                        <a asp-action="Cart" asp-controller="Booking" class="btn btn-primary btn-block btn-sm">@Localizer["I'll reserve"]</a>
                        <a asp-action="Cart" asp-controller="Booking" class="btn btn-primary btn-block btn-sm">@Localizer["I'll reserve"]</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fas fa-lock"></i></span>

        <span class="alert-inner--text"><strong>@Localizer["Just booked in EMU"]: </strong>@Localizer["{0} Dormitories like Alfam dormitory were booked!"]</span>


        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


</div>
