@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Dau.Services.Domain.DormitoryDetailService
@model SpecificRoomViewModel
@{
    var item = Model;
    var count = 0;
    var countFacilities = 0;
    int columnNoItem = item.Facilities.Count / 2;
}
<div style="width: 90%;">
    @*<div class="col-md-6">




        </div>*@


    <div class="col-md-12">
        <div class="" id="Facilities">
            <!-- Resume timeline -->
            <h4>@item.RoomName - @item.DormitoryName<img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/svg/in-progress.svg" style="width: 45px;"></h4>

            <span class="mb-5">@item.DormitoryBlock - @item.GenderAllocation- @Localizer["Here is a list of our most popular facilities in this dormitory"]</span>


            <div class="row row-grid mt-4">
                <div class="col-md-12 col-lg-8" data-animate-hover="1" data-toggle="hidden">




                    <div class="overlapRatingParent">

                        <!-- Swiper -->
                        <div class="swiper-container swiper_container_room">

                            <div class="swiper-wrapper">
                                @foreach (var ImageUrl in item.Sliders.ImageUrls)
                                {
                                    <div class="swiper-slide swiper_slide_room"><img alt="Image placeholder" class="img-fluid rounded" src="@ImageUrl"></div>
                                }
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>


                    </div>
                    <div>
                        <div class="grid_room">
                            @foreach (var ImageUrl in item.Sliders.ImageUrls)
                            {
                                <div class="grid-item grid_item_room" id="grid-item_room_@count" onclick="swiperClickRoom(@count)"><img alt="Image placeholder" src="@ImageUrl"></div>


                                count++;
                            }
                        </div>
                    </div>


                    <div class="row row-grid mt-4 pt-2">
                        <div class="col-md-6">
                            <a><i class="fas fa-play text-warning"></i> <span class="text-primary h5"> @item.RoomName </span></a>
                            <span class="badge badge-secondary">@item.DormitoryName</span>
                            <span class="static-rating static-rating-sm">
                                <i class="star fas fa-star voted"></i>
                            </span>

                            <span class="badge badge-secondary">@item.GenderAllocation</span>
                            <p>
                                @String.Format(" {0} {1}", item.NoOfStudents, item.BedType)

                                <dau-bedIcon reapeat-no="@item.NoOfStudents"></dau-bedIcon>
                            </p>
                            @if (item.NoRoomQuota > 0)
                            {
                                <span class="text-danger"> @Localizer["{0} rooms left", item.NoRoomQuota]</span>}
                            </div>

                        <div class="col-md-6">

                            <h4 class="text-bold" style="color:#269038">TL @item.Price</h4>
                            @if (item.OldPrice != null)
                            {
                                <strike><h4 class="text-bold" style="color:grey; ">TL @item.OldPrice</h4></strike>} 

                                @if (item.HasDeposit)
                                {
                                    <span><i class="fas fa-check"></i>@Localizer["Includes deposit"] <br></span>
                                }
                                else
                                {
                                    <span><i class="fas fa-check"></i>@Localizer["No deposit Included"]<br></span>
                                }


                                @if (item.NoRoomQuota <= 0)
                                {
                                    <span class="text-danger d-block"> @Localizer["Rooms sold out"]</span>}
                                else
                                { <a href="@Html.Raw(Url.Action("AddToCart", "Booking"))/@item.RoomId" class="btn btn-primary btn-block btn-sm">@Localizer["I'll reserve"]</a>
                            }


                            </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12  mt-md-5 mt-lg-0">


                    <h4 class="text-primary">List of room facilities</h4>
                    <div class="row row-grid ">

                        <div class="col-md-6 col-lg-6 " data-animate-hover="1" data-toggle="hidden">
                            <ul>

                                @foreach (var facility in item.Facilities)
                                {

                                    <li>
                                        <span class=" mt-1 facilityCol shadow animate-this">
                                            @if (facility.IconUrl != null)
                                            {

                                                <img alt="Image placeholder" src="@facility.IconUrl" style="width: 20px;">
                                            }
                                            @facility.FacilityName
                                        </span>
                                    </li>


                                    @if (countFacilities == columnNoItem)
                                    {
                                        countFacilities = 0;
                                        var htmlString = @" </ul> </div> <div class=""col-md-6 col-lg-6 ""> <ul>";
                                        @Html.Raw(htmlString)
                                    }


                                    countFacilities++;
                                }

                            </ul>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>
</div>


<script>

    swiper_room = new Swiper('.swiper_container_room', {
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 30,
        watchActiveIndex: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        }
    });

    function swiperClickRoom(index) {
        //   alert(index);
        swiper_room.slideTo(index, 1, false);
    }
    swiper_room.on('slideChange', function () {
        console.log('slide changed' + swiper_room.activeIndex);
        console.log('swiper' + swiper_room);
        $('.grid_item_room').removeClass('grid-item-active');
        $('#grid-item_room_' + swiper_room.activeIndex).addClass('grid-item-active');


    });

    setTimeout(function () {
        $('.grid_room').masonry({
            // options
            itemSelector: '.grid_item_room'

        });

        $('.grid-item').imagefill({ throttle: 1000 / 60 });
        $('#grid-item_room_0').addClass('grid-item-active');
    }, 50);


</script>