@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="card ">

    <div class="card-body-search ">
        <div class="row " style="margin:0px; padding:0px;">

            <div class="col bg-yellow" style="margin:0px; padding:0px;">
                <a href="#Availability" class="btn btn-sm btn-warning btn-block ">@Localizer["Room Info & Price"]</a>
            </div>
            <div class="col" style="margin:0px; padding:0px;">
                <a href="#Facilities" class="btn btn-sm  btn-block btn-outline-warning">@Localizer["Facilities"]</a>
            </div>
            <div class="col" style="margin:0px; padding:0px;">
                <a href="#GoodToKnow" class="btn btn-sm btn-block btn-outline-warning btn-block ">@Localizer["Good to know"]</a>
            </div>
            <div class="col" style="margin:0px; padding:0px;">
                <a href="#comments_section" class="btn btn-sm btn-block btn-outline-warning btn-block ">@Localizer["Student reviews"]</a>
            </div>


        </div>

    </div>
</div>

<div class="card border-0 float-right m-1">

    <img alt="Image placeholder" class="" height="90" src="https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/18/c4/73/18c473bc-cd1c-4e6e-4ba0-4a9afcae1fc4/source/512x512bb.jpg">
</div>

<h3>Alfam Dormitory EMU University</h3>
<a><i class="fa fa-map-marker text-primary " style="color:#269038;"></i> EMU charles Darwin street-@Localizer["Show on map"]</a>
<span class="address-show-map" style="color:#269038; text-decoration:underline;"> <a href="#" style=" color:#269038">@Localizer["Show map"]</a></span>
<h6>Dormitory belongs to the category of private school dormitories/ accomodations (BOT)</h6>
