@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Dau.Services.Domain.DormitoryDetailService
@model TopNavDormitorySectionViewModel
@{
    var item = Model;
}

<div class="card mt-sm-0 pt-sm-0">

    <div class="card-body-search ">
        <div class="row " style="margin:0px; padding:0px;">

            <div class="col bg-yellow" style="margin:0px; padding:0px;">
                <a href="#_RoomSection" class="btn btn-sm btn-warning btn-block ">@Localizer["Room Info & Price"]</a>
            </div>
            <div class="col" style="margin:0px; padding:0px;">
                <a href="#_FacilitiesSection" class="btn btn-sm  btn-block btn-outline-warning">@Localizer["Facilities"]</a>
            </div>
            <div class="col" style="margin:0px; padding:0px;">
                <a href="#_GoodToKnowSection" class="btn btn-sm btn-block btn-outline-warning btn-block ">@Localizer["Good to know"]</a>
            </div>
            <div class="col" style="margin:0px; padding:0px;">
                <a href="#comments_section" class="btn btn-sm btn-block btn-outline-warning btn-block ">@Localizer["Student reviews"]</a>
            </div>
            <a href="javascript:;" data-fancybox data-type="iframe" data-src="@item.MapSection" class="float-right btn-sm  btn btn-warning btn-icon-label">
                <span class="btn-inner--icon"><i class="far fa-map"></i></span>
                <span class="btn-inner--text">@Localizer["Show on Map"]</span>
            </a>

        </div>

    </div>
</div>
@*@if(item.DormitoryLogoUrl!=null || item.DormitoryLogoUrl != "" ||item.DormitoryLogoUrl.Length>0) {
    <div class="card border-0 float-right m-1">

        <img  class="" height="90" src="@item.DormitoryLogoUrl">
    </div>
    }*@

<h3>@item.DormitoryName</h3>
@*<a href="javascript:;" data-fancybox data-type="iframe" data-src="@item.MapSection" ><i class="far fa-map  text-warning " style="color:#269038;"></i> @item.DormitoryStreetAddress </a>
    <span class="address-show-map" style="color:#269038; text-decoration:underline;">
        <a href="javascript:;" data-fancybox data-type="iframe" data-src="@item.MapSection" style=" color:#269038">@Localizer["Show map"]</a></span>
    <h6>@item.DormitoryType</h6>*@
