@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using searchDormWeb.Controllers
@model TopNavDormitorySectionViewModel
@{ 
    var item = Model;
}

<div class="card ">

    <div class="card-body-search ">
        <div class="row " style="margin:0px; padding:0px;">

            <div class="col bg-yellow" style="margin:0px; padding:0px;">
                <a href="#_RoomSection" class="btn btn-sm btn-warning btn-block ">@Localizer["Room Info & Price"]</a>
            </div>
            <div class="col" style="margin:0px; padding:0px;">
                <a href="#Facilities" class="btn btn-sm  btn-block btn-outline-warning">@Localizer["Facilities"]</a>
            </div>
            <div class="col" style="margin:0px; padding:0px;">
                <a href="#GoodToKnow" class="btn btn-sm btn-block btn-outline-warning btn-block ">@Localizer["Good to know"]</a>
            </div>
            <div class="col" style="margin:0px; padding:0px;">
                <a href="#comments_section" class="btn btn-sm btn-block btn-outline-warning btn-block ">@Localizer["Student reviews"]</a>
            </div>


        </div>

    </div>
</div>

<div class="card border-0 float-right m-1">

    <img alt="Image placeholder" class="" height="90" src="@item.DormitoryLogoUrl">
</div>

<h3>@item.DormitoryName</h3>
<a><i class="fa fa-map-marker text-primary " style="color:#269038;"></i> @item.DormitoryStreetAddress - @Localizer["Show on map"]</a>
<span class="address-show-map" style="color:#269038; text-decoration:underline;"> <a href="#" style=" color:#269038">@Localizer["Show map"]</a></span>
<h6>@item.DormitoryType</h6>
