
@{
    ViewData["Title"] = Localizer["DormitoryDetail"];
    Layout = "~/Views/Shared/_LayoutUserNew.cshtml";
}



<section class="slice" style=" padding-top:20px; ">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-3">

                <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover">
                    @{await Html.RenderPartialAsync("/Views/Dormitory/_FilterSection.cshtml", null);}


                    <div id="CommentSectionLgScreens">
                        <div class="py-4" id="comments_section">
                            <div class="text-center mt-5">
                                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>


            <div class="col-lg-9">

                @** this is were it starts*@
                <div id="_TopnavDormitorySection">
                    <div class="text-center mt-5">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>


                <div id="_SlidersSection">
                    <div class="text-center mt-5">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>

                <div class="card" style="border-width:0px; margin-top:15px;">

                    <div id="_DormitoryDescriptionSection">
                        <div class="text-center mt-5">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>

                    </div>


                    <div id="_RoomSection">
                        <div class="text-center mt-5">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>

                    <div id="_AreaInfoSection">
                        <div class="text-center mt-5">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>

                    <div id="_FacilitiesSection">
                        <div class="text-center mt-5">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>

                </div>

                <div id="_GoodToKnowSection">
                    <div class="text-center mt-5">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>






                <div class="pt-5 mt-5 delimiter-top" id="StudentReview">
                    <!-- Resume timeline -->


                    <div id="_ReviewBottomSection">
                        <div class="text-center mt-5">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>

                    <div id="CommentSectionSmScreens">
                    </div>
                </div>




            </div>







        </div>

    </div>


    <div class="fabb d-lg-none " id="">
        <button type="button" id="FabBtn" class="btn btn-primary btn-icon-only ">
            <span class="btn-inner--icon"><i class="fas fa-filter"></i></span>
        </button>
    </div>
</section>

<!-- Call to action -->
<!-- Call to action -->

<section class="slice slice-lg bg-primary">

    <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-weight-400 text-white">@Localizer["I am ready to start booking Now"] </h3>
                <div class="mt-5">
                    <a href="" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4">@Localizer["Book my first Room"]<span class="badge badge-pill badge-danger text-sm">@Localizer["Now"]</span></a>
                    <a href="" class="btn btn-link text-white">@Localizer["Have an issue?"]</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
    {
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/select2/dist/js/select2.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/swiper/dist/js/swiper.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/autosize/dist/autosize.min.js"></script>
    <script src="@Url.Content("~/frontend_Content/assets")/vendor/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script src="@Url.Content("~/viewsjs/Public")/DormitoryDetail.js"></script>
    <script>

        if ($(window).width() >= 991) {
            //console.log("Conditions are met");
            // alert("about to detach comments section");
            var element = $('#comments_section').detach();
            $('#CommentSectionLgScreens').append(element);
        } else {
            // console.log("Conditions are not met");
            // alert("about to append comments section");
            var element2 = $('#comments_section').detach();
            $('#CommentSectionSmScreens').append(element2);


        }

        window.onresize = function (event) {
            if ($(window).width() >= 991) {
                //console.log("Conditions are met");
                //  alert("about to detach comments section lg screens");
                var element = $('#comments_section').detach();
                $('#CommentSectionLgScreens').append(element);
            } else {
                // alert("about to detach comments section sm screens");
                // console.log("Conditions are not met");
                var element2 = $('#comments_section').detach();
                $('#CommentSectionSmScreens').append(element2);


            }
        }

    </script>



}

@section styles{
    <link type="text/css" href="@Url.Content("~/frontend_Content/assets")/vendor/swiper/dist/css/swiper.min.css" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/frontend_Content/assets")/vendor/select2/dist/css/select2.min.css" rel="stylesheet">
    <link type="text/css" href="@Url.Content("~/viewscss/Public")/DormitoryDetail.css" rel="stylesheet">
 


}