
@{
    ViewData["Title"] = Localizer["AccountProfile"];
    Layout = "~/Views/Shared/_LayoutMyAccount.cshtml";
}

@using Microsoft.AspNetCore.Identity
@using Dau.Core.Domain.Users;
@using Dau.Services.Users;
@using Dau.Services.Domain.BookingService;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUsersService _userService
@inject IBookingService _bookingService
<div class="col-lg-9">
    <!-- Change avatar -->
    <!-- Change avatar -->

    <div class="card bg-gradient-warning border-0 shadow mb-4">
        <div class="card-body py-3">
            <div class="row row-grid align-items-center">
                <div class="col-lg-8">
                    <div class="media align-items-center">

                        @if (_userService.GetUserPhotoUrl(SignInManager.UserManager.GetUserId(User)) == null)
                        {
                           
                        <a href="#" class="avatar avatar-lg rounded-circle mr-3"> <i class="fas fa-user-circle fa-2x"></i> </a>
                        }
                        else
                        { <a href="#" class="avatar avatar-lg rounded-circle mr-3">
                                <img alt="Image placeholder" src="@_userService.GetUserPhotoUrl(SignInManager.UserManager.GetUserId(User))">
                            </a>
                        }
                        
                        <div class="media-body">
                            <h5 class="text-white mb-0">@_userService.GetFirstLastNames(SignInManager.UserManager.GetUserId(User))</h5>
                            <div>
                                <form>
                                    <input type="file" name="file-1[]" id="file-1" class="custom-input-file custom-input-file-link" data-multiple-caption="{count} files selected" multiple />
                                    <label for="file-1">
                                        <span class="text-white">@Localizer["Change photo"]</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <form>
        <!-- General -->

        <div class="page-inner-header mb-4">
            <h5 class="mb-1">@Localizer["General information"]</h5>

            <p class="text-muted mb-0">@Localizer["You can help us, by filling your data, create you a much better experience using our website."]</p>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">@Localizer["First name"]</label>
                    <input class="form-control" type="text" placeholder="@Localizer["Enter your first name"]">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">@Localizer["Last name"]</label>
                    <input class="form-control" type="text" placeholder="@Localizer["Also your last name"]">
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">@Localizer["Birthday"]</label>
                    <input type="text" class="form-control" data-toggle="date" placeholder="@Localizer["Select your birth date"]">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">@Localizer["Gender"]</label>
                    <select class="form-control" data-toggle="select" placeholder="@Localizer["You gender"]">
                        <option value="1">@Localizer["Female"]</option>
                        <option value="2">@Localizer["Male"]</option>
                        <option value="2">@Localizer["Rather not say"]</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">@Localizer["Email"]</label>
                    <input class="form-control" type="email" placeholder="name@exmaple.com">
                    <small class="form-text text-muted mt-2">@Localizer["This is the main email address that we'll send notifications to."]<a href="account-notifications.html">@Localizer["Manage you notifications"]</a> @Localizer["in order to receive only the thing that matter to you most."]</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">@Localizer["Phone"]</label>
                    <input class="form-control" type="text" placeholder="+90 5** ***** **">
                </div>
            </div>
        </div>

        <!-- Address -->
        <div class="pt-5 mt-5 delimiter-top">

            <div class="page-inner-header mb-4">
                <h5 class="mb-1">@Localizer["Address details"]</h5>

                <p class="text-muted mb-0">@Localizer["Fill in your address info for upcoming bookings"]</p>

            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">@Localizer["Address"]</label>
                        <input class="form-control" type="text" placeholder="@Localizer["Enter your home address"]">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">@Localizer["City"]</label>
                        <input class="form-control" type="text" placeholder="@Localizer["City"]">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">@Localizer["Country"]</label>
                        <select class="form-control" data-toggle="select" title="Country" data-live-search="true" data-live-search-placeholder="@Localizer["Country"]">
                       
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- Description -->


        <div class="pt-5 mt-5 delimiter-top">
            <button type="button" class="btn btn-sm btn-primary">@Localizer["Save changes"]</button>
            <button type="button" class="btn btn-link">@Localizer["Cancel"]</button>
        </div>
    </form>
</div>