
@{
    ViewData["Title"] = Localizer["AccountNotifications"];
    Layout = "~/Views/Shared/_LayoutMyAccount.cshtml";
}

<div class="col-lg-9">
    <!-- Notification -->

    <div class="page-inner-header mb-4">
        <h5 class="mb-1">@Localizer["Browser notifications"]</h5>

        <p class="text-muted mb-0">@Localizer["Be notified only about the things that matter to you through browser notifications."]</p>

    </div>


    <div class="list-group">
        <div class="list-group-item d-flex w-100 justify-content-between">
            <div>
                <h6 class="mb-1">@Localizer["A room from wishlist is on available for booking"]</h6>
                <small>@Localizer["You will receive an alert when one of your wishlist is available for booking"]</small>
            </div>
            <div>
                <label class="toggle-switch" for="shop-notification-1">
                    <input type="checkbox" name="shop-notifications-1" id="shop-notification-1" checked>
                    <span class="toggle-switch-slider rounded-circle"></span>
                </label>
            </div>
        </div>

        <div class="list-group-item d-flex w-100 justify-content-between">
            <div>
                <h6 class="mb-1">@Localizer["Payment has been confirmed for you booking"]</h6>
                <small>@Localizer["You will receive an alert when payment of your booking has been confirmed"]</small>
            </div>
            <div>
                <label class="toggle-switch" for="shop-notification-1">
                    <input type="checkbox" name="shop-notifications-1" id="shop-notification-1" checked>
                    <span class="toggle-switch-slider rounded-circle"></span>
                </label>
            </div>
        </div>


        <div class="list-group-item d-flex w-100 justify-content-between">
            <div>
                <h6 class="mb-1">@Localizer["Booking status notification"]</h6>
                <small>@Localizer["You will receive an alert when booking status notifcation changes."]</small>
            </div>
            <div>
                <label class="toggle-switch" for="shop-notification-1">
                    <input type="checkbox" name="shop-notifications-1" id="shop-notification-1" checked>
                    <span class="toggle-switch-slider rounded-circle"></span>
                </label>
            </div>
        </div>

        <div class="list-group-item d-flex w-100 justify-content-between">
            <div>
                <h6 class="mb-1">@Localizer["A new room is added"]</h6>
                <small>@Localizer["You will receive an alert when one of your favorite dormitory adds a new room"]</small>
            </div>
            <div>
                <label class="toggle-switch" for="shop-notification-2">
                    <input type="checkbox" name="shop-notification-2" id="shop-notification-2">
                    <span class="toggle-switch-slider rounded-circle"></span>
                </label>
            </div>
        </div>
        <div class="list-group-item d-flex w-100 justify-content-between">
            <div>
                <h6 class="mb-1">@Localizer["New promotions are available"]</h6>
                <small>@Localizer["You will receive an alert when new promotions are available"]</small>
            </div>
            <div>
                <label class="toggle-switch" for="shop-notification-3">
                    <input type="checkbox" name="shop-notification-3" id="shop-notification-3" checked>
                    <span class="toggle-switch-slider rounded-circle"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="pt-5 mt-5 delimiter-top">
        <!-- Notification -->

        <div class="page-inner-header mb-4">
            <h5 class="mb-1">@Localizer["Email notifications"]</h5>

            <p class="text-muted mb-0">@Localizer["Be notified via email only about the things that matter to you."]</p>

        </div>


        <div class="list-group">
            <div class="list-group-item d-flex w-100 justify-content-between">
                <div>
                    <h6 class="mb-1">@Localizer["Newsletter from Dormitory directorate"]</h6>
                    <small>@Localizer["You will receive a newsletter from Dormitory directorate from time to time"]</small>
                </div>
                <div>
                    <label class="toggle-switch" for="card-notification-1">
                        <input type="checkbox" name="card-notifications-1" id="card-notification-1" checked>
                        <span class="toggle-switch-slider rounded-circle"></span>
                    </label>
                </div>
            </div>
            <div class="list-group-item d-flex w-100 justify-content-between">
                <div>
                    <h6 class="mb-1">@Localizer["Send booking invoices via email"]</h6>
                    <small>@Localizer["You will receive a booking invoice for a successful booking"]</small>
                </div>
                <div>
                    <label class="toggle-switch" for="card-notification-2">
                        <input type="checkbox" name="card-notification-2" id="card-notification-2">
                        <span class="toggle-switch-slider rounded-circle"></span>
                    </label>
                </div>
            </div>

            <div class="list-group-item d-flex w-100 justify-content-between">
            <div>
                <h6 class="mb-1">@Localizer["A room from wishlist is on available for booking"]</h6>
                <small>@Localizer["You will receive an email when a room from wishilist if available for booking"]</small>
            </div>
            <div>
                <label class="toggle-switch" for="shop-notification-1">
                    <input type="checkbox" name="shop-notifications-1" id="shop-notification-1" checked>
                    <span class="toggle-switch-slider rounded-circle"></span>
                </label>
            </div>
        </div>
        <div class="list-group-item d-flex w-100 justify-content-between">
            <div>
                <h6 class="mb-1">@Localizer["A new room is added"]</h6>
                <small>@Localizer["You will receive an alert when a new room has been added to your favorite dormitory."]</small>
            </div>
            <div>
                <label class="toggle-switch" for="shop-notification-2">
                    <input type="checkbox" name="shop-notification-2" id="shop-notification-2">
                    <span class="toggle-switch-slider rounded-circle"></span>
                </label>
            </div>
        </div>
        <div class="list-group-item d-flex w-100 justify-content-between">
            <div>
                <h6 class="mb-1">@Localizer["New promotions are available"]</h6>
                <small>@Localizer["You will receive an alert when new promotions are available"]</small>
            </div>
            <div>
                <label class="toggle-switch" for="shop-notification-3">
                    <input type="checkbox" name="shop-notification-3" id="shop-notification-3" checked>
                    <span class="toggle-switch-slider rounded-circle"></span>
                </label>
            </div>
        </div>

    </div>
    </div>
</div>