@using searchDormWeb.Areas.Admin.Models.Reservation
@model CancelReservationRequestEdit
@{
    ViewData["Title"] = Localizer["Edit Cancel Booking request"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small><a asp-action="CancelRequest" asp-controller="Reservations"><i class="fa fa-arrow-circle-left"></i> @Localizer["back to cancel reservations list"]</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" form="addForm" class="btn btn-info "> <i class="fa fa-envelope-o"></i> @Localizer["Notify customer about status change"]</button>
                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save"]</button>
                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save and Continue Edit"]</button>
                    <button type="submit" form="addForm" class="btn btn-danger "> <i class="fa fa-trash-o"></i> @Localizer["Delete"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-solid">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <dau-label asp-for="Id"></dau-label>
                            <div class="col-sm-8">
                                <p>1</p>
                            </div>

                        </div>

                        <div class="form-group">
                           <dau-label asp-for="BookingNumber"></dau-label>
                            <div class="col-sm-8">
                                <a>123234342</a>
                            </div>

                        </div>

                        <div class="form-group">
                            <dau-label asp-for="Customer"></dau-label>
                            <div class="col-sm-8">
                                <a>msjahun@live.com</a>
                            </div>

                        </div>


                        <div class="form-group">
                            <dau-label asp-for="Room"></dau-label>
                            <div class="col-sm-8">
                                <a>Alfam B block</a>
                            </div>

                        </div>


                        <div class="form-group">
                            
                            <dau-label asp-for="ReturnRequestStatus"></dau-label>
                            <dau-select asp-for="ReturnRequestStatus" ></dau-select>
                            <span asp-validation-for="ReturnRequestStatus"></span>

                        </div>


                        <div class="form-group">
                            
                            <dau-label asp-for="ReasonForCancellation"></dau-label>
                            <dau-input asp-for="ReasonForCancellation" type="text"></dau-input>
                            <span asp-validation-for="ReasonForCancellation"></span>
                        </div>


                        <div class="form-group">
                            
                            <dau-label asp-for="RequestedAction"></dau-label>
                            <dau-input asp-for="RequestedAction" type="text"></dau-input>
                            <span asp-validation-for="RequestedAction"></span>
                        </div>



                        <div class="form-group">
                            
                            <dau-label asp-for="CustomerComment"></dau-label>
                            <dau-textarea asp-for="CustomerComment" ></dau-textarea>
                            <span asp-validation-for="CustomerComment"></span>

                        </div>

                        <div class="form-group">
                            
                            <dau-label asp-for="StaffNotes"></dau-label>
                            <dau-textarea asp-for="StaffNotes" ></dau-textarea>
                            <span asp-validation-for="StaffNotes"></span>
                        </div>


                        <div class="form-group">
                            <dau-label asp-for="Date"></dau-label>
                            <div class="col-sm-8">
                                <p>9/2/2018 2:10:53 PM</p>
                            </div>

                        </div>


                    </div>
                    <!-- /.box-body -->

                </form>
            </div>


        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->

}

