@using searchDormWeb.Areas.Admin.Models.Reservation
@model ReservationEdit
@{
    ViewData["Title"] = "Edit Booking";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small><a asp-action="List" asp-controller="Reservations"><i class="fa fa-arrow-circle-left"></i> back to bookings list</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-file-pdf-o"></i> Invoice(PDF)</button>
                    <button type="submit" form="addForm" class="btn btn-danger "> <i class="fa fa-trash-o"></i> Delete</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">Info</a></li>
                    <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Billing Info</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Room</a></li>
                    <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">Order notes</a></li>
                </ul>
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_3">
                        <form class="form-horizontal">
                            <div class="box">
                                <div class="box-header"></div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">
                                    <div class="form-group">
                                        <dau-label asp-for="BookingStatus"></dau-label>
                                        <div class="col-sm-8">
                                            <bold>Pending</bold>
                                            <button class="btn btn-danger btn-flat"> Cancel booking</button>
                                            <button class="btn btn-primary btn-flat"> Change status</button>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="BookingOrderNumber"></dau-label>
                                        <div class="col-sm-8">
                                            <p>123343443</p>
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        <dau-label asp-for="Dormitory"></dau-label>
                                        <div class="col-sm-8">
                                            <p>Alfam dormitories</p>
                                        </div>

                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box-->
                            <div class="box">
                                <div class="box-header"></div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">

                                    <div class="form-group">
                                        <dau-label asp-for="Customer"></dau-label>
                                        <div class="col-sm-8">
                                            <a>thandisilen@gmail.com</a>
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        <dau-label asp-for="CustomerIpAddress"></dau-label>
                                        <div class="col-sm-8">
                                            <p>194.27.73.30</p>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="BookingOrderSubtotal"></dau-label>
                                        <div class="col-sm-8">
                                            <p>$18.00</p>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <dau-label asp-for="BookingFee"></dau-label>
                                        <div class="col-sm-8">
                                            <p>$0.00</p>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="OrderTotal"></dau-label>
                                        <div class="col-sm-8">
                                            <p>$18.00</p>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                       <dau-label asp-for="Profit"></dau-label>
                                        <div class="col-sm-8">
                                            <p>$4.30</p><button class="btn btn-primary">Edit order totals</button>
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        <dau-label asp-for="PaymentMethod"></dau-label>
                                        <div class="col-sm-8">
                                            <p>Upload payment method (UPM)</p>
                                        </div>

                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box-->



                            <div class="box">
                                <div class="box-header"></div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">

                                    <div class="form-group">
                                        <dau-label asp-for="PaymentStatus"></dau-label>
                                        <div class="col-sm-8">
                                            <p>Pending </p><button class="btn btn-primary">Mark as paid</button>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                       <dau-label asp-for="CreatedOn"></dau-label>
                                        <div class="col-sm-8">
                                            <p>8/22/2018 2:33:16 AM</p>
                                        </div>

                                    </div>



                                </div>
                                <!-- /.box-body -->


                            </div>
                        </form>
                    </div>










                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_1">
                        <div class="box">
                            <div class="box-header"></div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form class="form-horizontal">
                                <div class="box-body">

                                    <div class="form-group">
                                      <dau-label asp-for="BillingAddress" ></dau-label>
                                        <div class="col-sm-4">
                                            <table id="example2" class="table table-bordered table-striped">

                                                <tbody>
                                                    <tr>
                                                        <td>Full name</td>
                                                        <td>Musa Jahun</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Email </td>
                                                        <td>msjahun@live.com</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Phone </td>
                                                        <td>+905338264432</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Address 1 </td>
                                                        <td>Eastern Mediterranean University</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Address 2 </td>
                                                        <td>North Cyprus</td>
                                                    </tr>

                                                    <tr>
                                                        <td>City </td>
                                                        <td>Famagusta</td>
                                                    </tr>

                                                    <tr>
                                                        <td>State/ province </td>
                                                        <td></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Zip / postal code </td>
                                                        <td>99450</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Country </td>
                                                        <td>Turkey</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                            <button type="submit" form="addForm" class="btn btn-primary">  Edit</button>

                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>


                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="box ">
                            <div class="box-header">

                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">
                                <table id="example22" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Picture</th>
                                            <th>Room name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Discount</th>
                                            <th>Total</th>
                                            <th>Edit</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>
                                <button type="submit" form="addForm" class="btn btn-primary"> <i class="fa fa-plus-square"></i> Add room</button>

                            </div>
                        </div>
                    </div>

                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_4">
                        <div class="box ">
                            <div class="box-header">

                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">

                                <div class="overflow">
                                    <table id="example24" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Created on</th>
                                                <th>Note</th>
                                                <th>Attached file</th>
                                                <th>Display to customer</th>
                                                <th>Delete</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>8/22/2018 2:33:20 AM</td>
                                                <td>"Order placed" email(to customer) has been queued. Queued email identifier: 466</td>
                                                <td>No file attached</td>
                                                <td><i style="color:red;" class="fa fa-times"></i></td>
                                                <td><button class="btn btn-default"><i class="fa fa-times"></i> Delete</button></td>
                                            </tr>
                                            <tr>
                                                <td>8/22/2018 2:33:20 AM</td>
                                                <td>"Order placed" email(to customer) has been queued. Queued email identifier: 466</td>
                                                <td>No file attached</td>
                                                <td><i style="color:red;" class="fa fa-times"></i></td>
                                                <td><button class="btn btn-default"><i class="fa fa-times"></i> Delete</button></td>
                                            </tr>
                                            <tr>
                                                <td>8/22/2018 2:33:20 AM</td>
                                                <td>"Order placed" email(to customer) has been queued. Queued email identifier: 466</td>
                                                <td>No file attached</td>
                                                <td><i style="color:red;" class="fa fa-times"></i></td>
                                                <td><button class="btn btn-default"><i class="fa fa-times"></i> Delete</button></td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header">
                                <p>Add order note</p>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">

                                <form class="form-horizontal">


                                    <div class="form-group">
                                       
                                        <dau-label asp-for="orderNotesTab.Note"></dau-label>
                                     <dau-input asp-for="orderNotesTab.Note" type="text"></dau-input>
                                        <span asp-validation-for="orderNotesTab.Note"></span>

                                    </div>

                                    <div class="form-group">
                                        

                                        <dau-label asp-for="orderNotesTab.AttachedFile"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="orderNotesTab.AttachedFile" type="checkbox">
                                        </div>
                                        <span asp-validation-for="orderNotesTab.AttachedFile"></span>

                                    </div>

                                    <div class="form-group">
                              
                                        <dau-label asp-for="orderNotesTab.DisplayToCustomer"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="orderNotesTab.DisplayToCustomer" type="checkbox">
                                            <p>Check this option to display to customer</p>
                                        </div>
                                        <span asp-validation-for="orderNotesTab.DisplayToCustomer"></span>

                                    </div>  
                                    
                                    
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label"></label>

                                        <div class="col-sm-8">
                                     
                                            <button class="btn btn-primary">Add order note</button>
                                        </div>

                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.tab-content -->
            </div>



        </div>
    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")bower_components/ckeditor/ckeditor.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <script>
        $(function () {



            $('#example22').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': false,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

            $('#example24').DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
}