@using Dau.Services.Domain.BookingService
@model ReservationEdit
@{
    ViewData["Title"] = Localizer["Edit Booking"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
    var item = Model;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small><a asp-action="List" asp-controller="Reservations"><i class="fa fa-arrow-circle-left"></i> @Localizer["back to bookings list"]</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    @*<button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-file-pdf-o"></i> @Localizer["Invoice(PDF)"]</button>*@
                    <button type="submit" form="addForm" class="btn btn-danger "> <i class="fa fa-trash-o"></i> @Localizer["Delete"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">@Localizer["Info"]</a></li>
                    <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">@Localizer["Student Info"]</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">@Localizer["Room"]</a></li>
                    @*<li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">@Localizer["Booking notes"]</a></li>*@
                </ul>
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_3">
                        <form class="form-horizontal">
                            <div class="box">
                                <div class="box-header"></div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">
                                    <div class="form-group">
                                        <dau-label asp-for="BookingStatus"></dau-label>
                                        <div class="col-sm-8">
                                            <bold>@item.BookingStatus </bold><br /><br />
                                            <button type="button" onclick="ChangeBookingStatus(3)" class="btn btn-danger btn-flat"> @Localizer["Cancel booking"]</button>
                                            <div class="btn-group">
                                               <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    @Localizer["Change status"]   <span class="caret"></span>
                                                    <span class="sr-only">@Localizer["Toggle Dropdown"]</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a onclick="ChangeBookingStatus(1)">@Localizer["Complete"]</a></li>
                                                    @*<li><a onclick="ChangeBookingStatus(4)">@Localizer["Processing"]</a></li>*@
                                                    <li><a onclick="ChangeBookingStatus(2)">@Localizer["Pending"]</a></li>
                                                    <li><a onclick="ChangeBookingStatus(3)">@Localizer["Cancel booking"]</a></li>
                                                </ul>
                                            </div>


                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="BookingOrderNumber"></dau-label>
                                        <div class="col-sm-8">
                                            <p>@item.BookingOrderNumber</p>
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        <dau-label asp-for="Dormitory"></dau-label>
                                        <div class="col-sm-8">
                                            <p>@item.Dormitory</p>
                                        </div>

                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box-->
                            <div class="box">
                                <div class="box-header"></div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">

                                    <div class="form-group">
                                        <dau-label asp-for="Student"></dau-label>
                                        <div class="col-sm-8">
                                            <a href="mailto:@item.StudentEmail">@item.StudentEmail</a>
                                        </div>

                                    </div>



                                    <div class="form-group">
                                        <dau-label asp-for="StudentIpAddress"></dau-label>
                                        <div class="col-sm-8">
                                            <p>@item.StudentIpAddress</p>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="BookingOrderSubtotal"></dau-label>
                                        <div class="col-sm-8">
                                            <p>$ @item.BookingOrderSubtotal</p>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <dau-label asp-for="BookingFee"></dau-label>
                                        <div class="col-sm-8">
                                            <p>$ @item.BookingFee</p>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="BookingTotal"></dau-label>
                                        <div class="col-sm-8">
                                            <p>$ @item.BookingTotal</p>
                                        </div>

                                    </div>

                                    @*<div class="form-group">
                                       <dau-label asp-for="Profit"></dau-label>
                                        <div class="col-sm-8">
                                            <p>@item.Profit</p><button class="btn btn-primary">@Localizer["Edit order totals"]</button>
                                        </div>

                                    </div>*@



                               

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box-->



                            <div class="box">
                                <div class="box-header"></div>
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">
                                    <div class="form-group">
                                        <dau-label asp-for="PaymentMethod"></dau-label>
                                        <div class="col-sm-8">
                                            @if(!string.IsNullOrEmpty(item.ReceiptUrl) && !string.IsNullOrWhiteSpace(item.ReceiptUrl)) { 
                                            <img id="ImagePlaceholder" src="@item.ReceiptUrl" height="300">

                                            <p><a href="@item.ReceiptUrl" target="_blank">@Localizer["Download receipt"]</a></p>

                                            <button class="btn btn-danger btn-flat"> @Localizer["Request for receipt reupload"]</button>
                                            }
                                            else { <p>@Localizer["Receipt has not been uploaded"]</p>}
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <dau-label asp-for="PaymentStatus"></dau-label>
                                        <div class="col-sm-8">
                                            <p>@item.PaymentStatus </p><button type="button" onclick="ChangePaymentStatus(1)" class="btn btn-success">@Localizer["Mark as paid"]</button>
                                            <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                @Localizer["Change status"]   <span class="caret"></span>
                                                <span class="sr-only">@Localizer["Toggle Dropdown"]</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a onclick="ChangePaymentStatus(1)">@Localizer["Paid"]</a></li>
                                                <li><a onclick="ChangePaymentStatus(2)">@Localizer["Pending"]</a></li>
                                                @*<li><a onclick="ChangePaymentStatus(4)">@Localizer["In complete"]</a></li>*@
                                                <li><a onclick="ChangePaymentStatus(3)">@Localizer["Not paid"]</a></li>
                                            </ul>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <dau-label asp-for="CreatedOn"></dau-label>
                                        <div class="col-sm-8">
                                            <p>@item.CreatedOn</p>
                                        </div>

                                    </div>



                                </div>
                                <!-- /.box-body -->


                            </div>
                        </form>
                    </div>










                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_1">
                        <div class="box">
                            <div class="box-header"></div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form class="form-horizontal">
                                <div class="box-body">

                                    <div class="form-group">
                                      <dau-label asp-for="StudentInformation" ></dau-label>
                                        <div class="col-sm-4">
                                            <table id="example2" class="table table-bordered table-striped">

                                                <tbody>
                                                    <tr>
                                                        <td>@Localizer["Full name"]</td>
                                                        <td>@item.StudentName</td>
                                                    </tr>

                                                    <tr>
                                                        <td>@Localizer["Email"] </td>
                                                        <td><a href="mailto:@item.StudentEmail">@item.StudentEmail</a></td>
                                                    </tr>

                                                    <tr>
                                                        <td>@Localizer["Phone"] </td>
                                                        <td>@item.StudentPhoneNumber</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@Localizer["Address 1"] </td>
                                                        <td>@item.StudentAddress1</td>
                                                    </tr>

                                                    <tr>
                                                        <td>@Localizer["Address 2"] </td>
                                                        <td>@item.StudentAddress2</td>
                                                    </tr>

                                                    <tr>
                                                        <td>@Localizer["City"] </td>
                                                        <td>@item.City</td>
                                                    </tr>

                                                    <tr>
                                                        <td>@Localizer["State/ province"] </td>
                                                        <td>@item.StateProvince</td>
                                                    </tr>

                                                    <tr>
                                                        <td>@Localizer["Zip / postal code"] </td>
                                                        <td>@item.ZipCode</td>
                                                    </tr>

                                                    <tr>
                                                        <td>@Localizer["Country"] </td>
                                                        <td>@item.Country</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                         
                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>


                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="box ">
                            <div class="box-header">

                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">

                                    <table id="RoomsListTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" /></th>
                                                <th>@Localizer["Room #"]</th>
                                                @*<th>@Localizer["Picture"]</th>*@
                                                <th>@Localizer["Dormitory name"]</th>
                                                <th>@Localizer["Room name"]</th>
                                                <th>@Localizer["SKU"]</th>
                                                <th>@Localizer["Price"]</th>
                                                <th>@Localizer["Quota"]</th>
                                                <th>@Localizer["Published"]</th>
                                                <th>@Localizer["Edit"]</th>
                                            </tr>
                                        </thead>


                                </table>
                                @*<button type="submit" form="addForm" class="btn btn-primary"> <i class="fa fa-plus-square"></i> @Localizer["Add room"]</button>*@

                            </div>
                        </div>
                    </div>

                    <!-- /.tab-pane -->
                    @*<div class="tab-pane" id="tab_4">
                        <div class="box ">
                            <div class="box-header">

                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">

                                <div class="overflow">
                                    <table id="example24" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>@Localizer["Created on"]</th>
                                                <th>@Localizer["Note"]</th>
                                                <th>@Localizer["Attached file"]</th>
                                                <th>@Localizer["Display to customer"]</th>
                                                <th>@Localizer["Delete"]</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>8/22/2018 2:33:20 AM</td>
                                                <td>"Placed Booking" email(to customer) has been queued. Queued email identifier: 466</td>
                                                <td>No file attached</td>
                                                <td><i style="color:red;" class="fa fa-times"></i></td>
                                                <td><button class="btn btn-default"><i class="fa fa-times"></i> Delete</button></td>
                                            </tr>
                                            <tr>
                                                <td>8/22/2018 2:33:20 AM</td>
                                                <td>"Placed Booking" email(to customer) has been queued. Queued email identifier: 466</td>
                                                <td>No file attached</td>
                                                <td><i style="color:red;" class="fa fa-times"></i></td>
                                                <td><button class="btn btn-default"><i class="fa fa-times"></i> Delete</button></td>
                                            </tr>
                                            <tr>
                                                <td>8/22/2018 2:33:20 AM</td>
                                                <td>"Placed Booking" email(to customer) has been queued. Queued email identifier: 466</td>
                                                <td>No file attached</td>
                                                <td><i style="color:red;" class="fa fa-times"></i></td>
                                                <td><button class="btn btn-default"><i class="fa fa-times"></i> Delete</button></td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="box ">
                            <div class="box-header">
                                <p>@Localizer["Add order note"]</p>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">

                                <form class="form-horizontal">


                                    <div class="form-group">
                                       
                                        <dau-label asp-for="orderNotesTab.Note"></dau-label>
                                     <dau-input asp-for="orderNotesTab.Note" type="text"></dau-input>
                                        <span asp-validation-for="orderNotesTab.Note"></span>

                                    </div>

                                    <div class="form-group">
                                        

                                        <dau-label asp-for="orderNotesTab.AttachedFile"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="orderNotesTab.AttachedFile" type="checkbox">
                                        </div>
                                        <span asp-validation-for="orderNotesTab.AttachedFile"></span>

                                    </div>

                                    <div class="form-group">
                              
                                        <dau-label asp-for="orderNotesTab.DisplayToStudent"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="orderNotesTab.DisplayToStudent" type="checkbox">
                                            <p>Check this option to display to customer</p>
                                        </div>
                                        <span asp-validation-for="orderNotesTab.DisplayToStudent"></span>

                                    </div>  
                                    
                                    
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label"></label>

                                        <div class="col-sm-8">
                                     
                                            <button class="btn btn-primary">@Localizer["Add order note"]</button>
                                        </div>

                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>*@

                </div>
                <!-- /.tab-content -->
            </div>



        </div>
    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")bower_components/ckeditor/ckeditor.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <script>

        function ChangeBookingStatus(bookingStatusId) {
           // alert("change bookingId " +@item.BookingOrderNumber+ " with to bookingStatus " + bookingStatusId);

            var bookingId= @item.BookingOrderNumber;
                       var CancelBookingId = 3;
            var CompleteBookingId = 1;
            if (bookingStatusId == CancelBookingId) {
              var r = confirm("@Localizer["Are you sure you want to cancel booking?"]");
                    if (r == false) {
                        return;
         }}
                            $.ajax({
                type: "POST",
                                url: "/Admin/Reservations/ChangeBookingStatus",
                data: {
                     "BookingId": bookingId,
                    "newBookingStatusId": bookingStatusId,


                },
                success: function (result) {
                    if (result == true) {
                        //relad page
                        location.reload();
}

                    else 
                                document.getElementById("alertACL").innerHTML = "<div class=\"alert alert-danger alert-dismissible\"> <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button> <i class=\"icon fa fa-check\"></i> @Localizer["An error was encountered, unable to change booking status."]</div>";
                
                    
                }
            });
        }

           function ChangePaymentStatus(paymentStatusId) {
         //      alert("change bookingId " +@item.BookingOrderNumber+ " with to paymentStatus" + paymentStatusId);

                       var bookingId= @item.BookingOrderNumber;
                       var NotPaidPaymentStatus = 3;
            var CompleteBookingId = 1;
               if (paymentStatusId == NotPaidPaymentStatus) {
              var r = confirm("@Localizer["Are you sure You want to mark booking as not paid?"]");
                    if (r == false) {
                        return;
         }}
                            $.ajax({
                type: "POST",
                                url: "/Admin/Reservations/ChangePaymentStatus",
                data: {
                     "BookingId": bookingId,
                    "newpaymentStatusId": paymentStatusId,


                },
                success: function (result) {
                    if (result == true) {
                        //relad page
                        location.reload();
}

                    else 
                                document.getElementById("alertACL").innerHTML = "<div class=\"alert alert-danger alert-dismissible\"> <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button> <i class=\"icon fa fa-check\"></i> @Localizer["An error was encountered, unable to change payment status."]</div>";
                
                    
                }
            });
        }
        $(function () {



            $('#example22').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': false,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

              $.getJSON("@Url.Content("~/frontend_Content/")assets/js/DataTable_aLenthMenu/aLenthMenu_20_200.json", function (aLength) {
            $('#RoomsListTable').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                   "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'lengthChange': true,
                "aLengthMenu": aLength,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "/Admin/Reservations/BookingRoomByBookingId/?Id=@item.RoomId",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [

                    {
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox">';
                        }
                    },
                    { "data": "roomId" },
                    //{
                    //    "render": function (data, type, full, meta) {
                    //        return '<img src="'+ full.picture+'" style="width:100px; height:80px;">';
                    //    }
                    //},
                  
                    { "data": "dormitoryName" },
                    { "data": "roomName" },
                    { "data": "sku" },
                    { "data": "price" },
                    { "data": "quota" },
                 
                    {
                        "render": function (data, type, full, meta) {
                            if (full.published == true)
                                return '<i class="fa fa-check" aria-hidden="true"></i>';
                            else
                                return '<i class="fa fa-times" aria-hidden="true"></i>';

                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-primary" href="/Admin/Catalog/RoomEdit?id=' + full.roomId+'"><i class="fa fa-pencil"></i> @Localizer["Edit"]</a>';
                        }
                    }


                ]


            })


        })
        })
        
    </script>
}