@using searchDormWeb.Areas.Admin.Models.Reservation
@model BestSellerRoomsVm
@{
    ViewBag.Title = Localizer["Best Seller Rooms"];
    Layout = "../shared/_LayoutAdmin.cshtml";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title

        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" class="btn btn-danger "> <i class="fa fa-trash"></i> @Localizer["Delete"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-solid">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="row">
                            <div class=" col-md-6">
                                <div class="form-group">
                                    <dau-label asp-for="StartDate"></dau-label>
                                    <dau-date asp-for="StartDate"></dau-date>
                                    <span asp-validation-for="StartDate"></span>
                                </div>

                                <div class="form-group">
                                    <dau-label asp-for="EndDate"></dau-label>
                                    <dau-date asp-for="EndDate"></dau-date>
                                    <span asp-validation-for="EndDate"></span>
                                </div>


                                <div class="form-group">
                                    <dau-label asp-for="BookingStatus"></dau-label>
                                    <dau-select multiple-select="true" asp-for="BookingStatus"></dau-select>
                                    <span asp-validation-for="BookingStatus"></span>
                                </div>


                                <div class="form-group">
                                    <dau-label asp-for="PaymentStatus"></dau-label>
                                    <dau-select multiple-select="true" asp-for="PaymentStatus"></dau-select>
                                    <span asp-validation-for="PaymentStatus"></span>
                                </div>

                            </div>

                            <div class=" col-md-6">

                                <div class="form-group">
                                    <dau-label asp-for="DormitoryBlock"></dau-label>
                                    <dau-select asp-for="DormitoryBlock"></dau-select>
                                    <span asp-validation-for="DormitoryBlock"></span>
                                </div>


                                <div class="form-group">
                                    <dau-label asp-for="BillingCountry"></dau-label>
                                    <dau-select asp-for="BillingCountry"></dau-select>
                                    <span asp-validation-for="BillingCountry"></span>
                                </div>

                                <div class="form-group">
                                    <dau-label asp-for="Dormitory"></dau-label>
                                    <dau-select asp-for="Dormitory"></dau-select>
                                    <span asp-validation-for="Dormitory"></span>
                                </div>


                            </div>

                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary btn-lg "> <i class="fa fa-search"></i> @Localizer["Search"]</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>




            <div class="box box-solid">

                <!-- /.box-header -->
                <div class="box-body">

                    <div class="overflow">
                        <table id="BestSellerRoomsTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>@Localizer["Name"]</th>
                                    <th>@Localizer["Total quantity"]</th>
                                    <th>@Localizer["Total amount"]</th>
                                    <th>@Localizer["View"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alfam B block 114</td>
                                    <td>68</td>
                                    <td>$128,800</td>
                                    <td> <a asp-action="RoomEdit" asp-controller="Catalog" asp-area="Admin" class="btn btn-primary btn-flat"><i class="fa fa-eye"></i> View</a></td>
                                </tr>
                                <tr>
                                    <td>Alfam B block 114</td>
                                    <td>68</td>
                                    <td>$128,800</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-eye"></i> View</button></td>
                                </tr>
                                <tr>
                                    <td>Alfam B block 114</td>
                                    <td>68</td>
                                    <td>$128,800</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-eye"></i> View</button></td>
                                </tr>
                                <tr>
                                    <td>Alfam B block 114</td>
                                    <td>68</td>
                                    <td>$128,800</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-eye"></i> View</button></td>
                                </tr>
                                <tr>
                                    <td>Alfam B block 114</td>
                                    <td>68</td>
                                    <td>$128,800</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-eye"></i> View</button></td>
                                </tr>
                                <tr>
                                    <td>Alfam B block 114</td>
                                    <td>68</td>
                                    <td>$128,800</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-eye"></i> View</button></td>
                                </tr>
                                <tr>
                                    <td>Alfam B block 114</td>
                                    <td>68</td>
                                    <td>$128,800</td>
                                    <td> <button type="submit" class="btn btn-primary "> <i class="fa fa-eye"></i> View</button></td>
                                </tr>
                            </tbody>

                        </table>


                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}





@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script src="@Url.Content("~/Content/")bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="@Url.Content("~/Content/")plugins/timepicker/bootstrap-timepicker.min.js"></script>

    <!-- Select2 -->
    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {

            //Initialize Select2 Elements
            $('.select2').select2()

            $('.date-control').datepicker({
                autoclose: true,
                orientation: "left bottom",
            })


            $('#BestSellerRoomsTable').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": [[20, 3, 5], [20, 3, 5]],
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("BestSellerRooms", "Reservations"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [


                    {"data": "name" },
                    {"data": "totalQuantity" },
                    {"data": "totalAmount" },

                    {"render": function (data, type, full, meta) {
                     return '<a class="btn btn-primary" href="/Admin/Catalog/RoomEdit/"><i class="fa fa-eye"></i> @Localizer["View"]</a>'; }
                    }


                ]


            })

        })
    </script>
}

