@using searchDormWeb.Areas.Admin.Models.Reservation
@model ReservationsVm
@{
    ViewBag.Title = Localizer["Booking List"];
    Layout = "../shared/_LayoutAdmin.cshtml";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
   
    <section class="content-header">
        <h1>
            @ViewBag.Title

        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">


                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-download"></i> @Localizer["Export"]</button>
                        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">@Localizer["Toggle Dropdown"]</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="ExportExcel/?Id=1">@Localizer["Export all"]</a></li>
                            <li><a href="ExportExcel/?Id=2">@Localizer["Export selected"]</a></li>
                            <li><a href="ExportExcel/?Id=3">@Localizer["Export today"]</a></li>
                            <li class="divider"></li>
                            <li><a href="ExportExcel/?Id=4">@Localizer["Export last {0} days", 7]</a></li>
                            <li><a href="ExportExcel/?Id=5">@Localizer["Export last {0} days", 30]</a></li>
                        </ul>
                    </div>



                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-flat dropdown-toggle"><i class="fa fa-download"></i> @Localizer["Print PDF invoice"]</button>
                        <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">@Localizer["Toggle Dropdown"]</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">@Localizer["Print all"]</a></li>
                            <li><a href="#">@Localizer["Print selected"]</a></li>
                            <li><a href="#">@Localizer["Print tooday"]</a></li>
                            <li class="divider"></li>
                            <li><a href="#">@Localizer["Print last {0} days", 7]</a></li>
                            <li><a href="#">@Localizer["Print last {0} days", 30]</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">
        <div id="alertACL"></div>
        <!--------------------------
    | Your Page Content Here |
    -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-solid">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="row">
                            <div class=" col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <dau-label asp-for="StartDate"></dau-label>
                                        <dau-date asp-for="StartDate"></dau-date>
                                        <span asp-validation-for="StartDate"></span>
                                    </div>

                                    <div class="form-group">
                                        <dau-label asp-for="EndDate"></dau-label>
                                        <dau-date asp-for="EndDate"></dau-date>
                                        <span asp-validation-for="EndDate"></span>
                                    </div>
                                </div>




                                <div class="form-group">
                                    <dau-label asp-for="Room"></dau-label>
                                    <dau-input type="text" asp-for="Room"></dau-input>
                                    <span asp-validation-for="Room"></span>
                                </div>

                                <div class="form-group">
                                    <dau-label asp-for="BookingStatus"></dau-label>
                                    <dau-select multiple-select="true" asp-for="BookingStatus" asp-items="_dropdown.BookingStatus()"></dau-select>
                                    <span asp-validation-for="BookingStatus"></span>
                                </div>

                                <div class="form-group">
                                    <dau-label asp-for="PaymentStatus"></dau-label>
                                    <dau-select multiple-select="true" asp-items="_dropdown.PaymentStatus()" asp-for="PaymentStatus"></dau-select>
                                    <span asp-validation-for="PaymentStatus"></span>
                                </div>



                                <div class="form-group">
                                    <dau-label asp-for="GoDirectlyToBookingNumber"></dau-label>
                                    <dau-inputaddon addon-type="button" type="number" text="Go" asp-for="GoDirectlyToBookingNumber"></dau-inputaddon>
                                    <span asp-validation-for="GoDirectlyToBookingNumber"></span>
                                </div>


                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary btn-lg "> <i class="fa fa-search"></i> @Localizer["Search"]</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>



            <div class="box box-solid">

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="overflow">
                        <table id="ReservationListTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" /></th>
                                    <th>@Localizer["Booking No"]</th>
                                    <th>@Localizer["Booking status"]</th>
                                    @*<th>@Localizer["Payment status"]</th>*@
                                    <th>@Localizer["User"]</th>
                                    <th>@Localizer["Created on"]</th>
                                    <th>@Localizer["Booking total"]</th>
                                    <th>@Localizer["Will be cancelled if not confirmed"]</th>
                                    <th>@Localizer["Change booking status"]</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>



                        </table>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}






@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


    <script src="@Url.Content("~/Content/")bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="@Url.Content("~/Content/")plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Select2 -->
    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        var bookingTable;


        function ChangeBookingStatus(bookingId, newBookingStatusId) {
            var CancelBookingId = 3;
            var CompleteBookingId = 1;
            if (newBookingStatusId == CancelBookingId) {
              var r = confirm("@Localizer["Are you sure you want to cancel booking?"]");
                    if (r == false) {
                        return;
         }}
                            $.ajax({
                type: "POST",
                url: "ChangeBookingStatus",
                data: {
                     "BookingId": bookingId,
                    "newBookingStatusId": newBookingStatusId,


                },
                success: function (result) {
                    if (result == true) {
                        document.getElementById("alertACL").innerHTML = "<div class=\"alert alert-success alert-dismissible\"> <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button> <i class=\"icon fa fa-check\"></i> @Localizer["Booking status changed successsfully."]</div>";
                        bookingTable.ajax.reload();
}

                    else 
                                document.getElementById("alertACL").innerHTML = "<div class=\"alert alert-danger alert-dismissible\"> <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button> <i class=\"icon fa fa-check\"></i> @Localizer["An error was encountered, unable to change booking status."]</div>";
                
                    
                }
            });

        }
        $(function () {

         

            //Initialize Select2 Elements
            $('.select2').select2()

            $('.date-control').datepicker({
                autoclose: true,
                orientation: "left bottom",
            })
         $.getJSON("@Url.Content("~/frontend_Content/")assets/js/DataTable_aLenthMenu/aLenthMenu_20_200.json", function (aLength) {
             bookingTable=     $('#ReservationListTable').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": aLength,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("List", "Reservations"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [

                    {"render": function (data, type, full, meta) {
                            return '<input type="checkbox">'; } },
                    {"data": "bookingNo" },
                    {
                        "render": function (data, type, full, meta) {
                            if (full.bookingStatusId == 1)
                                return '<span class=" label label-success  label-lg green " style="padding: .5em .6em .8em; font-size: 90%;">' + full.bookingStatus + '</span>';
                            else if (full.bookingStatusId == 2)
                                return '<span class=" label label-info  label-lg green " style="padding: .5em .6em .8em; font-size: 90%;">' + full.bookingStatus + '</span>';
                            else if (full.bookingStatusId == 3)
                                return '<span class=" label label-danger  label-lg green " style="padding: .5em .6em .8em; font-size: 90%;">' + full.bookingStatus + '</span>';
                            else
                                return '<span class=" label label-primary  label-lg green " style="padding: .5em .6em .8em; font-size: 90%;">' + full.bookingStatus + '</span>';

                        }
                        },
                              //{
                              //    "render": function (data, type, full, meta) {
                              //        if (full.bookingStatusId == 3) return "";
                              //        if (full.paymentStatusId == 1)
                              //            return '<span class=" label label-success  label-lg green " style="padding: .5em .6em .8em; font-size: 100%;">' + full.paymentStatus + '</span>';
                              //        else if (full.paymentStatusId == 2)
                              //            return '<span class=" label label-info  label-lg green " style="padding: .5em .6em .8em; font-size: 100%;">' + full.paymentStatus + '</span>';
                              //        else if (full.paymentStatusId == 3)
                              //            return '<span class=" label label-danger  label-lg green " style="padding: .5em .6em .8em; font-size: 100%;">' + full.paymentStatus + '</span>';
                              //        else
                              //            return '<span class=" label label-primary  label-lg green " style="padding: .5em .6em .8em; font-size: 100%;">' + full.paymentStatus + '</span>';


                              //    } },
                    {"data": "user" },
                    {"data": "createdOn" },
                    { "data": "bookingTotal" },
                    
                    {
                        "render": function (data, type, full, meta) {
                            if (full.paymentStatusId == 1 || full.bookingStatusId == 3 || full.bookingStatusId == 1 || full.paymentStatusId == 3) {
                                return ""; }


                                if (full.cancellationDays > 0)
                                    return full.cancellationDate;
                                else
                                    return "Expired";
                            
                        }
                
                    },
                    {
                        "render": function (data, type, full, meta) {
                            if (full.bookingStatusId == 3 || full.bookingStatusId == 1 ) {
                                return ""; }

                            return '<button type="button" class="btn btn-success" onClick="ChangeBookingStatus(' + full.bookingNo + ',1)" "><i class="fa fa-check"></i> @Localizer["Mark as complete"]</button>'; }

                    }, {
                        "render": function (data, type, full, meta) {
                            if (full.bookingStatusId == 3 || full.bookingStatusId == 1 ) {
                                return "";
                            }

                            return '<button type="button" class="btn btn-danger" onClick="ChangeBookingStatus(' + full.bookingNo + ',3)" "><i class="fa fa-times"></i> @Localizer["Cancel booking"]</button>'; }


                    }, {
                        "render": function (data, type, full, meta) {
                        return '<a class="btn btn-primary" href="/Admin/Reservations/ReservationEdit/?bookingNo=' + full.bookingNo + '"><i class="fa fa-eye"></i> @Localizer["View"]</a>'; }
                    }


                ]


            })
            })

        })
    </script>
}

