
@{
    ViewData["Title"] = "Edit Currency";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small><a asp-action="Currencies" asp-controller="Configurations"><i class="fa fa-arrow-circle-left"></i> back to currencies list</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> Save</button>
                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> Save and Continue Edit</button>
                    <button type="submit" form="addForm" class="btn btn-danger "> <i class="fa fa-trash-o"></i> Delete</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->

            <div class="box ">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">

                    <form class="form-horizontal">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_31" data-toggle="tab" aria-expanded="true">Standard</a></li>
                                <li class=""><a href="#tab_32" data-toggle="tab" aria-expanded="false">English</a></li>
                                <li class=""><a href="#tab_33" data-toggle="tab" aria-expanded="false">Turkish</a></li>

                            </ul>
                            <div class="tab-content">
                                <!-- /.tab-pane -->
                                <div class="tab-pane active" id="tab_31">

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Name <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassfwords3">
                                        </div>
                                        <span style="color:red;">*</span>
                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_32">

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Name <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassfwords3">
                                        </div>
                                        <span style="color:red;">*</span>
                                    </div>

                                </div>
                                <!-- /.tab-pane -->
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_33">

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Name <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassfwords3">
                                        </div>
                                        <span style="color:red;">*</span>
                                    </div>

                                </div>
                                <!-- /.tab-pane -->


                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.nav-tabs -->




                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Currency code <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" />
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Rate <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="number" class="form-control" />
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Display locale <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" />
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Custom formatting <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" />
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Limit to dormitories <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" />
                            </div>

                        </div>



                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Rounding type <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" />
                            </div>

                        </div>



                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Published <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="checkbox" />
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Display order <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                            <div class="col-sm-8">
                                <input type="number" class="form-control" />
                            </div>

                        </div>


                        <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Created on <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                <div class="col-sm-8">
                                   <p>3/15/2016 4:23:01 AM</p>
                                </div>

                            </div>


                    </form>
                </div>
            </div>

        </div>
    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>


    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>
    @*<script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>*@

    <script src="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {


            //Initialize Select2 Elements
            $('.select2').select2()

            ///Intialize datepicker
            $('#datepicker').datepicker({
                autoclose: true
            })


            $('#example').DataTable()
            $('#example1').DataTable({
                'paging': false,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
}

