@using searchDormWeb.Areas.Admin.Models.Configuration
@model DormitoryAdd
@{
    ViewData["Title"] = "Add dormitory";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small><a asp-action="Dormitories" asp-controller="Configurations"><i class="fa fa-arrow-circle-left"></i> back to dormitories list</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">


                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> Save</button>
                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> Save and Continue Edit</button>

                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">Dormitory info</a></li>
                    <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">SEO</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Pictures</a></li>
                    <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="false">Specification attributes</a></li>
                </ul>
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_3">
                        <div class="row">

                            <div class="col-md-6" id="first_column">

                                <div class="box box-solid">
                                    <div class="box-header">General information</div>
                                    <!-- /.box-header -->
                                    <!-- form start -->

                                    <div class="box-body">
                                        <form class="form-horizontal">



                                            <div class="form-group">
                                               
                                                <div class="form-group">
                                                    <dau-label asp-for="DormitoryType"></dau-label>
                                                    <dau-select asp-for="DormitoryType" ></dau-select>
                                                    <span asp-validation-for="DormitoryType"></span>
                                                </div>
                                            </div>


                                            <dau-tabs id="LocalizedContentTab">

                                                <dau-tab id="tab1" name="Standard" active="true">
                                                    <div class="form-group">
                                                        <dau-label asp-for="localizedContent[0].DormitoryName"></dau-label>
                                                        <dau-input asp-for="localizedContent[0].DormitoryName" type="text"></dau-input>
                                                        <span asp-validation-for="localizedContent[0].DormitoryName"></span>
                                                    </div>




                                                    <div class="form-group">
                                                        <dau-label asp-for="localizedContent[0].ShortDescription"></dau-label>
                                                        <dau-textarea asp-for="localizedContent[0].ShortDescription"></dau-textarea>
                                                        <span asp-validation-for="localizedContent[0].ShortDescription"></span>
                                                    </div>


                                                    <div class="form-group">
                                                        <dau-label asp-for="localizedContent[0].FullDescription"> </dau-label>
                                                        <dau-editor asp-for="localizedContent[0].FullDescription"></dau-editor>
                                                        <span asp-validation-for="localizedContent[0].FullDescription"></span>
                                                    </div>
                                                </dau-tab>

                                                <dau-tab id="tab2" name="English" flag="@Url.Content("~/Content/")dist/img/us.png">
                                                    <div class="form-group">
                                                        <dau-label asp-for="localizedContent[1].DormitoryName"></dau-label>
                                                        <dau-input asp-for="localizedContent[1].DormitoryName" type="text"></dau-input>
                                                        <span asp-validation-for="localizedContent[1].DormitoryName"></span>
                                                    </div>




                                                    <div class="form-group">
                                                        <dau-label asp-for="localizedContent[1].ShortDescription"></dau-label>
                                                        <dau-textarea asp-for="localizedContent[1].ShortDescription"></dau-textarea>
                                                        <span asp-validation-for="localizedContent[1].ShortDescription"></span>
                                                    </div>



                                                    <div class="form-group">
                                                        <dau-label asp-for="localizedContent[1].FullDescription"> </dau-label>
                                                        <dau-editor asp-for="localizedContent[1].FullDescription"></dau-editor>
                                                        <span asp-validation-for="localizedContent[1].FullDescription"></span>
                                                    </div>


                                                </dau-tab>
                                                <dau-tab id="tab3" name="Turkish" flag="@Url.Content("~/Content/")dist/img/tr.png">

                                                    <div class="form-group">
                                                        <dau-label asp-for="localizedContent[2].DormitoryName"></dau-label>
                                                        <dau-input asp-for="localizedContent[2].DormitoryName" type="text"></dau-input>
                                                        <span asp-validation-for="localizedContent[2].DormitoryName"></span>
                                                    </div>





                                                    <div class="form-group">
                                                        <dau-label asp-for="localizedContent[2].ShortDescription"></dau-label>
                                                        <dau-textarea asp-for="localizedContent[2].ShortDescription"></dau-textarea>
                                                        <span asp-validation-for="localizedContent[2].ShortDescription"></span>
                                                    </div>





                                                    <div class="form-group">
                                                        <dau-label asp-for="localizedContent[2].FullDescription"> </dau-label>
                                                        <dau-editor asp-for="localizedContent[2].FullDescription"></dau-editor>
                                                        <span asp-validation-for="localizedContent[2].FullDescription"></span>
                                                    </div>

                                                </dau-tab>
                                    </dau-tabs>


                                          
                                                    <!-- /.nav-tabs -->












                                            <div class="form-group">
                                               
                                                <dau-label asp-for="DormitoryUrl"></dau-label>
                                                <dau-input asp-for="DormitoryUrl" type="text"></dau-input>
                                                <span asp-validation-for="DormitoryUrl"></span>


                                            </div>

                                            <div class="form-group">
                                                
                                                <dau-label asp-for="DisplayOrder"></dau-label>
                                                <dau-input asp-for="DisplayOrder" type="number"></dau-input>
                                                <span asp-validation-for="DisplayOrder"></span>

                                            </div>

                                            <div class="form-group">
                
                                                <dau-label asp-for="CompanyName"></dau-label>
                                                <dau-input asp-for="CompanyName" type="text"></dau-input>
                                                <span asp-validation-for="CompanyName"></span>
                                            </div>

                                            <div class="form-group">
                                               
                                                <dau-label asp-for="CompanyAddress"></dau-label>
                                                <dau-input asp-for="CompanyAddress" type="text"></dau-input>
                                                <span asp-validation-for="CompanyAddress"></span>

                                            </div>

                                            <div class="form-group">
                                               
                                                <dau-label asp-for="CompanyPhoneNumber"></dau-label>
                                                <dau-input asp-for="CompanyPhoneNumber" type="text"></dau-input>
                                                <span asp-validation-for="CompanyPhoneNumber"></span>

                                            </div>

                                            <div class="form-group">
                                               
                                                <dau-label asp-for="Published"></dau-label>
                                                <div class="col-sm-8">
                                                    <input asp-for="Published" type="checkbox">
                                                </div>
                                                <span asp-validation-for="Published"></span>

                                            </div>


                                            <div class="form-group">
                                              
                                                <dau-label asp-for="ShowOnHomePage"></dau-label>
                                                <div class="col-sm-8">
                                                    <input asp-for="ShowOnHomePage" type="checkbox">
                                                </div>
                                                <span asp-validation-for="ShowOnHomePage"></span>

                                            </div>


                                            <div class="form-group">
                                       
                                                <dau-label asp-for="AllowCustomerReviews"></dau-label>
                                                <div class="col-sm-8">
                                                    <input asp-for="AllowCustomerReviews" type="checkbox">
                                                </div>
                                                <span asp-validation-for="AllowCustomerReviews"></span>

                                            </div>





                                            <div class="form-group">
                                                
                                                <dau-label asp-for="MarkAsNew"></dau-label>
                                                <div class="col-sm-8">
                                                    <input asp-for="MarkAsNew" type="checkbox">
                                                </div>
                                                <span asp-validation-for="MarkAsNew"></span>
                                            </div>


                                            <div class="form-group">
                                              
                                                <dau-label asp-for="AdminComment"> </dau-label>
                                                <dau-textarea asp-for="AdminComment"></dau-textarea>
                                                <span asp-validation-for="AdminComment"></span>
                                            </div>




                                        </form>
                                    </div>
                                </div>



                            </div>



                            <div class="col-md-6" id="second_column">





                                <div class="box box-solid">
                                    <div class="box-header">Access control list</div>
                                    <!-- /.box-header -->
                                    <!-- form start -->

                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                               
                                                <dau-label asp-for="UserRoles"></dau-label>
                                                <dau-select multiple-select="true" asp-for="UserRoles"></dau-select>
                                                <span asp-validation-for="UserRoles"></span>

                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </div>

                        </div>


                    </div>
                    <!-- /.tab-pane -->






                    <div class="tab-pane" id="tab_1">
                        <div class="box box-solid ">
                            <div class="box-header"></div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">
                                <form class="form-horizontal">



                                    <dau-tabs id="LanguageTab">
                                        <dau-tab id="tab1" name="Standard" active="true">

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[0].MetaKeywords"></dau-label>
                                                <dau-input asp-for="seoTab[0].MetaKeywords" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[0].MetaKeywords"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[0].MetaDescription"></dau-label>
                                                <dau-input asp-for="seoTab[0].MetaDescription" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[0].MetaDescription"></span>

                                            </div>


                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[0].MetaTitle"></dau-label>
                                                <dau-input asp-for="seoTab[0].MetaTitle" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[0].MetaTitle"></span>

                                            </div>


                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[0].SearchEngineFriendlyPageName"></dau-label>
                                                <dau-input asp-for="seoTab[0].SearchEngineFriendlyPageName" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[0].SearchEngineFriendlyPageName"></span>

                                            </div>


                                        </dau-tab>
                                        <dau-tab id="tab2" name="English" flag="@Url.Content("~/Content/")dist/img/us.png">

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[1].MetaKeywords"></dau-label>
                                                <dau-input asp-for="seoTab[1].MetaKeywords" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[1].MetaKeywords"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[1].MetaDescription"></dau-label>
                                                <dau-input asp-for="seoTab[1].MetaDescription" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[1].MetaDescription"></span>

                                            </div>

                                            

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[1].MetaTitle"></dau-label>
                                                <dau-input asp-for="seoTab[1].MetaTitle" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[1].MetaTitle"></span>

                                            </div>


                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[1].SearchEngineFriendlyPageName"></dau-label>
                                                <dau-input asp-for="seoTab[1].SearchEngineFriendlyPageName" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[1].SearchEngineFriendlyPageName"></span>

                                            </div>

                                        </dau-tab>
                                        <dau-tab id="tab3" name="Turkish" flag="@Url.Content("~/Content/")dist/img/tr.png">

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[2].MetaKeywords"></dau-label>
                                                <dau-input asp-for="seoTab[2].MetaKeywords" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[2].MetaKeywords"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[2].MetaDescription"></dau-label>
                                                <dau-input asp-for="seoTab[2].MetaDescription" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[2].MetaDescription"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[2].MetaTitle"></dau-label>
                                                <dau-input asp-for="seoTab[2].MetaTitle" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[2].MetaTitle"></span>

                                            </div>


                                            <div class="form-group">

                                                <dau-label asp-for="seoTab[2].SearchEngineFriendlyPageName"></dau-label>
                                                <dau-input asp-for="seoTab[2].SearchEngineFriendlyPageName" type="text" ></dau-input>
                                                <span asp-validation-for="seoTab[2].SearchEngineFriendlyPageName"></span>

                                            </div>

                                        </dau-tab>
                                        </dau-tabs>

                                      
                                        <!-- /.nav-tabs -->


                                </form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="box box-solid ">
                            <div class="box-header"> </div>


                            <div class="box-body">

                                <p>You need to save the dormitory before you can upload pictures for this dormitory page</p>

                            </div>
                        </div>

                    </div>



                    <div class="tab-pane" id="tab_5">
                        <div class="box  box-solid">
                            <div class="box-header">
                                Specificatino attributes are dormitory features i.e, Bed size, dormitory size and so on. Specification attributes can be used for filtering rooms
                                on the Dormitory detail page. Unlike dormitory attributes, specification attributes are used for information purpose only.
                            </div>

                            <div class="box-body">


                                <p>You need to save the dormitory before you can add dormitory specification attributes for this dormitory page</p>


                            </div>
                        </div>


                    </div>
                </div>
                <!-- /.tab-content -->
            </div>



        </div>
    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")bower_components/ckeditor/ckeditor.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {

            CKEDITOR.replace('editor1')

            CKEDITOR.replace('editor2')

            CKEDITOR.replace('editor3')





            $('#example').DataTable()
            $('#example23').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
            $('#example22').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'ordering': false,
                'info': false,
                'autoWidth': true
            })

            $('#example24').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'info': false,
                'autoWidth': true
            })
        })
    </script>
}

