@using Dau.Services.Email
@model EmailAccountCrud
@{
    ViewData["Title"] = Localizer["Add Email Account"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small><a asp-action="EmailAccounts" asp-controller="Configurations"><i class="fa fa-arrow-circle-left"></i> @Localizer["back to EmailAccounts list"]</a></small>

        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type='button' onClick='resolveButton("SaveClose")' class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save"]</button>
                    <button type='button' onClick='resolveButton("SaveContinue")' class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save and Continue Edit"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box ">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" method="post" id="addForm">
                    <div style="color:red;" asp-validation-summary="All"></div>
                    <div class="box-body">


                        <div class="form-group">

                            <dau-label asp-for="EmailAddress"></dau-label>
                            <dau-input asp-for="EmailAddress" type="email"></dau-input>
                            <span asp-validation-for="EmailAddress"></span>
                        </div>

                        <div class="form-group">

                            <dau-label asp-for="EmailDisplayName"></dau-label>
                            <dau-input asp-for="EmailDisplayName" type="text"></dau-input>
                            <span asp-validation-for="EmailDisplayName"></span>
                        </div>


                        <div class="form-group">

                            <dau-label asp-for="Host"></dau-label>
                            <dau-input asp-for="Host" type="text"></dau-input>
                            <span asp-validation-for="Host"></span>

                        </div>


                        <div class="form-group">

                            <dau-label asp-for="Port"></dau-label>
                            <dau-input asp-for="Port" type="number"></dau-input>
                            <span asp-validation-for="Port"></span>

                        </div>


                        <div class="form-group">
                            <dau-label asp-for="EmailAccoutUser"></dau-label>
                            <dau-input asp-for="EmailAccoutUser" type="email"></dau-input>
                            <span asp-validation-for="EmailAccoutUser"></span>

                        </div>


                        <div class="form-group">
                            <dau-label asp-for="EmailAccoutPassword"></dau-label>
                            <dau-input asp-for="EmailAccoutPassword" type="password"></dau-input>
                            <span asp-validation-for="EmailAccoutPassword"></span>

                        </div>

                        <div class="form-group">
                            <dau-label asp-for="SSL"></dau-label>
                            <div class="col-sm-8">
                                <input asp-for="SSL" type="checkbox">
                            </div>
                            <span asp-validation-for="SSL"></span>

                        </div>


                        <div class="form-group">

                            <dau-label asp-for="UseDefaultCredentials"></dau-label>
                            <div class="col-sm-8">
                                <input asp-for="UseDefaultCredentials" type="checkbox">
                            </div>
                            <span asp-validation-for="UseDefaultCredentials"></span>

                        </div>


                    </div>
                    <!-- /.box-body -->

                </form>
            </div>



        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->

        <script>


                    function resolveButton(button) {
            switch (button) {
               
                case "SaveClose": {
                    alert("SaveClose");
                }; break;


                case "SaveContinue": {
                    console.log("SaveContinue");
                    $('#addForm').attr('action', "/admin/Configurations/EmailAccountAdd").submit();
                }; break;

           
            }
            //   $("#formId").submit();
        }
        </script>

}
