@using static Dau.Services.Languages.LanguageService;
@model LanguageEdit
@{
    ViewData["Title"] = Localizer["Edit Language"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";

    var item = Model;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small><a asp-action="Languages" asp-controller="Configurations"><i class="fa fa-arrow-circle-left"></i> @Localizer["back to language list"]</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    @*<button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save"]</button>
                        <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save and Continue Edit"]</button>
                        <button type="submit" form="addForm" class="btn btn-success "> <i class="fa fa-download"></i> @Localizer["Export resource"]</button>
                        <button type="submit" form="addForm" class="btn btn-success "> <i class="fa fa-upload"></i> @Localizer["Import resource"]</button>
                        <button type="submit" form="addForm" class="btn btn-danger "> <i class="fa fa-trash-o"></i> @Localizer["Delete"]</button>*@
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">

                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">@Localizer["Info & String resource"]</a></li>

                </ul>
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_1">

                        <div class="box ">
                            <div class="box-header"></div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <form class="form-horizontal">



                                    <div class="form-group">

                                        <dau-label asp-for="Name"></dau-label>
                                        <div class="col-sm-9">
                                            <p>@item.Name</p>
                                        </div>

                                    </div>


                                    <div class="form-group">

                                        <dau-label asp-for="LanguageCulture"></dau-label>
                                        <div class="col-sm-9">
                                            <p>@item.LanguageCulture</p>
                                        </div>

                                    </div>








                                </form>
                            </div>
                            <div class="box-body">
                                <form class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">

                                            <dau-label asp-for="resourceTab.ResourceName"></dau-label>
                                            <dau-input asp-for="resourceTab.ResourceName" type="text"></dau-input>
                                            <span asp-validation-for="resourceTab.ResourceName"></span>

                                        </div>

                                        <div class="form-group">

                                            <dau-label asp-for="resourceTab.Value"></dau-label>
                                            <dau-input asp-for="resourceTab.Value" type="text"></dau-input>
                                            <span asp-validation-for="resourceTab.Value"></span>

                                        </div>



                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="button" class="btn btn-primary btn-lg "> <i class="fa fa-search"></i> @Localizer["Search"]</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->

                                </form>

                            </div>
                        </div>
                        <div class="box ">
                            <div class="box-header">
                                <button type="button" data-toggle="modal" data-target="#modal-addResources" class="btn btn-default btn-lg"> <i class="fa fa-plus-square"></i> @Localizer["Add resource"]</button>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">
                                <table id="Resources" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Localizer["Id"]</th>
                                            <th>@Localizer["Resource Key"]</th>
                                            <th>@Localizer["Value"]</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->
            </div>



        </div>
    </section>
    <!-- /.content -->

    <div class="modal fade" id="modal-addResources" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {
    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {



         
            $('#Resources').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": [[20, 3, 5], [20, 3, 5]],
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url":"/Admin/Configurations/LanguagesResources/?LanguageId="+@item.Id,
                     
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [

                
                    {"data": "id" },
                    {"data": "resourceName" },
                    {"data": "resourceValue" },
                    
                    {"render": function (data, type, full, meta) {
                        return '<button class="btn btn-primary"  data-toggle="modal" data-target="#modal-addResources" ><i class="fa fa-pencil"></i> @Localizer["Edit"]</button>'; }
                    }
                    ,
                    {"render": function (data, type, full, meta) {
                        return '<a class="btn btn-danger" href="/Admin/Configurations/LanguageEdit/?Id='+full.id+'"><i class="fa fa-times"></i> @Localizer["Delete"]</a>'; }
                    }
                    
                    
                ]


            })
        })
    </script>
}

