@using searchDormWeb.Areas.Admin.Models.Configuration
@model CurrenciesVm
@{
    ViewBag.Title = Localizer["Currencies"];
    Layout = "../shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" class="btn btn-success "> <i class="fa fa-floppy-o "></i> @Localizer["Save"]</button>
                    <button type="submit" class="btn btn-primary "> <i class="fa fa fa-tasks"></i> @Localizer["Get live rates"]</button>
                    <a asp-action="CurrencyAdd" asp-controller="Configurations" asp-area="Admin" class="btn btn-primary "> <i class="fa fa-plus-square"></i> @Localizer["Add new"]</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-solid">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <dau-label asp-for="CurrentExchangeRateProvider"></dau-label>
                            <dau-select asp-for="CurrentExchangeRateProvider"></dau-select>
                            <span asp-validation-for="CurrentExchangeRateProvider"></span>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="AutoEnabled"></dau-label>
                            <div class="col-sm-9"><input asp-for="AutoEnabled" type="checkbox"></div>
                            <span asp-validation-for="AutoEnabled"></span>
                        </div>

                    </div>
                    <!-- /.box-body -->

                </form>
            </div>



            <div class="box">

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="overflow">

                        <table id="CurrenciesTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>@Localizer["Name"]</th>
                                    <th>@Localizer["Currency code"]</th>
                                    <th>@Localizer["Rate"]</th>
                                    <th>@Localizer["Is primary exchange rate currency"]</th>
                                    <th>@Localizer["Mark as primary exchange rate currency"]</th>
                                    <th>@Localizer["Published"]</th>
                                    <th>@Localizer["Display order"]</th>
                                    <th>@Localizer["Edit"]</th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


    <!-- Select2 -->
    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()



            $('#CurrenciesTable').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": [[20, 3, 5], [20, 3, 5]],
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "@Html.Raw(Url.Action("Currencies", "Configurations"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [


                    {"data": "name" },
                    {"data": "currencyCode" },
                    {"data": "rate" },
                    {"render": function (data, type, full, meta) {
                            if (full.isPrimaryExchangeRateCurrency == true)
                                return '<i class="fa fa-check" aria-hidden="true"></i>';
                            else
                                return '<i class="fa fa-times" aria-hidden="true"></i>';}
                    }, {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-success "><i class="fa fa-check"></i> @Localizer["Mark as primary exchange rate currency"]</a>';
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            if (full.published== true)
                                return '<i class="fa fa-check" aria-hidden="true"></i>';
                            else
                                return '<i class="fa fa-times" aria-hidden="true"></i>';
                        }
                    },
                    {"data": "displayOrder" },
                    {"render": function (data, type, full, meta) {
                        return '<a class="btn btn-primary" href="/Admin/Configurations/CurrencyEdit/?Id='+full.id+'"><i class="fa fa-pencil"></i> @Localizer["Edit"]</a>'; }
                    }


                ]


            })

        })
    </script>
}

