@using searchDormWeb.Areas.Admin.Models.Configuration
@model DormitoriesVm
@{
    ViewBag.Title = Localizer["Dormitories"];
    Layout = "../shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
         
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <a asp-action="DormitoryAdd" asp-controller="Configurations" asp-area="Admin" class="btn btn-primary "> <i class="fa fa-plus-square"></i> @Localizer["Add new"]</a>
                    <button type="submit" class="btn btn-primary "> <i class="fa fa-file-pdf-o"></i> @Localizer["Download catalog as PDF"]</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-flat">@Localizer["Export"]</button>
                        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">@Localizer["Toggle Dropdown"]</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary "> <i class="fa fa-upload"></i> @Localizer["Import"]</button>
                    <button type="submit" class="btn btn-danger "> <i class="fa fa-trash"></i> @Localizer["Delete"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-solid">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <dau-label asp-for="DormitoryName"></dau-label>
                            <dau-input asp-for="DormitoryName" type="text"></dau-input>
                            <span asp-validation-for="DormitoryName"></span>
                        </div>


                        <div class="form-group">
                            <dau-label asp-for="DormitoryType"></dau-label>
                            <dau-select asp-for="DormitoryType"></dau-select>
                            <span asp-validation-for="DormitoryType"></span>
                        </div>


                        <div class="form-group">
                            <dau-label asp-for="GoDirectlyToSKU"></dau-label>
                            <dau-inputaddon asp-for="GoDirectlyToSKU" addon-type="button" text="Go" type="text"></dau-inputaddon>
                            <span asp-validation-for="GoDirectlyToSKU"></span>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>



            <div class="box">

                <!-- /.box-header -->
                <div class="box-body">

                    <div class="overflow">
                        <table id="DormitoriesTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th><input type="checkbox"></th>
                                    <th>@Localizer["Id"]</th>
                                    <th>@Localizer["Picture"]</th>
                                    <th>@Localizer["Dormitory name"]</th>
                                    <th>@Localizer["SKU"]</th>
                                    <th>@Localizer["Dormitory type"]</th>
                                    <th>@Localizer["Published"]</th>
                                    <th>@Localizer["Edit"]</th>
                                </tr>
                            </thead>
                          
                        </table>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css"> 
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


    <!-- Select2 -->
    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {

            //Initialize Select2 Elements
            $('.select2').select2()

          $.getJSON("@Url.Content("~/frontend_Content/")assets/js/DataTable_aLenthMenu/aLenthMenu_20_200.json", function (aLength) {
            $('#DormitoriesTable').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                 "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                "aLengthMenu": aLength,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                     "url": "@Html.Raw(Url.Action("Dormitories", "Configurations"))",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [
                   
                    {
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox">';
                        }
                    },
                    { "data": "dormitoryId" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<img src="' + full.picture + '" style="width:100px; height:80px;">';
                        }
                    },
                    {"data": "dormitoryName" },
                    {"data": "sku" },
                    {"data": "dormitoryType" },
                    {"render": function (data, type, full, meta) {
                            if (full.published == true)
                                return '<i class="fa fa-check" aria-hidden="true"></i>';
                            else
                                return '<i class="fa fa-times" aria-hidden="true"></i>';}
                    },
                    {"render": function (data, type, full, meta) {
                        return '<a class="btn btn-primary" href="/Admin/Configurations/DormitoryEdit"><i class="fa fa-pencil"></i> @Localizer["Edit"]</a>'; }
                    }
                    
                    
                ]


            })

        }) })
    </script>
}

