@using searchDormWeb.Areas.Admin.Models.ActivityLog
@model ActivityLogVm
@{
    ViewData["Title"] = Localizer["Activity Log"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @Localizer["Activity Log"]

        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" class="btn btn-danger "> <i class="fa fa-trash"></i> @Localizer["Clear"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-solid">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <dau-label asp-for="CreatedFrom"> </dau-label>
                            <dau-date asp-for="CreatedFrom"></dau-date>
                            <span asp-validation-for="CreatedFrom"></span>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="CreatedTo"> </dau-label>
                            <dau-date asp-for="CreatedTo"></dau-date>
                            <span asp-validation-for="CreatedTo"></span>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="IpAddress"> </dau-label>
                            <dau-input type="text" asp-for="IpAddress"></dau-input>
                            <span asp-validation-for="IpAddress"></span>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="ActivityLogType"> </dau-label>
                            <dau-select asp-for="ActivityLogType"></dau-select>
                            <span asp-validation-for="ActivityLogType"></span>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary btn-lg "> <i class="fa fa-search"></i> @Localizer["Search"]</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>



            <div class="box box-solid">

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="overflow">
                        <table id="activityLogTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>@Localizer["Activity log type"]</th>
                                    <th>@Localizer["User"]</th>
                                    <th>@Localizer["Ip address"]</th>
                                    <th>@Localizer["Message/Action"]</th>
                                    <th>@Localizer["Created on"]</th>
                                    <th>@Localizer["Delete"]</th>
                                </tr>
                            </thead>


                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <!-- DataTables -->
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- Select2 -->
    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>

    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <script src="@Url.Content("~/Content/")bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="@Url.Content("~/Content/")plugins/timepicker/bootstrap-timepicker.min.js"></script>

    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            $('.date-control').datepicker({
                autoclose: true,
                orientation: "left bottom",
            })


            $('#activityLogTable').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    Pace.start();
                } else {
                    Pace.stop();
                }
            }).DataTable({
                'paging': true,
                'lengthChange': true,
                "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
               
                "aLengthMenu": [[20, 3, 5], [20, 3, 5]],
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "ajax": {
                    "url": "/Admin/ActivityLog/Log",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = "myValue";
                        d.DiscountName = "myValue";
                        d.CouponCode = "myValue";
                        d.DiscountType = "myValue";
                    },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "activityLogType" },
                    { "data": "user" },
                    { "data": "ipAddress" },
                    { "data": "messageAction" },
                    { "data": "createdOn" },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-danger" ><i class="fa fa-times"></i> @Localizer["Delete"]</a>';
                        }
                    }


                ]


            })

        })
    </script>
}

