@using searchDormWeb.Areas.Admin.Models.ActivityLog
@model ActivityLogVm
@{
    ViewData["Title"] = "_ActivityLog_Log";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Activity Log
            <small>Optional description</small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" class="btn btn-danger "> <i class="fa fa-trash"></i> Clear</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <dau-label asp-for="CreatedFrom"> </dau-label>
                            <dau-date asp-for="CreatedFrom"></dau-date>
                            <span asp-validation-for="CreatedFrom"></span>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="CreatedTo"> </dau-label>
                            <dau-date asp-for="CreatedTo"></dau-date>
                            <span asp-validation-for="CreatedTo"></span>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="IpAddress"> </dau-label>
                            <dau-input type="text" asp-for="IpAddress"></dau-input>
                            <span asp-validation-for="IpAddress"></span>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="ActivityLogType"> </dau-label>
                            <dau-select asp-for="ActivityLogType"></dau-select>
                            <span asp-validation-for="ActivityLogType"></span>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary btn-lg "> <i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </form>
            </div>



            <div class="box">

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="overflow">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Activity log type</th>
                                    <th>User</th>
                                    <th>Ip address</th>
                                    <th>Message/Action</th>
                                    <th>Created on</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Add a new room</td>
                                    <td>msjahun@live.com</td>
                                    <td>41.182.13.215</td>
                                    <td>Add a new room (Alfam Studio)</td>
                                    <td>7/2/2018 3:32:20</td>
                                    <td>  <button type="submit" class="btn btn-danger "> <i class="fa fa-times"></i> Delete</button></td>
                                </tr>
                                <tr>
                                    <td>Edit a  room</td>
                                    <td>msjahun@live.com</td>
                                    <td>41.182.13.215</td>
                                    <td>Add a new room (Alfam Studio)</td>
                                    <td>7/2/2018 3:32:20</td>
                                    <td>  <button type="submit" class="btn btn-danger "> <i class="fa fa-times"></i> Delete</button></td>
                                </tr>
                                <tr>
                                    <td>Added a new room</td>
                                    <td>msjahun@live.com</td>
                                    <td>41.182.13.215</td>
                                    <td>Add a new room (Alfam Studio)</td>
                                    <td>7/2/2018 3:32:20</td>
                                    <td>  <button type="submit" class="btn btn-danger "> <i class="fa fa-times"></i> Delete</button></td>
                                </tr>
                                <tr>
                                    <td>Added a new room</td>
                                    <td>msjahun@live.com</td>
                                    <td>41.182.13.215</td>
                                    <td>Add a new room (Alfam Studio)</td>
                                    <td>7/2/2018 3:32:20</td>
                                    <td>  <button type="submit" class="btn btn-danger "> <i class="fa fa-times"></i> Delete</button></td>
                                </tr>
                                <tr>
                                    <td>Added a new room</td>
                                    <td>msjahun@live.com</td>
                                    <td>41.182.13.215</td>
                                    <td>Add a new room (Alfam Studio)</td>
                                    <td>7/2/2018 3:32:20</td>
                                    <td>  <button type="submit" class="btn btn-danger "> <i class="fa fa-times"></i> Delete</button></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <!-- DataTables -->

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- Select2 -->
    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>

    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()


            $('#example').DataTable()
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
}

