@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Identity
@using Dau.Core.Domain.User;
@using Dau.Services.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUsersService _userService

<header class="header-transparent " id="header-main">

    <!-- Search -->
    <div id="search-main" class="navbar-search">
        <div class="container">
            <!-- Search form -->
            <form class="navbar-search-form" role="form">
                <div class="form-group">
                    <div class="input-group input-group-transparent">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Type and hit enter ...">
                    </div>
                </div>
            </form>
            <div class="navbar-search-suggestions">
                <h6>Search Suggestions</h6>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>Alfam dormitories</span> in private dormitories
                                </a>
                            </li>

                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>Akdeniz dormitories</span> in private dormitories
                                </a>
                            </li>



                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>EMU 1 dormitories</span> in EMU dormitories
                                </a>
                            </li>


                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>EMU 2 dormitories</span> in EMU dormitories
                                </a>
                            </li>


                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>Alfam dormitories</span> in private dormitories
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Topbar -->
    <div id="navbar-top-main" class="navbar-top   navbar-dark bg-dark border-bottom">
        <div class="container">
            <div class="navbar-nav align-items-center">
                <div class="d-none d-lg-inline-block">
                    <span class="navbar-text mr-3">Search Dorms - EMU</span>
                </div>
                <div>
                    <ul class="nav">
                        <li class="nav-item dropdown ml-lg-2 dropdown-animate" data-toggle="hover">
                            <a class="nav-link px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img alt="Image placeholder" src="http://35.204.232.129/Content/dist/img/tr-flag.png">
                                <span class="d-none d-lg-inline-block">Turkish</span>
                                <span class="d-lg-none">EN</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-arrow">
                                <a href="" class="dropdown-item">
                                    <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/flags/us.svg">English
                                </a>
                                <a href="" class="dropdown-item">
                                    <img alt="Image placeholder" src="http://35.204.232.129/Content/dist/img/tr-flag.png">Turkish
                                </a>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ml-auto">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../pages/support.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-action="search-open" data-target="#search-main"><i class="fas fa-search"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-action="search-open" data-target="#search-main"><i class="fas fa-heart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../pages/shop-cart.html"><i class="fas fa-shopping-cart"></i></a>

                        </li>

                        @if (SignInManager.IsSignedIn(User)) {
                            <li class="nav-item">
                                <a href="#" class="avatar avatar-sm rounded-circle mr-3">
                                    <img alt="Image placeholder" src="https://avatars2.githubusercontent.com/u/19820517?s=460&v=4">
                                </a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Main navbar -->

    <nav class="navbar navbar-main navbar-expand-lg  @ViewData["navClass"]  " id="navbar-main">
        <div class="container">
            <a class="navbar-brand mr-lg-5" href="../index.html">
                <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/brand/white.png" style="width:380px">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav align-items-lg-center">
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Home" asp-action="">Home</a>
                    </li>

                    @**{ <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
                    <div class="list-group">
                        <a href="../pages/pages-landing.html" class="list-group-item list-group-item-action">
                            <div class="media d-flex align-items-center">
                                <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/dusk/svg/browser-window.svg" class="img-saturate" style="width: 50px;">
                                <div class="media-body ml-3">
                                    <h6 class="mb-1">Landing Pages</h6>
                                    <p class="mb-0">A great point to start from.</p>
                                </div>
                            </div>
                        </a>
                        <a href="../pages/pages-secondary.html" class="list-group-item list-group-item-action">
                            <div class="media d-flex align-items-center">
                                <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/dusk/svg/ios-photos.svg" class="img-saturate" style="width: 50px;">
                                <div class="media-body ml-3">
                                    <h6 class="mb-1">Secondary Pages</h6>
                                    <p class="mb-0">Build your website with these demos.</p>
                                </div>
                            </div>
                        </a>
                        <a href="../pages/pages-account.html" class="list-group-item list-group-item-action">
                            <div class="media d-flex align-items-center">
                                <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/dusk/svg/maintenance.svg" class="img-saturate" style="width: 50px;">
                                <div class="media-body ml-3">
                                    <h6 class="mb-1">Account Pages</h6>
                                    <p class="mb-0">Account management made easy.</p>
                                </div>
                            </div>
                        </a>
                        <a href="../pages/pages-shop.html" class="list-group-item list-group-item-action">
                            <div class="media d-flex align-items-center">
                                <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/dusk/svg/in-progress.svg" class="img-saturate" style="width: 50px;">
                                <div class="media-body ml-3">
                                    <h6 class="mb-1">Shop Pages</h6>
                                    <p class="mb-0">Explore the full ecommerce website flow.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>**@

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="debug" asp-action="SearchResultPage" role="button">Accomodation</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../docs/alerts.html" role="button">Deals</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" asp-controller="debug" asp-action="ExploreEMU" role="button">Explore EMU</a>
                    </li>
                </ul>


                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="debug" asp-action="AccountSettings">My Account</a>
                        </li>
                        <li class="nav-item mr-0">
                            <a asp-controller="debug" asp-action="BookingCart" class="nav-link d-lg-none">Checkout</a>
                            <a asp-controller="debug" asp-action="BookingCart" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                                <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
                                <span class="btn-inner--text">Checkout</span>
                            </a>
                        </li>
                    </ul>
                }
                else
                {

                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">

                        
                        <li class="nav-item mr-0">
                            <a asp-controller="Login" asp-action="" class="nav-link d-lg-none">Login</a>
                            <a asp-controller="Login" asp-action="" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                                <span class="btn-inner--icon"><i class="fas fa-sign-in-alt"></i></span>
                                <span class="btn-inner--text">Login</span>
                            </a>
                        </li>
                    </ul>

                }
                </div>
        </div>
    </nav>

</header>