@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Identity
@using Dau.Core.Domain.Users;
@using Dau.Services.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUsersService _userService

<style>

    .logoMain {
        width: 380px;
    }

    @@media only screen and (max-width: 600px) {
        .logoMain {
            width: 280px;
        }
    }

    @@media only screen and (max-width: 300px) {
        .logoMain {
            width: 180px;
        }
    }
</style>
<header class="header-transparent bg-dark" id="header-main">


    <!-- Search -->
    <div id="search-main" class="navbar-search">

        <div class="container">

            <!-- Search form -->
            <form class="navbar-search-form" role="form">
                <div class="form-group">
                    <div class="input-group input-group-transparent">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Type and hit enter ...">
                    </div>
                </div>
            </form>
            <div class="navbar-search-suggestions">
                <h6>
                    @Localizer["Search Suggestions"]
                </h6>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>Alfam dormitories</span> in private dormitories
                                </a>
                            </li>

                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>Akdeniz dormitories</span> in private dormitories
                                </a>
                            </li>



                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>EMU 1 dormitories</span> in EMU dormitories
                                </a>
                            </li>


                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>EMU 2 dormitories</span> in EMU dormitories
                                </a>
                            </li>


                            <li>
                                <a class="list-link" href="#">
                                    <i class="fas fa-search"></i>
                                    <span>Alfam dormitories</span> in private dormitories
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Topbar -->
    <div id="navbar-top-main" class="navbar-top   navbar-dark bg-dark border-bottom">

        <div class="container ">

            <div class="navbar-nav align-items-center">
                <div class="d-none d-lg-inline-block">

                </div>



                <div>
                    <ul class="nav">
                        <li class="nav-item dropdown ml-lg-2 dropdown-animate" data-toggle="hover">

                            <a class="nav-link px-0" href="#" style="padding-right:15px" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                @if (CultureInfo.CurrentUICulture.Name == "en-US")
                                {
                                    <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/flags/us.svg">
                                    <span class="d-none d-lg-inline-block">English - United States</span>
                                    <span class="d-lg-none">en-US</span>
                                }
                                else if (CultureInfo.CurrentUICulture.Name == "tr-TR")
                                {

                                    <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/flags/tr.svg">
                                    <span class="d-none d-lg-inline-block">Türkçe - Türkiye</span>
                                    <span class="d-lg-none">tr-TR</span>
                                }

                            </a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-arrow">
                                <a href="?culture=en-US" class="dropdown-item">
                                    <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/flags/us.svg">English - United States
                                </a>
                                <a href="?culture=tr-TR" class="dropdown-item">
                                    <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/flags/tr.svg">Türkçe - Türkiye
                                </a>

                            </div>
                        </li>
                    </ul>
                </div>


                @{await Html.RenderPartialAsync("/Views/Shared/Components/AdminEntryPointNew.cshtml", null);}


            <div class="ml-auto">
                <ul class="nav">
                    @if (SignInManager.IsSignedIn(User))
                    {


                        <li class="nav-item dropdown dropdown-animate" data-toggle="hover">



                            <a href="#" class=" avatar avatar-sm rounded-circle mr-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                @if (_userService.GetUserPhotoUrl(SignInManager.UserManager.GetUserId(User)) == null)
                                {
                                <i class="fas fa-user-circle fa-2x"></i>

                                }
                                else
                                {
                                    <img alt="Image placeholder" src="@_userService.GetUserPhotoUrl(SignInManager.UserManager.GetUserId(User))">
                                }


                            </a>

                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
                               
                               

                                <div class="list-group">
                                    <secure-content asp-action="Index" asp-controller="Admin" asp-area="">
                                        <span class="p-3  text-center">@Localizer["Signed in as"] @_userService.GetFirstLastNames(SignInManager.UserManager.GetUserId(User))</span>
                                        <a asp-action="Index" asp-controller="Admin" class="list-group-item list-group-item-action">
                                            <div class="media d-flex align-items-center">
                                                <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/dusk/svg/browser-window.svg" class="img-saturate d-none d-sm-block" style="width: 50px;">
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-1">@Localizer["Admin Area"]</h6>
                                                    <p class="mb-0 d-none d-sm-block">@Localizer["Takes you to the Administration area."]</p>
                                                </div>

                                            </div>

                                        </a>

                                    </secure-content>



                                    <a asp-action="Billing" asp-controller="Account" class="list-group-item list-group-item-action">
                                        <div class="media d-flex align-items-center">
                                            <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/dusk/svg/ios-photos.svg" class="img-saturate d-none d-sm-block" style="width: 50px;">
                                            <div class="media-body ml-3">
                                                <h6 class="mb-1">@Localizer["View my bookings"]</h6>
                                                <p class="mb-0 d-none d-sm-block">@Localizer["See your booking history."]</p>
                                            </div>

                                        </div>

                                    </a>

                                    <a asp-action="Profile" asp-controller="Account" class="list-group-item list-group-item-action">
                                        <div class="media d-flex align-items-center">
                                            <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/dusk/svg/maintenance.svg" class="img-saturate d-none d-sm-block" style="width: 50px;">
                                            <div class="media-body ml-3">
                                                <h6 class="mb-1">@Localizer["Account Settings"]</h6>
                                                <p class="mb-0 d-none d-sm-block">@Localizer["Your account settings."]</p>
                                            </div>

                                        </div>

                                    </a>



                                    <a asp-controller="Login" asp-action="Logout" class="list-group-item list-group-item-action">
                                        <div class="media d-flex align-items-center">
                                            <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/dusk/svg/logout-rounded-left.svg" class="img-saturate d-none d-sm-block" style="width: 50px;">
                                            <div class="media-body ml-3">
                                                <h6 class="mb-1">@Localizer["Logout"]</h6>
                                                <p class="mb-0 d-none d-sm-block">@Localizer["Signs you out of your account."]</p>
                                            </div>

                                        </div>

                                    </a>

                                </div>

                            </div>

                        </li>

                    }

                    <li class="nav-item">
                        <a href="#" class="nav-link" data-action="search-open" data-target="#search-main"><i class="fas fa-search"></i></a>
                    </li>


                    <li class="nav-item dropdown ml-lg-2 dropdown-animate" data-toggle="hover">
                        <a class="nav-link px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-lg-inline-block">TL</span>
                            <span class="d-lg-none">USD</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-arrow">
                            <a href="" class="dropdown-item">
                                TL
                            </a>
                            <a href="" class="dropdown-item">
                                USD
                            </a>

                        </div>
                    </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-action="search-open" data-target="#search-main"><i class="fas fa-bell"><span class="badge badge-danger ml-2">1</span></i> </a>
                        </li>
                    }

                    @*<li class="nav-item">
                        <a class="nav-link" asp-action="CartEmpty" asp-controller="Booking"><i class="fas fa-shopping-cart"></i></a>

                    </li>*@


                </ul>
            </div>
            </div>
        </div>
    </div>


    <!-- Main navbar -->

    <nav class="navbar navbar-main navbar-expand-lg  @ViewData["navClass"]  " id="navbar-main">


        <div class="container">

            <a class="navbar-brand mr-lg-5" asp-controller="Home" asp-action="">
                <img alt="Image placeholder" class="logoMain" src="@Url.Content("~/frontend_Content/assets")@Localizer["/img/brand/white.png"]" style="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav align-items-lg-center">
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Home" asp-action="">@Localizer["Home"]</a>
                    </li>






                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Search" asp-action="Results" role="button">@Localizer["Accommodation"]</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Explore" asp-action="Dormitories" role="button">@Localizer["Explore EMU"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="" asp-fragment="Dormitories-deals" role="button">@Localizer["Deals"]</a>
                    </li>



                </ul>


                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Settings">@Localizer["My Account"]</a>
                        </li>
                        <li class="nav-item mr-0">
                            <a asp-controller="Booking" asp-action="Cart" class="nav-link d-lg-none">
                                @Localizer["Checkout"] <span class="badge badge-pill badge-danger text-sm">1</span>
                            </a>

                            <a asp-controller="Booking" asp-action="Cart" class="btn btn-white btn-sm btn-circle btn-translate--hover d-none d-lg-block"><i class="fas fa-shopping-cart"></i> @Localizer["Checkout"] <span class="badge badge-pill badge-danger text-sm">1</span></a>
                        </li>
                    </ul>
                }
                else
                {

                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">


                        <li class="nav-item mr-0">
                            <a asp-controller="Login" asp-action="" class="nav-link d-lg-none">
                                @Localizer["Login"]
                            </a>
                            <a asp-controller="Login" asp-action="" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                                <span class="btn-inner--icon"><i class="fas fa-sign-in-alt"></i></span>
                                <span class="btn-inner--text">@Localizer["Login"]</span>
                            </a>
                        </li>
                    </ul>

                }
            </div>
        </div>
    </nav>

</header>

