@using Dau.Services.Domain.AnnouncementsServices
@model AnnouncementCrud

@{
    ViewData["Title"] = Localizer["Edit Announcement"];
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
    var item = Model;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small><a asp-action="Announcements" asp-controller="Notifications"><i class="fa fa-arrow-circle-left"></i> @Localizer["back to announcements list"]</a></small>

        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type='button' onClick='resolveButton("SaveClose")' class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save"]</button>
                    <button type='button' onClick='resolveButton("SaveContinue")' class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save and Continue Edit"]</button>
                    <button type='button' onClick='resolveButton("Delete")' class="btn btn-danger "> <i class="fa fa-trash-o"></i> @Localizer["Delete"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal " method="post" id="editForm" asp-action="AnnouncementEdit" asp-controller="Notifications">
                    <div style="color:red;" asp-validation-summary="All"></div>
                    <div class="box-body">
                        <div class="form-group">

                            <dau-label asp-for="Title"></dau-label>
                            <dau-input asp-for="Title" type="text"></dau-input>
                            <span asp-validation-for="Title"></span>
                        </div>

                        <div class="form-group">

                            <dau-label asp-for="Message"></dau-label>
                            <dau-textarea asp-for="Message"></dau-textarea>
                            <span asp-validation-for="Message"></span>
                        </div>

                        <div class="form-group">

                            <dau-label asp-for="StartDate"></dau-label>
                            <dau-date asp-for="StartDate"></dau-date>
                            <span asp-validation-for="StartDate"></span>
                        </div>


                        <div class="form-group">

                            <dau-label asp-for="EndDate"></dau-label>
                            <dau-date asp-for="EndDate"></dau-date>
                            <span asp-validation-for="EndDate"></span>
                        </div>

                        <div class="form-group">
                            <dau-label asp-for="Priority"></dau-label>
                            <dau-input asp-for="Priority" type="number"></dau-input>
                            <span asp-validation-for="Priority"></span>
                        </div>


                        <div class="form-group">
                            <dau-label asp-for="Published"></dau-label>
                            <div class="col-sm-8">
                                <input asp-for="Published" type="checkbox">
                            </div>
                            <span asp-validation-for="Published"></span>

                        </div>


                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <dau-label asp-for="CreatedOn"></dau-label>
                            <div class="col-sm-9">
                                <p>@item.CreatedOn</p>
                            </div>

                        </div>


                    </div>
                    <!-- /.box-body -->

                </form>
            </div>


        </div>


    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {



    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/ckeditor/ckeditor.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>

    <script>


            function resolveButton(button) {
                switch (button) {


                    case "SaveClose": {
                        alert("SaveClose");
                    }; break;


                    case "SaveContinue": {
                        console.log("SaveContinue");
                        $('#editForm').attr('action', "/admin/Notifications/AnnouncementEdit").submit();
                    }; break;




                    case "Delete": {
                        console.log("DeleteRoom");
                        var r = confirm("@Localizer["Are you sure you want to announcement"]");
                        if (r == true) {
                            $('#editForm').attr('action', "/admin/Notifications/DeleteAnnouncement").submit();
                        }

                    }; break;
                }
            }

            $(function () {
                ///Intialize datepicker
                $('.date-control').datepicker({
                    autoclose: true
                })
            });


    </script>

}

