@using static Dau.Services.Domain.DormitoryBlockServices.DormitoryBlockService;
@model DormitoryBlockCrud
@{
    ViewData["Title"] = Localizer["Add Dormitory Block"];
 Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small><a asp-action="DormitoryBlocks" asp-controller="Catalog"><i class="fa fa-arrow-circle-left"></i> @Localizer["back to dormitory blocks list"]</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save"]</button>
                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> @Localizer["Save and Continue Edit"]</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">@Localizer["Block Info"]</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">@Localizer["Rooms"]</a></li>

                </ul>
                <div class="tab-content">
                    <!-- /.tab-pane -->






                    <div class="tab-pane active" id="tab_3">

                        <div class="box ">
                            <div class="box-header"></div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">
                                <form class="form-horizontal" method="post" id="addForm" asp-controller="Catalog" asp-action="DormitoryBlockAdd">
                                    <div style="color:red;" asp-validation-summary="All"></div>
                                    <div class="form-group">
                                        <dau-label asp-for="Dormitory"></dau-label>
                                        <div class="col-sm-8">
                                            <select asp-for="Dormitory" asp-items="_dropdown.Dormitories()" id="DormitorySelect" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                                        </div>
                                        <span asp-validation-for="Dormitory"></span>

                                    </div>

                                    <dau-tabs id="ContentLanguageTab">

                                        <dau-tab active="true" id="tab2" name="English" flag="@Url.Content("~/Content/")dist/img/us.png">
                                            <div class="form-group">

                                                <dau-label asp-for="localizedContent[0].Name"></dau-label>
                                                <dau-input asp-for="localizedContent[0].Name" type="text"></dau-input>
                                                <span asp-validation-for="localizedContent[0].Name"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="localizedContent[0].Description"></dau-label>
                                                <dau-textarea asp-for="localizedContent[0].Description"></dau-textarea>
                                                <span asp-validation-for="localizedContent[0].Description"></span>

                                            </div>


                                        </dau-tab>
                                        <dau-tab id="tab3" name="Turkish" flag="@Url.Content("~/Content/")dist/img/tr.png">

                                            <div class="form-group">

                                                <dau-label asp-for="localizedContent[1].Name"></dau-label>
                                                <dau-input asp-for="localizedContent[1].Name" type="text"></dau-input>
                                                <span asp-validation-for="localizedContent[1].Name"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="localizedContent[1].Description"></dau-label>
                                                <dau-textarea asp-for="localizedContent[1].Description"></dau-textarea>
                                                <span asp-validation-for="localizedContent[1].Description"></span>

                                            </div>
                                        </dau-tab>
                                    </dau-tabs>




                                    <!-- /.nav-tabs -->








                                    <div class="form-group">
                                        <dau-label asp-for="Published"></dau-label>
                                        <div class="col-sm-8">
                                            <input asp-for="Published" type="checkbox">
                                        </div>
                                        <span asp-validation-for="Published"></span>
                                    </div>





                                </form>

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box-->
                    </div>















                    <!-- /.tab-pane -->
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="box ">
                            <div class="box-header"></div>
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">
                                <p> @Localizer["You need to save dormitory block before you can add roms for this dormitory block"]</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.tab-content -->
            </div>


        </div>
    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>



@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")bower_components/ckeditor/ckeditor.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <script>
        $(function () {

            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.


            //Initialize Select2 Elements
            $('.select2').select2()
            ///Intialize datepicker
            $('#datepicker').datepicker({
                autoclose: true
            })


            $('#example').DataTable()
            $('#example1').DataTable({
                'paging': false,
                   "language": {
                    "url": "@Url.Content("~/frontend_Content/")assets/js/@Localizer["DataTable_i18n/English.json"]"
                },
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
}

