@using searchDormWeb.Areas.Admin.Models.Catalog
@model RoomAdd
@{
    ViewData["Title"] = "Add room";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small><a asp-action="Rooms" asp-controller="Catalog"><i class="fa fa-arrow-circle-left"></i> back to rooms list</a></small>
        </h1>
        <div class="row">
            <div class=" col-md-12">
                <div class="upper_left pull-right">

                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> Save</button>
                    <button type="submit" form="addForm" class="btn btn-primary "> <i class="fa fa-floppy-o"></i> Save and Continue Edit</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
        | Your Page Content Here |
        -------------------------->

        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">Room info</a></li>
                    <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">SEO</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Pictures</a></li>
                    <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="false">Room Specification attributes</a></li>
                </ul>
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_3">
                        <div class="row">

                            <div class="col-md-6" id="first_column">

                                <div class="box box-solid">
                                    <div class="box-header">General information</div>
                                    <!-- /.box-header -->
                                    <!-- form start -->

                                    <div class="box-body">
                                        <form class="form-horizontal">

                                            <div class="form-group">
                                                <dau-label asp-for="RoomType"></dau-label>
                                                <dau-select asp-for="RoomType" ></dau-select>
                                                <span asp-validation-for="RoomType"></span>
                                            </div>

                                            <dau-tabs id="LanguageTab">
                                                <dau-tab id="tab1" name="Standard" active="true">

                                                    <div class="form-group">
                                                        <dau-label asp-for="RoomName_sd"></dau-label>
                                                        <dau-input asp-for="RoomName_sd" type="text"></dau-input>
                                                        <span asp-validation-for="RoomName_sd"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <dau-label asp-for="ShortDescription_sd"></dau-label>
                                                        <dau-textarea asp-for="ShortDescription_sd"></dau-textarea>
                                                        <span asp-validation-for="ShortDescription_sd"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <dau-label asp-for="FullDescription_sd"></dau-label>
                                                        <dau-textarea asp-for="FullDescription_sd" type="text"></dau-textarea>
                                                        <span asp-validation-for="FullDescription_sd"></span>
                                                    </div>


                                                </dau-tab>

                                                <dau-tab id="tab2" name="English" flag="@Url.Content("~/Content/")dist/img/us.png">

                                                    <div class="form-group">
                                                        <dau-label asp-for="RoomName_en"></dau-label>
                                                        <dau-input asp-for="RoomName_en" type="text"></dau-input>
                                                        <span asp-validation-for="RoomName_en"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <dau-label asp-for="ShortDescription_en"></dau-label>
                                                        <dau-textarea asp-for="ShortDescription_en"></dau-textarea>
                                                        <span asp-validation-for="ShortDescription_en"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <dau-label asp-for="FullDescription_en"></dau-label>
                                                        <dau-textarea asp-for="FullDescription_en" type="text"></dau-textarea>
                                                        <span asp-validation-for="FullDescription_en"></span>
                                                    </div>
                                                </dau-tab>

                                                <dau-tab id="tab3" name="Turkish" flag="@Url.Content("~/Content/")dist/img/tr.png">
                                                    <div class="form-group">
                                                        <dau-label asp-for="RoomName_tr"></dau-label>
                                                        <dau-input asp-for="RoomName_tr" type="text"></dau-input>
                                                        <span asp-validation-for="RoomName_tr"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <dau-label asp-for="ShortDescription_tr"></dau-label>
                                                        <dau-textarea asp-for="ShortDescription_tr"></dau-textarea>
                                                        <span asp-validation-for="ShortDescription_tr"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <dau-label asp-for="FullDescription_tr"></dau-label>
                                                        <dau-textarea asp-for="FullDescription_tr" type="text"></dau-textarea>
                                                        <span asp-validation-for="FullDescription_tr"></span>
                                                    </div>
                                                </dau-tab>
                                            </dau-tabs>












                                            <div class="form-group">
                                                <dau-label asp-for="SKU"></dau-label>
                                                <dau-input asp-for="SKU" type="text"></dau-input>
                                                <span asp-validation-for="SKU"></span>
                                            </div>

                                            <div class="form-group">
                                                <dau-label asp-for="Published"></dau-label>
                                                <div class="col-sm-8">
                                                    <input asp-for="Published" type="checkbox">
                                                    </div>
                                                    <span asp-validation-for="Published"></span>
                                                </div>

                                            <div class="form-group">
                                                <dau-label asp-for="RoomTags"></dau-label>
                                                <dau-select asp-for="RoomTags" multiple-select="true"></dau-select>
                                                <span asp-validation-for="RoomTags"></span>

                                            </div>

                                                <div class="form-group">
                                                    
                                                    <dau-label asp-for="ShowOnHomePage"></dau-label>
                                                    <div class="col-sm-8">
                                                        <input asp-for="ShowOnHomePage" type="checkbox">
                                                    </div>
                                                    <span asp-validation-for="ShowOnHomePage"></span>

                                                </div>


                                                <div class="form-group">
                                                   
                                                    <dau-label asp-for="AllowCustomerReviews"></dau-label>
                                                    <div class="col-sm-8">
                                                        <input asp-for="AllowCustomerReviews" type="checkbox">
                                                    </div>
                                                    <span asp-validation-for="AllowCustomerReviews"></span>

                                                </div>

                                                <div class="form-group">
                                                  <dau-label asp-for="AvailableStartDate"></dau-label>
                                                    <dau-date asp-for="AvailableStartDate"></dau-date>
                                                    <span asp-validation-for="AvailableStartDate"></span>

                                                </div>

                                                <div class="form-group">
                                                   <dau-label asp-for="AvailableEndDate"></dau-label>
                                                    <dau-date asp-for="AvailableEndDate"></dau-date>
                                                    <span asp-validation-for="AvailableEndDate"></span>

                                                </div>



                                                <div class="form-group">
                                                    
                                                    <dau-label asp-for="MarkAsNew"></dau-label>
                                                    <div class="col-sm-8">
                                                        <input asp-for="MarkAsNew" type="checkbox">
                                                    </div>
                                                    <span asp-validation-for="MarkAsNew"></span>

                                                </div>


                                                <div class="form-group">
                                                   
                                                    <dau-label asp-for="AdminComment"></dau-label>
                                                    <dau-textarea asp-for="AdminComment"></dau-textarea>
                                                    <span asp-validation-for="AdminComment"></span>

                                                </div>




</form>
                                    </div>
                                </div>


                                <div class="box box-solid">
                                    <div class="box-header">Prices</div>
                                    <!-- /.box-header -->
                                    <!-- form start -->

                                    <div class="box-body">
                                        <form class="form-horizontal">

                                            <div class="form-group">

                                                <dau-label asp-for="Price"></dau-label>
                                                <dau-inputaddon type="number" asp-for="Price" cols="4" text="TRY"></dau-inputaddon>
                                                <span asp-validation-for="Price"></span>

                                            </div>

                                            <div class="form-group">
                                                <dau-label asp-for="OldPrice"></dau-label>
                                                <dau-inputaddon type="number" asp-for="OldPrice" cols="4" text="TRY"></dau-inputaddon>
                                                <span asp-validation-for="OldPrice"></span>

                                            </div>

                                            <div class="form-group">
                                                <dau-label asp-for="RoomCost"></dau-label>
                                                <dau-inputaddon type="number" asp-for="RoomCost" cols="4" text="TRY"></dau-inputaddon>
                                                <span asp-validation-for="RoomCost"></span>
                                            </div>

                                            <div class="form-group">
                                               
                                                <dau-label asp-for="DisableBuyButton"></dau-label>
                                                <div class="col-sm-8">
                                                    <input asp-for="DisableBuyButton" type="checkbox">
                                                </div>
                                                <span asp-validation-for="DisableBuyButton"></span>

                                            </div>

                                            <div class="form-group">
                                               
                                                <dau-label asp-for="DisableWishlistButton"></dau-label>
                                                <div class="col-sm-8">
                                                    <input asp-for="DisableWishlistButton" type="checkbox">
                                                </div>
                                                <span asp-validation-for="DisableWishlistButton"></span>

                                            </div>

                                            <div class="form-group">
                                               
                                                <dau-label asp-for="AvailableForPreBooking"></dau-label>
                                                <div class="col-sm-8">
                                                    <input asp-for="AvailableForPreBooking" type="checkbox">
                                                </div>
                                                <span asp-validation-for="AvailableForPreBooking"></span>

                                            </div>

                                            <div class="form-group">
                                              
                                                <dau-label asp-for="CallForPrice"></dau-label>
                                                <div class="col-sm-8">
                                                    <input asp-for="CallForPrice" type="checkbox">
                                                </div>
                                                <span asp-validation-for="CallForPrice"></span>

                                            </div>

                                            <div class="form-group">
              
                                                <dau-label asp-for="Discounts"></dau-label>
                                                <dau-select asp-for="Discounts" multiple-select="true"></dau-select>
                                                <span asp-validation-for="Discounts"></span>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6" id="second_column">

                                <div class="box box-solid">
                                    <div class="box-header">Inventory</div>
                                    <!-- /.box-header -->
                                    <!-- form start -->

                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <dau-label asp-for="InventoryMethod"></dau-label>
                                                <dau-select asp-for="InventoryMethod" ></dau-select>
                                                <span asp-validation-for="InventoryMethod"></span>

                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="box box-solid">
                                    <div class="box-header">Mappings</div>
                                    <!-- /.box-header -->
                                    <!-- form start -->

                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <dau-label asp-for="Dormitory"></dau-label>
                                                <dau-select asp-for="Dormitory" ></dau-select>
                                                <span asp-validation-for="Dormitory"></span>

                                            </div>

                                            <div class="form-group">
                                                <dau-label asp-for="DormitoryBlock"></dau-label>
                                                <dau-select asp-for="DormitoryBlock" multiple-select="true"></dau-select>
                                                <span asp-validation-for="DormitoryBlock"></span>

                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="box box-solid">
                                    <div class="box-header">Access control list</div>
                                    <!-- /.box-header -->
                                    <!-- form start -->

                                    <div class="box-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <dau-label asp-for="UserRoles"></dau-label>
                                                <dau-select asp-for="UserRoles" multiple-select="true"></dau-select>
                                                <span asp-validation-for="UserRoles"></span>

                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="box box-solid">
                                    <div class="box-header">Related rooms</div>
                                    <!-- /.box-header -->
                                    <!-- form start -->

                                    <div class="box-body">
                                        <p>You need to save the room before you can add related roomfor this room page</p>
                                    </div>
                                </div>


                            </div>

                        </div>


                    </div>
                    <!-- /.tab-pane -->






                    <div class="tab-pane" id="tab_1">
                        <div class="box box-solid">
                            
                            <!-- /.box-header -->
                            <!-- form start -->

                            <div class="box-body">
                                <form class="form-horizontal">


                                    <dau-tabs id="LanguageTabSEO">
                                        <dau-tab id="tab1" name="Standard" active="true">
                                            <div class="form-group">
                                               <dau-label asp-for="MetaKeywords_sd"></dau-label>
                                                <dau-input asp-for="MetaKeywords_sd" type="text"></dau-input>
                                                <span asp-validation-for="MetaKeywords_sd"></span>

                                            </div>

                                            <div class="form-group">
                                                 <dau-label asp-for="MetaDescription_sd"></dau-label>
                                                <dau-input asp-for="MetaDescription_sd" type="text"></dau-input>
                                                <span asp-validation-for="MetaDescription_sd"></span>

                                            </div>


                                            <div class="form-group">
                                              <dau-label asp-for="MetaTitle_sd"></dau-label>
                                                <dau-input asp-for="MetaTitle_sd" type="text"></dau-input>
                                                <span asp-validation-for="MetaTitle_sd"></span>

                                            </div>

                                            <div class="form-group">
                                                
                                                <dau-label asp-for="SearchEngineFriendlyPageName_sd"></dau-label>
                                                <dau-input asp-for="SearchEngineFriendlyPageName_sd" type="text"></dau-input>
                                                <span asp-validation-for="SearchEngineFriendlyPageName_sd"></span>

                                            </div>
                                            </dau-tab>

                                        <dau-tab id="tab2" name="English" flag="@Url.Content("~/Content/")dist/img/us.png">
                                            <div class="form-group">
                                                <dau-label asp-for="MetaKeywords_en"></dau-label>
                                                <dau-input asp-for="MetaKeywords_en" type="text"></dau-input>
                                                <span asp-validation-for="MetaKeywords_en"></span>

                                            </div>

                                            <div class="form-group">
                                                <dau-label asp-for="MetaDescription_en"></dau-label>
                                                <dau-input asp-for="MetaDescription_en" type="text"></dau-input>
                                                <span asp-validation-for="MetaDescription_en"></span>

                                            </div>


                                            <div class="form-group">
                                                <dau-label asp-for="MetaTitle_en"></dau-label>
                                                <dau-input asp-for="MetaTitle_en" type="text"></dau-input>
                                                <span asp-validation-for="MetaTitle_en"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="SearchEngineFriendlyPageName_en"></dau-label>
                                                <dau-input asp-for="SearchEngineFriendlyPageName_en" type="text"></dau-input>
                                                <span asp-validation-for="SearchEngineFriendlyPageName_en"></span>

                                            </div>
                                        </dau-tab>
                                        <dau-tab id="tab3" name="Turkish" flag="@Url.Content("~/Content/")dist/img/tr.png">
                                            <div class="form-group">
                                                <dau-label asp-for="MetaKeywords_tr"></dau-label>
                                                <dau-input asp-for="MetaKeywords_tr" type="text"></dau-input>
                                                <span asp-validation-for="MetaKeywords_tr"></span>

                                            </div>

                                            <div class="form-group">
                                                <dau-label asp-for="MetaDescription_tr"></dau-label>
                                                <dau-input asp-for="MetaDescription_tr" type="text"></dau-input>
                                                <span asp-validation-for="MetaDescription_tr"></span>

                                            </div>


                                            <div class="form-group">
                                                <dau-label asp-for="MetaTitle_tr"></dau-label>
                                                <dau-input asp-for="MetaTitle_tr" type="text"></dau-input>
                                                <span asp-validation-for="MetaTitle_tr"></span>

                                            </div>

                                            <div class="form-group">

                                                <dau-label asp-for="SearchEngineFriendlyPageName_tr"></dau-label>
                                                <dau-input asp-for="SearchEngineFriendlyPageName_tr" type="text"></dau-input>
                                                <span asp-validation-for="SearchEngineFriendlyPageName_tr"></span>

                                            </div>
                                        </dau-tab>
                                        </dau-tabs>



                                </form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="box box-solid">
                            

                            <div class="box-body">

                                <p>You need to save the room before you can upload pictures for this room page</p>

                            </div>
                        </div>
                    </div>



                    <div class="tab-pane" id="tab_5">
                        <div class="box box-solid">
                            <div class="box-header">
                                <p>
                                    Specificatino attributes are room features i.e, Bed size, room size and so on. Specification attributes can be used for filtering rooms
                                    on the Dormitory detail page. Unlike room attributes, specification attributes are used for information purpose only.
                                </p>
                            </div>

                            <div class="box-body">

                                <p>You need to save the room before you can add room specification attributes for this room page</p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>



        </div>
    </section>
    <!-- /.content -->
    <!-- /.content -->
</div>

@section styles {


    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <!--Select2-->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Content/")bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")dist/css/skins/_all-skins.min.css">
}


@section scripts
    {

    <script src="@Url.Content("~/Content/")bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/Content/")bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/")dist/js/adminlte.min.js"></script>


    <script src="@Url.Content("~/Content/")bower_components/select2/dist/js/select2.full.min.js"></script>
    @*<script src="@Url.Content("~/Content/")bower_components/datatables.net/js/jquery.dataTables.min.js"></script>*@

    <script src="@Url.Content("~/Content/")bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


    <script src="@Url.Content("~/Content/")bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="@Url.Content("~/Content/")bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <script src="@Url.Content("~/Content/")bower_components/ckeditor/ckeditor.js"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/")bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/")dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {

            CKEDITOR.replace('editor1')

            CKEDITOR.replace('editor2')

            CKEDITOR.replace('editor3')


            //Initialize Select2 Elements
            $('.select2').select2()

            ///Intialize datepicker
            $('#datepicker').datepicker({
                autoclose: true
            })


            $('#example').DataTable()
            $('#example1').DataTable({
                'paging': false,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
}

