
@{

    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Dashboard";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";

    MenuItemViewModel item = new MenuItemViewModel();
    MenuItemViewModel subItem = new MenuItemViewModel();
    List<MenuSubItems> actions = new List<MenuSubItems>();
    List<MenuSubItems> SubActions = new List<MenuSubItems>();
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
       
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="@Localizer["Search..."]">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">@Localizer["MAIN NAVIGATION"]</li>


            <secure-content asp-action="Index" asp-area="Admin" asp-controller="Dashboard">
                <li class=" @(currentController=="Dashboard"? "active" : "")">
                    <a href="@Url.Action("", "Dashboard")">
                        <i class="fa fa-desktop"></i> <span>@Localizer["Dashboard"]</span>
                    </a>
                </li>
            </secure-content>




            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                  new MenuSubItems { ActionName = "TagHelpers", ActionDisplayName =Localizer["TagHelpers"] },
                                  new MenuSubItems { ActionName = "DataTables", ActionDisplayName =Localizer["Ajax DataTables"] }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Debug"],
                    ControllerName = "Debug",
                    icon = "fa fa-bug",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>



            @{SubActions = new List<MenuSubItems>(new MenuSubItems[] {
                                new MenuSubItems {ActionName = "Log", ActionDisplayName =Localizer["Activity Log"] },
                                new MenuSubItems { ActionName = "Type", ActionDisplayName =Localizer["Activity Log Type"] }
                                                                                                      });


                actions = new List<MenuSubItems>(new MenuSubItems[] {
                                       new MenuSubItems { ActionName = "List", ActionDisplayName =Localizer["Users"] },
                                       new MenuSubItems { ActionName = "Roles", ActionDisplayName =Localizer["User roles"] },
                                       new MenuSubItems { ActionName = "OnlineUsers", ActionDisplayName =Localizer["Online Users"] },
                                       new MenuSubItems { ActionName = "UsersReport", ActionDisplayName =Localizer["Users report"] }

                                                                                    });

                subItem = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Activity Log"],
                    ControllerName = "ActivityLog",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = SubActions,
                    subMenu = null
                };

                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Users"],
                    ControllerName = "Users",
                    icon = "fa fa-user",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = subItem
                };
            }


            <Menu-item menu-item="item">
            </Menu-item>







            @{ SubActions = new List<MenuSubItems>(new MenuSubItems[] {
                                  new MenuSubItems {ActionName = "Features", ActionDisplayName =Localizer["Features"] },
                                   new MenuSubItems { ActionName = "FeaturesCategory", ActionDisplayName =Localizer["Features Category"] }
                                                                                                      });


                actions = new List<MenuSubItems>(new MenuSubItems[] {
                                       new MenuSubItems { ActionName = "Rooms", ActionDisplayName =Localizer["Rooms"] },
                                       new MenuSubItems { ActionName = "DormitoryBlocks", ActionDisplayName =Localizer["Dormitory blocks"] },
                                       new MenuSubItems { ActionName = "BulkRoomEdit", ActionDisplayName =Localizer["Bulk edit rooms"] },
                                       new MenuSubItems { ActionName = "RoomReviews", ActionDisplayName =Localizer["Reviews"] },
                                       new MenuSubItems { ActionName = "LowQuotaReport", ActionDisplayName =Localizer["Low quota report"] }


                                                                                    });

                subItem = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Features"],
                    ControllerName = "Catalog",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = SubActions,
                    subMenu = null
                };

                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Catalog"],
                    ControllerName = "Catalog",
                    icon = "fa fa-book",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = subItem
                };
            }


            <Menu-item menu-item="item">
            </Menu-item>







            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                      new MenuSubItems { ActionName = "List", ActionDisplayName =Localizer["Bookings"] },
                                      new MenuSubItems { ActionName = "CancelRequest", ActionDisplayName =Localizer["Cancel bookings request"] },
                                      new MenuSubItems { ActionName = "CurrentWishList", ActionDisplayName =Localizer["Current booking carts"] },
                                      new MenuSubItems { ActionName = "BestSellerRooms", ActionDisplayName =Localizer["Best seller rooms"] },
                                      new MenuSubItems { ActionName = "CountryReport", ActionDisplayName =Localizer["Country report"] },
                                      new MenuSubItems { ActionName = "RoomsNeverReserved", ActionDisplayName =Localizer["Rooms never booked"] } });

                item = new MenuItemViewModel
                {
                    ControllerDisplayName = Localizer["Bookings"],
                    ControllerName = "Reservations",
                    icon = "fa fa-shopping-cart",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }


            <Menu-item menu-item="item">
            </Menu-item>




            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                  new MenuSubItems { ActionName = "Discounts", ActionDisplayName =Localizer["Discounts"] },
                                  new MenuSubItems { ActionName = "Affiliates", ActionDisplayName =Localizer["Affiliates"] },
                                  new MenuSubItems { ActionName = "NewsLetterSubscribers", ActionDisplayName =Localizer["News letter subsribers"] },
                                  new MenuSubItems { ActionName = "Campaigns", ActionDisplayName =Localizer["Campaigns"] }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Promotions"],
                    ControllerName = "Promotions",
                    icon = "fa fa-tags",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>









            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                  new MenuSubItems { ActionName = "Topics", ActionDisplayName =Localizer["Topics(Pages)"] },
                                  new MenuSubItems { ActionName = "MessageTemplates", ActionDisplayName =Localizer["Message templates"] },
                                  new MenuSubItems { ActionName = "Polls", ActionDisplayName =Localizer["Polls"] },
                                  new MenuSubItems { ActionName = "Survey", ActionDisplayName =Localizer["Survey"] }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Content management"],
                    ControllerName = "ContentManagement",
                    icon = "fa fa-cubes",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>




            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                    new MenuSubItems { ActionName = "List", ActionDisplayName =Localizer["Notifications"] },
                                    new MenuSubItems { ActionName = "Announcements", ActionDisplayName =Localizer["Announcements"] },
                                    new MenuSubItems { ActionName = "ManageAnnouncements", ActionDisplayName =Localizer["Manage Announcements"] }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Notifications"],
                    ControllerName = "Notifications",
                    icon = "fa fa-bullhorn",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>



            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                   new MenuSubItems { ActionName = "EmailAccounts", ActionDisplayName =Localizer["EmailAccounts"] },
                                   new MenuSubItems { ActionName = "Dormitories", ActionDisplayName =Localizer["Dormitories"] },
                                   new MenuSubItems { ActionName = "Countries", ActionDisplayName =Localizer["Countries"] },
                                   new MenuSubItems { ActionName = "Languages", ActionDisplayName =Localizer["Languages"] },
                                   new MenuSubItems { ActionName = "Currencies", ActionDisplayName =Localizer["Currencies"] },
                                   new MenuSubItems { ActionName = "AccessControlList", ActionDisplayName =Localizer["Access control lists"] }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Configurations"],
                    ControllerName = "Configurations",
                    icon = "fa fa-gears",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>



            @{




                actions = new List<MenuSubItems>(new MenuSubItems[] {
                                       new MenuSubItems { ActionName = "Information", ActionDisplayName =Localizer["System information"] },
                                       new MenuSubItems { ActionName = "Log", ActionDisplayName =Localizer["Log"] },
                                       new MenuSubItems { ActionName = "Warning", ActionDisplayName =Localizer["Warning"] },
                                       new MenuSubItems { ActionName = "Maintenance", ActionDisplayName =Localizer["Maintenance"] },
                                       new MenuSubItems { ActionName = "MessageQueues", ActionDisplayName =Localizer["Message queue"] },
                                       new MenuSubItems { ActionName = "ScheduleTasks", ActionDisplayName =Localizer["Schedule tasks"] },
                                       new MenuSubItems { ActionName = "SEOFriendlyPageNames", ActionDisplayName =Localizer["SEO friendly page names"] }
                                                                                    });

                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["System"],
                    ControllerName = "System",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    icon = "fa fa-cube",
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }


            <Menu-item menu-item="item">
            </Menu-item>



            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                          new MenuSubItems { ActionName = "UsageReport", ActionDisplayName =Localizer["Usage report"] },
                                          new MenuSubItems { ActionName = "PushNotifications", ActionDisplayName =Localizer["Push notifications"] }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Mobile app Manager"],
                    ControllerName = "MobileAppManager",
                    icon = "fa fa-mobile",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>





            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                          new MenuSubItems { ActionName = "Settings", ActionDisplayName =Localizer["Settings"] },
                                          new MenuSubItems { ActionName = "Clients", ActionDisplayName =Localizer["Clients"] },
                                          new MenuSubItems { ActionName = "Documentation", ActionDisplayName =Localizer["Documentation"] }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["APi"],
                    ControllerName = "API",
                    icon = "fa fa-plug",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>



            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                          new MenuSubItems { ActionName = "Topics", ActionDisplayName =Localizer["Help topics"] },
                                          new MenuSubItems { ActionName = "FAQ", ActionDisplayName =Localizer["FAQ"] }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName =Localizer["Help"],
                    ControllerName = "Help",
                    icon = "fa fa-question-circle",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>


</section>
    <!-- /.sidebar -->
</aside>

