
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}


<!-- Main content -->
<section class="content">

    <div class="error-page" style="margin-top:35vh;">
        <h2 class="headline text-red" style="margin-top:-20px;">500</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> @Localizer["Oops! Access denied"]</h3>

            <p>
                @Localizer["It's like you do not have permission to Access"]   @if (ViewData["ReturnUrl"] != null)
                {
                    @: <a href="@ViewData["ReturnUrl"]">@ViewData["ReturnUrl"]</a> @Localizer["Page."]
                }
                else
                { 
                    @:@Localizer["this Area."]
                }

                @Localizer["Meanwhile, you may"] <a href="@Url.Content("/")">@Localizer["return to Home Page"]</a>@Localizer["or to login with the an account that has proper permissions in the"] <a href="@Url.Content("/Login")"> @Localizer["Login page"]</a>

            </p>


        </div>
    </div>
    <!-- /.error-page -->

</section>
<!-- /.content -->
