
@{
    ViewData["Title"] = "PageNotFound";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var error_id = Model;
}



<!-- Main content -->
<section class="content">
    <div class="error-page" style="margin-top:35vh;">
        <h2 class="headline text-yellow" style="margin-top:-20px;"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> @Localizer["Oops! Page not found."]</h3>

            <p>
                @Localizer["We could not find the page you were looking for."]
                @Localizer["Meanwhile, you may"] <a href="@Url.Content("/")">@Localizer["return to Home Page"]</a> @Localizer["or to login in the"] <a href="@Url.Content("/Login")">@Localizer["Login page"]</a>
            </p>

       
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->